@charset "UTF-8";

@font-face {
  font-family: "ucraftme-v1";
  src:url("fonts/ucraftme-v1.eot");
  src:url("fonts/ucraftme-v1.eot?#iefix") format("embedded-opentype"),
    url("fonts/ucraftme-v1.woff") format("woff"),
    url("fonts/ucraftme-v1.ttf") format("truetype"),
    url("fonts/ucraftme-v1.svg#ucraftme-v1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ucraftme-v1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ucf-"]:before,
[class*=" ucf-"]:before {
  font-family: "ucraftme-v1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ucf-1-48:before {
  content: "a";
}
.ucf-2-48:before {
  content: "b";
}
.ucf-3-48:before {
  content: "c";
}
.ucf-4-48:before {
  content: "d";
}
.ucf-5-48:before {
  content: "e";
}
.ucf-6-48:before {
  content: "f";
}
.ucf-7-48:before {
  content: "g";
}
.ucf-8-48:before {
  content: "h";
}
.ucf-9-48:before {
  content: "i";
}
.ucf-10-48:before {
  content: "j";
}
.ucf-11-48:before {
  content: "k";
}
.ucf-12-48:before {
  content: "l";
}
.ucf-13-48:before {
  content: "m";
}
.ucf-14-48:before {
  content: "n";
}
.ucf-15-48:before {
  content: "o";
}
.ucf-16-48:before {
  content: "p";
}
.ucf-17-48:before {
  content: "q";
}
.ucf-18-48:before {
  content: "r";
}
.ucf-19-48:before {
  content: "s";
}
.ucf-20-48:before {
  content: "t";
}
.ucf-21-48:before {
  content: "u";
}
.ucf-22-48:before {
  content: "v";
}
.ucf-23-48:before {
  content: "w";
}
.ucf-24-48:before {
  content: "x";
}
.ucf-25-48:before {
  content: "y";
}
.ucf-26-48:before {
  content: "z";
}
.ucf-27-48:before {
  content: "A";
}
.ucf-28-48:before {
  content: "B";
}
.ucf-29-48:before {
  content: "C";
}
.ucf-30-48:before {
  content: "D";
}
.ucf-31-48:before {
  content: "E";
}
.ucf-32-48:before {
  content: "F";
}
.ucf-33-48:before {
  content: "G";
}
.ucf-34-48:before {
  content: "H";
}
.ucf-35-48:before {
  content: "I";
}
.ucf-36-48:before {
  content: "J";
}
.ucf-37-48:before {
  content: "K";
}
.ucf-38-48:before {
  content: "L";
}
.ucf-39-48:before {
  content: "M";
}
.ucf-40-48:before {
  content: "N";
}
.ucf-41-48:before {
  content: "O";
}
.ucf-42-48:before {
  content: "P";
}
.ucf-43-48:before {
  content: "Q";
}
.ucf-44-48:before {
  content: "R";
}
.ucf-46-48:before {
  content: "S";
}
.ucf-47-48:before {
  content: "T";
}
.ucf-48-48:before {
  content: "U";
}
.ucf-49-48:before {
  content: "V";
}
.ucf-50-48:before {
  content: "W";
}
.ucf-51-48:before {
  content: "X";
}
.ucf-52-48:before {
  content: "Y";
}
.ucf-53-48:before {
  content: "Z";
}
.ucf-54-48:before {
  content: "0";
}
.ucf-55-48:before {
  content: "1";
}
.ucf-56-48:before {
  content: "2";
}
.ucf-57-48:before {
  content: "3";
}
.ucf-58-48:before {
  content: "4";
}
.ucf-59-48:before {
  content: "5";
}
.ucf-60-48:before {
  content: "6";
}
.ucf-61-48:before {
  content: "7";
}
.ucf-62-48:before {
  content: "8";
}
.ucf-63-48:before {
  content: "9";
}
.ucf-64-48:before {
  content: "!";
}
.ucf-65-48:before {
  content: "\"";
}
.ucf-66-48:before {
  content: "#";
}
.ucf-67-48:before {
  content: "$";
}
.ucf-68-48:before {
  content: "%";
}
.ucf-69-48:before {
  content: "&";
}
.ucf-70-48:before {
  content: "'";
}
.ucf-71-48:before {
  content: "(";
}
.ucf-72-48:before {
  content: ")";
}
.ucf-73-48:before {
  content: "*";
}
.ucf-74-48:before {
  content: "+";
}
.ucf-75-48:before {
  content: ",";
}
.ucf-76-48:before {
  content: "-";
}
.ucf-77-48:before {
  content: ".";
}
.ucf-78-48:before {
  content: "/";
}
.ucf-79-48:before {
  content: ":";
}
.ucf-80-48:before {
  content: ";";
}
.ucf-81-64:before {
  content: "<";
}
.ucf-82-48:before {
  content: "=";
}
.ucf-83-48:before {
  content: ">";
}
.ucf-84-48:before {
  content: "?";
}
.ucf-85-48:before {
  content: "@";
}
.ucf-86-48:before {
  content: "[";
}
.ucf-87-48:before {
  content: "]";
}
.ucf-88-48:before {
  content: "^";
}
.ucf-89-48:before {
  content: "_";
}
.ucf-90-48:before {
  content: "`";
}
.ucf-91-48:before {
  content: "{";
}
.ucf-92-48:before {
  content: "|";
}
.ucf-93-48:before {
  content: "}";
}
.ucf-94-48:before {
  content: "~";
}
.ucf-95-128:before {
  content: "\\";
}
.ucf-96-128:before {
  content: "\e000";
}
.ucf-97-128:before {
  content: "\e001";
}
.ucf-98-128:before {
  content: "\e002";
}
.ucf-99-48:before {
  content: "\e003";
}
.ucf-100-48:before {
  content: "\e004";
}
.ucf-101-48:before {
  content: "\e005";
}
.ucf-102-48:before {
  content: "\e006";
}
.ucf-103-48:before {
  content: "\e007";
}
.ucf-104-48:before {
  content: "\e008";
}
.ucf-105-48:before {
  content: "\e009";
}
.ucf-106-48:before {
  content: "\e00a";
}
.ucf-107-48:before {
  content: "\e00b";
}
.ucf-108-48:before {
  content: "\e00c";
}
.ucf-109-48:before {
  content: "\e00d";
}
.ucf-110-48:before {
  content: "\e00e";
}
.ucf-111-48:before {
  content: "\e00f";
}
.ucf-112-48:before {
  content: "\e010";
}
.ucf-113-48:before {
  content: "\e011";
}
.ucf-114-48:before {
  content: "\e012";
}
.ucf-115-48:before {
  content: "\e013";
}
.ucf-116-48:before {
  content: "\e014";
}
.ucf-117-48:before {
  content: "\e015";
}
.ucf-118-48:before {
  content: "\e016";
}
.ucf-119-48:before {
  content: "\e017";
}
.ucf-120-48:before {
  content: "\e018";
}
.ucf-121-48:before {
  content: "\e019";
}
.ucf-122-48:before {
  content: "\e01a";
}
.ucf-123-48:before {
  content: "\e01b";
}
.ucf-124-128:before {
  content: "\e01c";
}
.ucf-125-48:before {
  content: "\e01d";
}
.ucf-126-48:before {
  content: "\e01e";
}
.ucf-127-48:before {
  content: "\e01f";
}
.ucf-128-48:before {
  content: "\e020";
}
.ucf-129-48:before {
  content: "\e021";
}
.ucf-130-48-01:before {
  content: "\e022";
}
.ucf-131-48:before {
  content: "\e023";
}
.ucf-132-48:before {
  content: "\e024";
}
.ucf-133-48:before {
  content: "\e025";
}
.ucf-134-48:before {
  content: "\e026";
}
.ucf-135-48:before {
  content: "\e027";
}
.ucf-136-48:before {
  content: "\e028";
}
.ucf-140-48-01:before {
  content: "\e029";
}
.ucf-142-48:before {
  content: "\e02a";
}
.ucf-143-128:before {
  content: "\e02b";
}
.ucf-145-48:before {
  content: "\e02c";
}
.ucf-146-48:before {
  content: "\e02d";
}
.ucf-147-48:before {
  content: "\e02e";
}
.ucf-148-48:before {
  content: "\e02f";
}
.ucf-149-48:before {
  content: "\e030";
}
.ucf-150-48:before {
  content: "\e031";
}
.ucf-151-48:before {
  content: "\e032";
}
.ucf-152-48:before {
  content: "\e033";
}
.ucf-153-48:before {
  content: "\e034";
}
.ucf-154-48:before {
  content: "\e035";
}
.ucf-155-48:before {
  content: "\e036";
}
.ucf-157-48:before {
  content: "\e037";
}
.ucf-158-48:before {
  content: "\e038";
}
.ucf-159-48:before {
  content: "\e039";
}
.ucf-160-48:before {
  content: "\e03a";
}
.ucf-161-48:before {
  content: "\e03b";
}
.ucf-163-48:before {
  content: "\e03c";
}
.ucf-164-48:before {
  content: "\e03d";
}
.ucf-165-48:before {
  content: "\e03e";
}
.ucf-166-48:before {
  content: "\e03f";
}
.ucf-167-48:before {
  content: "\e040";
}
.ucf-137-48-01:before {
  content: "\e041";
}
.ucf-156-48-01:before {
  content: "\e043";
}
.ucf-162-48:before {
  content: "\e042";
}
.ucf-168-48:before {
  content: "\e044";
}
.ucf-169-48:before {
  content: "\e045";
}
.ucf-170-48:before {
  content: "\e046";
}
.ucf-171-48:before {
  content: "\e047";
}
.ucf-172-48:before {
  content: "\e048";
}
.ucf-173-48:before {
  content: "\e049";
}
.ucf-174-48:before {
  content: "\e04a";
}
.ucf-175-48:before {
  content: "\e04b";
}
.ucf-176-48:before {
  content: "\e04c";
}
.ucf-177-48:before {
  content: "\e04d";
}
.ucf-138-48-01:before {
  content: "\e04e";
}
