.free-winners-wrap-j * {
    box-sizing: border-box;
}

.free-winners-wrap-j {
    float: left;
    width: 760px;
    height: 365px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 550px);
    @media screen and (max-width: 1260px){
        width: 100%;
    }
    .lmb-time-selector {
        margin-bottom: 15px;
    } 
}

.free-winners-wrap-j .md-progress-circular {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px;
}

.free-winners-list-j {
    display: table;
    table-layout: fixed;
    width: 100%;
    ul {
        display: table-row;
        li {
            display: table-cell;
            color: #f3f3f5;
            font: 12px / 32px $font-f;
            border-bottom: 1px solid #171c2c;
            height: 33px;
            background-color: #1e2639; 
            padding: 0 15px;
            width: 1%;
            > div {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &:first-child {
                border-radius: 2px 0 0 2px;
            }
            &:last-child {
                border-radius: 0 2px 2px 0;
            }
        }
        &:nth-child(odd) li {
            background-color: #242e45;
        }
        &.title-j li {
            background-color: #121623;
            height: 36px;
            border-bottom: 0;
            border-radius: 0; 
            color: #7b8191;
            font: 400 16px/36px $font-f;
        }
    }
    .win-amount-j {
        color: #c4963f;
    }
}