@mixin homepage2016 {
  .mein-page-contain {
    margin: 48px 0 0 0;
  }
  .product-list-contain{
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 0;
    overflow: hidden;
  }
  .product-list-contain > .md-progress-circular,
  .featured-game-list-b > .md-progress-circular {
    margin: 0 auto;
  }
  .featured-game-list-b > .md-progress-circular {
    margin-top: 40px;
  }
  .product-list-contain > ul{
    float: left;
    width: calc(100% + 20px);
    display: table;
    table-layout: fixed;
    position: relative;
    left: -10px;
  }
  .product-list-contain > ul > li{
    display: table-cell;
    box-sizing: border-box;
    width: calc(100% / 6);
    max-width: calc(100% / 6);
    min-width: calc(100% / 6);
    margin: 0;
    padding: 0 0 0 10px;
    border: 0;
    transition: background 250ms;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    height: 100%;
  }

  .product-list-contain > ul.column-5 > li{
    width: 20%;
    max-width: 20%;
    min-width: 20%;
  }
  .product-list-contain > ul.column-4 > li{
    width: 25%;
    max-width: 25%;
    min-width: 25%;
  }
  .product-list-contain > ul.column-3 > li{
    width: calc(100% / 3);
    max-width: calc(100% / 3);
    min-width: calc(100% / 3);
  }
  .product-list-contain > ul.column-2 > li{
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }
  .product-list-contain > ul.column-1 > li{
    width: 100%;
    border: none;
  }
  .product-list-contain > ul > li > a{
    display: block;
    width: 100%;
    height: 180px;
    text-decoration: none;
    transition: background 250ms;
    box-sizing: border-box;
    position: relative;
    background: lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 );
    background: -moz-linear-gradient(top,  lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 0%, lighten( desaturate( $skin-color, 7 ), 3 ) 100%);
    background: -webkit-linear-gradient(top,  lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 0%,lighten( desaturate( $skin-color, 7 ), 3 ) 100%);
    background: linear-gradient(to bottom,  lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 0%,lighten( desaturate( $skin-color, 7 ), 3 ) 100%);
  }
  .product-list-contain > ul > li:hover a {
    background: desaturate( adjust-hue( $skin-color, -1deg ), 3 );
    background: -moz-linear-gradient(top,  desaturate( adjust-hue( $skin-color, -1deg ), 3 ) 0%, lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 100%);
    background: -webkit-linear-gradient(top,  desaturate( adjust-hue( $skin-color, -1deg ), 3 ) 0%,lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 100%);
    background: linear-gradient(to bottom,  desaturate( adjust-hue( $skin-color, -1deg ), 3 ) 0%,lighten( desaturate( adjust-hue( $skin-color, -1deg ), 11 ), 7 ) 100%);
  }
  .icon-container-product{
    float: left;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    height: 88px;
    display: table;
    position: relative;
  }
  .icon-container-product > b{
    font: 48px/52px icomoon;
    color: $text-palette-3;
    display: table-cell;
    vertical-align: bottom;
    transition: color 250ms;
  }
  .icon-container-product > b:before{content: "\69";}
  .icon-container-product > b.sportsbook:before{content: "\e6d7";}
  .icon-container-product > b.casino:before{content: "\e6d6";}
  .icon-container-product > b.live.casino:before{content: "\71";}
  .icon-container-product > b.belote:before{content: "\e6d0";}
  .icon-container-product > b.backgammon:before{content: "\e6cf";}
  .icon-container-product > b.Pool.Betting:before, .icon-container-product > b.Colossusbets:before{content: "\e6fb";}
  .icon-container-product > b.Fantasy:before{
    content: "\67";
    font-size: 66px;
    display: block;
  }
  .icon-container-product > b.live.russian.poker:before, .icon-container-product > b.Live.Russian.Poker:before{content: "\e903";}
  .icon-container-product > b.statistics:before, .icon-container-product > b.Statistics:before{content: "\e6de";}
  .icon-container-product > b.free.quiz:before, .icon-container-product > b.Free.Quiz:before{content: "\e912";}
  .icon-container-product > b.poker:before{
    content: "\e6c0";
    font-size: 64px;
    position: relative;
    top: 6px;
  }
  .icon-container-product > b.Fortune:before {
    content: "\e6f8";
  }
  .product-list-contain > ul > li:hover > a > .icon-container-product > b{color: $text-palette-2;}
  .product-list-contain > ul > li > a > h4{
    float: left;
    width: 100%;
    margin: 17px 0 0;
    padding: 0 4px;
    text-align: center;
    box-sizing: border-box;
    font: 400 14px/16px $font-f;
    color: $text-palette-2;
    text-transform: uppercase;
    transition: color 250ms;
  }
  .product-list-contain > ul > li:hover > a > h4{
    color: $text-palette-1;
  }
  .product-list-contain > ul > li > a > button {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 36px;
    background: $skin-palette-12;
    border: 0;
    font: 12px $font-f;
    color: $text-palette-4;
    cursor: pointer;
    transition: box-shadow 250ms, color 250ms;
    overflow: hidden;
    padding: 0;
    @media screen and (max-width: 1260px) {
      font-size: 11px;
    }
  }
  .product-list-contain > ul > li > a > button:before {
    content: "";
    display: block;
    width: 100%;
    left: 0;
    height: 1px;
    top: -2px;
    background: $hero-color;
    transition: background 250ms;
    position: absolute;
  }
  .product-list-contain > ul > li:hover > a > button {
    box-shadow: inset 0 36px 0 $hero-color;
    color: set-color($hero-color);
  }
  .product-list-contain > ul > li > a > button:hover:before {
    background: darken( desaturate( adjust-hue( $skin-color, 4deg ), 11 ), 1 );
  }
  .featured-game-list-b{
    float: left;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0 0;
    height: 180px;
    background: $skin-palette-12;
  }
  .title-b-wg{
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 160px 0 20px;
    position: relative;
  }
  .title-b-wg > h3{
    float: left;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font: 16px/50px $font-f;
    color: $text-palette-4;
    text-transform: uppercase;
  }
  .mini-slider-b-contain{
    height: 50px;
    position: absolute;
    right: 20px;
    top: 0;
    box-sizing: border-box;
  }
  .change-b-slide{
    float: left;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: lighten( desaturate( adjust-hue( $skin-color, 1deg ), 21 ), 11 );
    margin: 19px 0 0 7px;
    transition: background 200ms;
    cursor: pointer;
  }
  .change-b-slide.active{
    background: $hero-color;
    cursor: default;
  }
  .games-view-slider-contain{
    float: left;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .games-view-slider-contain > ul{
    float: left;
    width: 100%;
    box-sizing: border-box;
  } 
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .games-view-slider-contain > ul > li{
    float: left;
    width: calc((100% - 20px) / 3);
    height: 130px;
    box-sizing: border-box;
    background: lighten( desaturate( $skin-color, 7 ), 4 );
    margin: 0 0 0 10px;
    position: relative;
    padding: 0 0 0 100px;
    animation: fadeInUp 0.3s;
    animation-fill-mode: both;  
  }
  .games-view-slider-contain > ul > li:nth-child(1), .games-view-slider-contain > ul > li:nth-child(3) {
    animation-delay: 0.15s;
    animation-duration: 0.6s;
  }
  .games-view-slider-contain > ul.column-2 > li:nth-child(1), .games-view-slider-contain > ul.column-1 > li:nth-child(1) {
    animation-delay: 0s;
    animation-duration: 0.3s;
  }
  .games-view-slider-contain > ul.column-2 > li{width: calc((100% - 10px) / 2);}
  .games-view-slider-contain > ul.column-1 > li{width: 100%;}
  .games-view-slider-contain > ul > li:first-child{margin: 0;}
  .date-championship-logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 130px;
    background: $skin-palette-10;
    box-sizing: border-box;
  }
  .date-championship-logo > p{
    box-sizing: border-box;
    float: left;
    width: 100%;
    color: $text-palette-3;
    font: 12px/16px $font-f;
    text-align: center;
    padding: 18px 10px 10px;
    height: 130px;
  }
  .date-championship-logo > p:first-line {
    color: $text-palette-4;
  }
  .date-championship-logo > p > b{
    float: left;
    width: 100%;
    display: inline-block;
    color: $text-palette-3;
    font-weight: normal;
  }
  .date-championship-logo > p > i{
    float: left;
    width: 100%;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
  }
  .competition-logo-contain{
    float: left;
    width: 100%;
    height: 66px;
  }
  .game-full-information-w{
    float:left;
    width: 100%;
    height: 130px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px 20px 0;
  }
  .game-full-information-w:before{
    display: none;
  }
  .game-full-information-w > img{
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: auto;
    z-index: 11;
  }
  .team-names-wrapper-b{
    float: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 22;
  }
  .team-names-wrapper-b > ul{
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .team-names-wrapper-b > ul > li{
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 22px;
    margin: 0 0 10px;
  }
  .team-names-wrapper-b > ul > li > p{
    float: left;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 16px/22px $font-f;
    color: $text-palette-3;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 50%;
  }
  .team-names-wrapper-b > ul > li > p > b{font-weight: normal}
  .game-link-wrapper-b{
    float: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 22;
    margin:  10px 0 0;
  }
  .game-link-wrapper-b > a{
    float: left;
    text-decoration: none;
    color: #fff;
    font: 12px/14px $font-f;
    text-transform: uppercase;
    padding: 6px 15px;
    background: none;
    border: 1px solid #7b8191;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    box-sizing: border-box;
    transition: background 500ms, border-color 500ms;
  }
  .games-view-slider-contain > ul > li:hover .game-link-wrapper-b > a{
    background: $button-bg;
    border: 1px solid $button-bg;
    color: set-color($button-bg);
  }
  .body-wrapper.homepage .new-homepage .top-picture-block {
    padding-top: 10px;
  }
  .body-wrapper.homepage {
    .temp_bg {
      min-height: 350px;
    }
    .news-block-section {
      min-height: auto;
    }
    .lmb-time-selector {
      box-shadow: none;
      background: $skin-palette-12;
    }
    .lmb-time-selector h3 {
      color: $text-palette-4;
    }
    .big-cash {
      background: none;
    }
    .new-homepage .featured-games-container {
      border-color: rgba(0, 0, 0, 0);
      background: rgba(0, 0, 0, 0);
    }
    .last-minute-bets-j {
      height: auto;
    }
    .lmb-sport-select-j {
      margin: 0;
      height: 30px;
    }
    .lmb-sport-select-j ul {
      margin: 0;
    }
    .news-block-section .block-news-preview {
      margin: 0;
      border: 0;
    }
    .news-block-section .block-news-preview .news-img-block {
      height: 300px;
      box-shadow: 0 2px 0 $skin-palette-12;
    }
    .news-block-section .block-news-preview .news-list {
      height: 300px;
      margin: 0;
      position: relative;
      > ul {
        width: calc(100% - 5px);
        padding-bottom: 40px;
      } 
    }
    .news-block-section .block-news-preview .all-news-link a {
      padding: 12px 0;
      box-shadow: 0 2px 0 $skin-palette-12;
      width: calc(100% - 22px); 
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        width: calc(100% - 9px); 
      }
      background: $skin-palette-10;
    }
    .news-block-section .block-news-preview .news-list ul li {
      background: lighten( desaturate( $skin-palette-10, 7 ), 4 );
      border-bottom-color: $skin-palette-11;
    }
    .news-block-section .block-news-preview .news-list ul li p.date-news-info {
      color: $text-palette-4;
    }
    .news-block-section .block-news-preview .news-list ul li p.news-text-inform {
      color: $text-palette-3;
    }
    .news-block-section .block-news-preview .news-list ul li.active-news {
      background: $skin-palette-12;
    }
    .news-block-section .block-news-preview .news-img-block p {
      background: rgba(lighten( desaturate( $skin-palette-10, 7 ), 4 ), 0.9);
    }
    .news-block-section .block-news-preview a {
      color: set-color(lighten( desaturate( $skin-palette-10, 7 ), 4 ), #000000, #f3f3f5);
    }
    .new-homepage .nav-news-sport ul li {
      transition: box-shadow 250ms;
    }
    .new-homepage .nav-news-sport ul li a {
      color: $text-palette-4;
      transition: color 250ms;
      &:hover {
        color: $text-palette-3;
      }
    }
    .new-homepage .nav-news-sport ul li h3 {
      color: $text-palette-4;
    }
    .new-homepage .nav-news-sport ul .last-item a {
      background: desaturate( adjust-hue( $skin-palette-10, 5deg ), 4 );
    }
    @media screen and (max-width: 1260px) {
      .new-homepage .featured-games-container {
        margin: 0;
      }
    }
    .nav-news-sport ul .last-item .contein-games ul li a {
      background: none;
    }
  }
  @keyframes pulse-j {
    from {
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    1%, 8% {
      -webkit-transform: translate3d(0,-2px,0);
      -moz-transform: translate3d(0,-2px,0);
      transform: translate3d(0,-2px,0);
    }
    4%, 11%, to {
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }
  .product-list-contain > ul > li:hover .icon-container-product {
    animation: pulse-j 5s ease-in-out;
  }
  @keyframes product-jackpot-anim-j {
    0% {
      margin-top: 0;
    }
    7% {
      margin-top: -14px;
    }
    50% {
      margin-top: -14px;
    }
    57% {
      margin-top: 0;
    }
    100% {
      margin-top: 0;
    }
  }
  .product-jackpot-anim-j > span {
    display: block;
    height: 14px;
    overflow: hidden;
  }
  .product-jackpot-anim-j > span > div:first-child {
    animation: product-jackpot-anim-j 6s both ease infinite;
  }
  .product-list-contain > ul > li > a > button:nth-last-child(2), .product-list-contain > ul > li > a > button:nth-last-child(2) + button {
    width: 50%;
  }
  .product-list-contain > ul > li > a > button:nth-last-child(2) + button {
    left: 50%;
  }
  .product-list-contain > ul > li > a > button:nth-last-child(2):after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background: lighten( desaturate( $skin-color, 8 ), 3 );
    position: absolute;
    right: 0;
    bottom: 9px;
  }
  .product-list-contain > ul > li > a > button:nth-last-child(2):hover:after {
    display: none;
  }
  div.slider-image-wrapper-b {
    background-size: auto 100%;
    @media screen and (max-width: 1260px) {
      background-size: 100%;
    }
  }
  .product-list-contain > ul > li .product-slider-image {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    &:before, &:after {
      display: none;
    }
    &.show {
      display: block;
      ~ .icon-container-product, ~ h4 {
        display: none;
      }
      &.hide-button {
        ~ button {
          display: none;
        }
      }
    }    
  }
  .news-block-section .block-news-preview .news-img-block p .news-date-b {
    color: set-color($hero-color);
  }
}
