<div class="game-list-compitishion">
    <table class="hdp-contain-title">
        <tr>
            <td class="big-row"><div class="info-bl"><p><i class="icon-sport-asia" ng-class="selectedSport.alias"></i> <span ng-bind="selectedSport.name"></span></p></div></td>
            <td><div class="info-bl"><p trans>Winner</p></div></td>
            <td colspan="2" class="title-names-hdp"><div class="info-bl"><p trans>Handicap</p></div></td>
            <td colspan="2" class="title-names-hdp"><div class="info-bl"><p ng-bind="::(asianMarkets.totalTypeNameBySport[selectedSport.alias] || asianMarkets.totalTypeNameBySport.Default)|translate"></p></div></td>
            <td class="more-competition"><div class="info-bl"><p trans>More</p></div></td>
        </tr>
    </table>
</div>

<div class="market_list_view" ng-class="{'all_view' : selectedSport.id === -1}">
    <div class="asian-separator-container-b" ng-repeat="competitions in centerData.competitions track by $index">
    <div ng-repeat="competition in  competitions track by $index" class="game-list-compitishion" ng-class="{closed: collapedCompetitions[competition.id]}"> <!--competition.collapsed -->
        <div class="name-chempionship-asia">
            <h3 ng-bind="competition.games[0].region.name + ' - ' + competition.name" ng-click="toggleCompetition(competition.id)"></h3> <!--competition.collapsed = !competition.collapsed   -->
            <div ng-if="selectedSport.id === -1" class="icon-sport-asia" ng-class="competition.games[0].sport.alias"></div>
        </div>
        <table class="hdp-contain">
            <tbody ng-repeat="game in competition.games|orderBy:'start_ts' track by game.id">
            <tr>
                <td class="name-teams-hdp" colspan="2"><div class="info-bl"><p><span ng-bind="::game.team1_name"></span> <span ng-bind="::game.team2_name"></span></p></div></td>

                <td class="filters-hdp" colspan="3">
                    <div class="block-filter-hdp">
                        <ul>
                            <li ng-repeat="sequence in game.availableSequences track by $index"
                                ng-bind=":: ('PERIOD' === sequence.subKey)? (asianMarkets.periodsBySports[game.sport.alias] + ' ' + sequence.sequence): (sequence.sequence? sequence.subKey + ' ' + sequence.sequence : sequence.subKey)|translate"
                                ng-class="{active: game.selectedSequence.subKey === sequence.subKey && game.selectedSequence.sequence === sequence.sequence}"
                                ng-hide="activeSequencesForGms.indexOf(sequence.subKey) === -1"
                                ng-click="game.selectedSequence = sequence"></li>
                        </ul>
                    </div>
                </td>
                <td class="more-competition first"><div class="info-bl"><p></p></div></td>
            </tr>


            <tr>
                <td class="section-1 border-d" rowspan="2">
                    <div class="info-bl">
                        <p ng-bind="game.info.current_game_state|convertSetName:game.sport.alias" ng-show="game.type ==1"></p>
                        <p ng-bind="::game.start_ts|formatDate:(conf.layoutTimeFormat.asian || 'D/MM')" ng-show="game.type !=1"></p>
                    </div>
                    <div class="info-bl">
                        <p ng-bind="getCurrentTime(game.info.current_game_time)" ng-show="game.type ==1"></p>
                        <p ng-bind="game.start_ts|formatDate:'hour':null:env.timeFormat" ng-show="game.type !=1"></p>
                    </div>
                </td>
                <td class="section-2 border-d">
                    <div class="info-bl">
                        <p class="teams-n-account-asia">
                            <span class="name-team-asian-1x2" ng-bind="::game.team1_name"></span>
                                        <span class="account-asian-1x2">
                                            <b ng-show="game.type == 1" ng-bind="game.info.score1"></b>
                                            <b ng-show="game.type == 1 && game.sport.alias == 'Soccer' && game.stats.yellow_card.team1_value" class="yellow-card-asian">{{game.stats.yellow_card.team1_value}}</b>
                                            <b ng-show="game.type == 1 && game.sport.alias == 'Soccer' && game.stats.red_card.team1_value" class="red-card-asian">{{game.stats.red_card.team1_value}}</b>
                                        </span>
                        </p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price_change == '1', down: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price_change == '-1', 'active': isEventInBetSlip(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'])}"
                    >
                    <div class="info-bl" ng-show="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'] || game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['W1']" ng-click="bet(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'], game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0], game)">
                        <p ng-bind="(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price ||
                        game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['W1'].price)|oddConvert:env.oddFormat"></p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Home.price_change == '1', down: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Home.price_change == '-1', 'active': isEventInBetSlip(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Home)}"
                    >
                    <div class="info-bl k-and-info" ng-show="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Home" ng-click="bet(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Home, game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0], game)">
                        <p>
                            <b ng-bind="prefixBase(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Home.base)"></b>
                            <i>{{game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Home.price|oddConvert:env.oddFormat}}</i></p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Over.price_change == '1', down: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Over.price_change == '-1', 'active': isEventInBetSlip(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Over)}"
                    >
                    <div class="info-bl k-and-info" ng-show="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Over" ng-click="bet(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Over, game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0], game)">
                        <p><b ng-bind="('O ' + game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Over.base)"></b> <i>{{game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Over.price|oddConvert:env.oddFormat}}</i></p>
                    </div>
                </td>
                <td class="more-competition" rowspan="2">
                    <div class="info-bl" ng-show="game.moreMarketsCount" ng-click="loadAllEvents(game.id)">
                        <p>+{{::game.moreMarketsCount}}</p>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="section-2" ng-class="{'border-d': game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['X']  || game.marketRows[game.selectedSequence.subKey][game.selectedSequence.sequence].length > 1}">
                    <div class="info-bl">
                        <div class="info-bl">
                            <p class="teams-n-account-asia">
                                <span class="name-team-asian-1x2" ng-bind="::game.team2_name"></span>
                                        <span class="account-asian-1x2">
                                            <b ng-show="game.type == 1" ng-bind="game.info.score2"></b>
                                            <b ng-show="game.type == 1 && game.sport.alias == 'Soccer' && game.stats.yellow_card.team2_value" class="yellow-card-asian">{{game.stats.yellow_card.team2_value}}</b>
                                            <b ng-show="game.type == 1 && game.sport.alias == 'Soccer' && game.stats.red_card.team2_value" class="red-card-asian">{{game.stats.red_card.team2_value}}</b>
                                        </span>
                            </p>
                        </div>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P2'].price_change == '1', down: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P2'].price_change == '-1', 'active': isEventInBetSlip(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P2'])}"
                    >
                    <div class="info-bl" ng-show="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P2'] || game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['W2']" ng-click="bet(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P2'], game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0], game)">
                        <p ng-bind="(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P2'].price|oddConvert:env.oddFormat) ||
                        (game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['W2'].price|oddConvert:env.oddFormat)"></p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Away.price_change == '1', down: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Away.price_change == '-1', 'active': isEventInBetSlip(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Away)}"
                    >
                    <div class="info-bl k-and-info" ng-show="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Away" ng-click="bet(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Away, game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0], game)">
                        <p><b ng-bind="prefixBase(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Away.base)"></b> <i>{{game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[0].Away.price|oddConvert:env.oddFormat}}</i></p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Under.price_change == '1', down: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Under.price_change == '-1', 'active': isEventInBetSlip(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Under)}"
                    >
                    <div class="info-bl k-and-info" ng-show="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Under" ng-click="bet(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Under, game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0], game)">
                        <p><b ng-bind="('U ' + game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Under.base)"></b> <i>{{game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][0].Under.price|oddConvert:env.oddFormat}}</i></p>
                    </div>
                </td>

            </tr>

            <tr>
                <td class="section-1"><div class="info-bl"><p></p></div></td>
                <td class="section-2"><div class="info-bl">
                    <p class="teams-n-account-asia" ng-show="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['X']">
                        <span class="name-team-asian-1x2 draw" trans>Tie</span>
                    </p>
                </div></td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['X'].price_change == '1', down: game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['X'].price_change == '-1', 'active': isEventInBetSlip(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['X'])}"
                        >
                    <div class="info-bl" ng-show="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['X']" ng-click="bet(game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['X'], game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0], game)">
                        <p ng-bind="game.markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['X'].price|oddConvert:env.oddFormat"></p>
                    </div>
                </td>
                <td colspan="2"><div class="info-bl"><p></p></div></td>
                <td class="more-b-asia" ng-class="{active: game.expanded}" >
                    <div class="more-arrow-b-asia" ng-click="toggleExtraMarkets(game)"></div>
                </td>
            </tr>

            <tr ng-show="game.expanded" ng-repeat-start="n in expandedHdpGames[game.id].marketRows[game.selectedSequence.subKey][game.selectedSequence.sequence] track by $index">
                <td class="section-1 border-d">
                    <div class="info-bl"><p></p></div>
                </td>
                <td class="section-2 border-d" colspan="2">
                    <div class="info-bl">
                        <p class="teams-n-account-asia">
                            <span class="name-team-asian-1x2 draw" ng-bind="::game.team1_name"></span>
                        </p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Home.price_change == '1', down: expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Home.price_change == '-1', 'active': isEventInBetSlip(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Home)}"
                        >
                    <div class="info-bl k-and-info" ng-show="expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Home"
                         ng-click="bet(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Home, expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1], expandedHdpGames[game.id])">
                        <p>
                            <b ng-bind="prefixBase(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Home.base)"></b>
                            <i>{{expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Home.price|oddConvert:env.oddFormat}}</i>
                        </p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Over.price_change == '1', down: expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Over.price_change == '-1', 'active': isEventInBetSlip(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Over)}"
                        >
                    <div class="info-bl k-and-info" ng-show="expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Over"
                         ng-click="bet(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Over, expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1], expandedHdpGames[game.id])">
                        <p>
                            <b ng-bind="('O ' + expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Over.base)"></b>
                            <i>{{expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Over.price|oddConvert:env.oddFormat}}</i>
                        </p>
                    </div>
                </td>

                <td class="more-competition border-d">
                    <div class="info-bl"><p></p></div>
                </td>
            </tr>
            <tr ng-show="game.expanded" ng-repeat-end>
                <td class="section-1">
                    <div class="info-bl"><p></p></div>
                </td>
                <td class="section-2" colspan="2">
                    <div class="info-bl">
                        <p class="teams-n-account-asia">
                            <span class="name-team-asian-1x2 draw" ng-bind="::game.team2_name"></span>
                        </p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Away.price_change == '1', down: expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Away.price_change == '-1', 'active': isEventInBetSlip(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Away)}"
                        >
                    <div class="info-bl k-and-info" ng-show="expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Away"
                         ng-click="bet(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Away, expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1], expandedHdpGames[game.id])">
                        <p>
                            <b ng-bind="prefixBase(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Away.base)"></b> <i>{{expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].HANDICAP[$index+1].Away.price|oddConvert:env.oddFormat}}</i>
                        </p>
                    </div>
                </td>
                <td class="factor-w"
                    ng-class="{'locked-market-asi': expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence].WINNER[0]['P1'].price == 1 || game.is_blocked, up: expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Under.price_change == '1', down: expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Under.price_change == '-1', 'active': isEventInBetSlip(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][expandedHdpGames[game.id].selectedSequence.sequence][pointsTypeForMarket][$index+1].Under)}"
                        >
                    <div class="info-bl k-and-info" ng-show="expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Under"
                         ng-click="bet(expandedHdpGames[game.id].markets[game.selectedSequence.subKey][expandedHdpGames[game.id].selectedSequence.sequence][pointsTypeForMarket][$index+1].Under, expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1], expandedHdpGames[game.id])">
                        <p>
                            <b ng-bind="('U ' + expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Under.base)"></b> <i>{{expandedHdpGames[game.id].markets[game.selectedSequence.subKey][game.selectedSequence.sequence][pointsTypeForMarket][$index+1].Under.price|oddConvert:env.oddFormat}}</i>
                        </p>
                    </div>
                </td>
                <td class="more-competition">
                    <div class="info-bl"><p></p></div>
                </td>
            </tr>
            <tr ng-show="game.expanded && !extraMarketsLoading && (!expandedHdpGames[game.id] || expandedHdpGames[game.id].marketRows[game.selectedSequence.subKey][game.selectedSequence.sequence].length == 0)">
                <td colspan="6">
                    <div class="info-bl">
                        <p trans>There are no extra markets</p>
                    </div>
                </td>
            </tr>

            </tbody>

        </table>
    </div>
</div>
</div>