<!--balance-->
<div class="separator-contain-nav user-nav-view-b new-size {{headerVersion2Icons.balanceIsToggled ? 'active' : ''}}"
     hide-on-click state-flag-var="headerVersion2Icons.balanceIsToggled">
    <div class="settings-icon-contain balance-box" no-animate
         ng-show="(conf.GmsPlatform && !conf.GmsPlatformMultipleBalance) || (!isInCasino() && !isInLivedealer() && !isInPoker())"
         ng-class="{'bonus': profile.bonus_balance !== undefined && profile.calculatedBonus !== 0}"
         id="wallet">
        <ul>
            <li>
               <span class="balance-view-off" ng-show="!env.hideBalance && !headerVersion2Icons.hideLablesIsToggled">
                    {{ profile.calculatedBalance|number:conf.balanceFractionSize }}
                </span>
                <span ng-show="!env.hideBalance">{{profile.currency_name|currency}}</span>
            </li>
            <li>
                <span class="bonus-view-mini-b" ng-show="!env.hideBalance && !headerVersion2Icons.hideLablesIsToggled && (profile.bonus_balance !== undefined)">{{profile.calculatedBonus|number:conf.balanceFractionSize}} {{profile.currency_name|currency}}</span>
            </li>
        </ul>
    </div>
    <div ng-controller="casinoLoginCtrl" class="settings-icon-contain balance-box" no-animate
         ng-if="::((!conf.GmsPlatform || conf.GmsPlatformMultipleBalance) && (casinoEnabled || conf.pokerEnabled) && availableModules.indexOf('casino') > -1)"
         ng-show="(env.casinoBalance !== undefined || conf.GmsPlatformMultipleBalance) && (isInCasino() || isInLivedealer()|| isInPoker()) || !conf.sportEnabled"
         ng-class="{'bonus': (env.casinoBalance.bonus || env.casinoBalance.bonus_balance)}">
        <!--delete "env.casinoBalance.bonus" after sworm update for all sites-->
        <span class="balance-view-off" ng-show="!env.hideBalance">
            {{conf.showOnlyMainBalance ? profile.calculatedBalance : conf.GmsPlatformMultipleBalance ? profile.casino_balance : env.casinoBalance.balance|number:conf.balanceFractionSize }}
        </span>
        <span ng-show="!env.hideBalance">{{profile.currency_name|currency}}</span>
        <i></i>
        <!--delete "env.casinoBalance.bonus" after sworm update for all sites-->
    </div>

    <div class="nav-open-view-contain">
        <ul>
            <li>
                <div class="drop-nav-new-b">
                    <div class="drop-items-contain-b-balance icon-view-box">
                        <ul>
                            <li>
                                <p class="toggle" trans>Hide Balance</p>
                            </li>
                            <li>
                                <p>
                                    <p class="total-balance">
                                <span trans>Total Balance</span>
                                <span class="balance-view-off" ng-show="!env.hideBalance && !headerVersion2Icons.hideLablesIsToggled">
                                 {{(profile.calculatedBalance + profile.calculatedBonus )|number:conf.balanceFractionSize }}
                                </span>
                                <span ng-show="!env.hideBalance">{{profile.currency_name|currency}}</span>
                                </p>
                            </li>

                            <li>
                                <p>
                                    <span trans>Withdrawable Balance</span>
                                    <span class="balance-view-off" ng-show="!env.hideBalance && !headerVersion2Icons.hideLablesIsToggled">
                                 {{(profile.calculatedBalance)|number:conf.balanceFractionSize}}
                                </span>
                                    <span ng-show="!env.hideBalance">{{profile.currency_name|currency}}</span>
                                </p>
                            </li>

                            <li>
                                <p>
                                    <span trans>Total Bonus Balance</span>
                                    <span class="balance-view-off" ng-show="!env.hideBalance && !headerVersion2Icons.hideLablesIsToggled">
                                 {{(profile.calculatedBonus)|number:conf.balanceFractionSize}}
                                </span>
                                    <span ng-show="!env.hideBalance">{{profile.currency_name|currency}}</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--balance END-->