<div ng-controller="LiveCalendarController as liveCalCtrl" ng-init="checkIfEnabled('liveCalendar');">
    <div class="gameing-wrapper" ng-class="{'no-betslip': (conf.customSportsBook.enabled && !conf.customSportsBook.classic.showBetSlip)}">

        <div class="contain-gameing" ng-class="{'multiview-enabled': env.preMatchMultiSelection, 'no-left-menu-j' : conf.liveCalendarView==='oneDaySelectionView'}">
            <ng-include ng-if="conf.liveCalendarView==='multiDaySelectionView'" src="getTemplate('templates/livecalendar/multiDaySelectionView.html')"></ng-include>
            <ng-include ng-if="conf.liveCalendarView==='oneDaySelectionView'" src="getTemplate('templates/livecalendar/oneDaySelectionView.html')"></ng-include>
            <!-- System Calculator-->
            <div id="system-claculator-container" ng-if="$root.showSystemCalculator" draggable allow-other-mouse-events drag-from="calculator-draggable-header">
                <ng-include src="getTemplate('templates/sport/classic/systemCalculator.html')"></ng-include>
            </div>
            <!-- System Calculator-->
            <!--betslip-contain-->
            <div ng-class="{'right-betslip-contain-modern right-block-list' : conf.showModernBetslipInClassic, 'right-betslip-contain' : !conf.showModernBetslipInClassic }">
                <ng-include class="include-viewSwitcher-j" src="getTemplate('templates/sport/viewswitcher.html')"></ng-include>
                <div class="scroll-contain" ng-class="{'animated-block': openGame.last_event || (openGame.video_id && conf.videoEnabled && !isVideoDetached)}">
                    <div class="list-bet-block" ng-if="$location.path() !== '/poolbetting/'" ng-include="getTemplate('templates/sport/betslip.html')"></div>
                    <div class="right-banner-container" ng-if="conf.enableBannerUnderBetslip" ng-controller="cmsSportNewsCtrl" ng-include="getTemplate('templates/sport/classic/banners.html')"></div>
                    <div class="mini-games" ng-if="conf.enableMiniGameUnderBetslip" ng-include="getTemplate('optional_modules/casino/templates/specialgames/minigames.html')"></div>
                </div>
            </div>
            <!--betslip-contain END-->
        </div>

    </div>
</div>