@font-face {
    font-family: Icomoon;
    src: url(../../../../fonts/icomoon.woff);
}

/*ICONS*/

.icon-Balance_Management:before {
    content: "\e959";
}
.icon-Close_LSB:before {
    content: "\e95a";
}

.icon-Close_LSB{
    float: right;
}
.icon-expand2:before {
    content: "\e95b";
}

.dob-select:after{
    content: "\e95b";
}
.icon-History:before {
    content: "\e95c";
}
.icon-Messages:before {
    content: "\e95d";
    font-size: 10px;
}
.icon-My_Profile:before {
    content: "\e95e";
}
.icon-Promotions:before {
    content: "\e95f";
}
.icon-VIP:before {
    content: "\e960";
}

.icon-icon_web_2-collapse-74:before {
    content: "\e937";
}
.icon-arrow-down5:before {
    content: "\e670";
}
.icon-success:before {
    content: "\e966";
}
.icon-error:before {
    content: "\e964";
}
.icon-clock2:before {
    content: "\e963";
}
.icon-shapes:before {
    content: "\e965";
}
.icon-return:before {
    content: "\e961"
}
.icon-arrow-right5:before {
    content: "\e672";
}
.icon-arrow-left5:before {
    content: "\e66f";
}
.icon-plus3:before {
    content: "\e62e";
}
.icon-text2:before {
    content: "\e644";
}
.icon-eye:before {
    content: "\e6b3";
}
.icon-download:before {
    content: "\e64d";
}
.icon-cross-close:before {
    content: "\e117";
}

/*ICONS END*/

/*LEFT BAR STYLE START*/

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.floating-element{
    float: left;
}

.inline-element{
    display: inline-block;
    vertical-align: top;
}

.account-main-container{
    background-color: #e6e5dc;
    color: #3e4545;
    font-size: 13px;
    font-weight: 500;
    height: 100%;
}

.account-left-container{
    width: 250px;
    margin: 10px;
}

.acc-main-item, .account-heading{
    border-radius: 4px;
    background-color: #fffef6;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    box-shadow: 0 1px 0 0 rgba(48, 56, 56, 0.21);
}

.account-heading>p>span, .acc-main-item>p>span{
    padding-right: 5px;
    font-size: 15px;
}

.account-heading>p>span.icon-expand2, .acc-main-item>p>span.icon-expand2{
    float: right;
    width: 16px;
    height: 14px;
    font-size: 8px;
    padding-top: 7px;
}

.acc-main-item p, .account-heading p{
    margin: 0;
    padding: 8px 10px;
}

.acc-main-item:hover{
    color: white;
    background-color: #1c89b0;
    transition: 0.5s;
}

.account-heading{
    background-color: #105b63;
    color: #ffffff;
}

.accordion-container>ul{
    list-style: none;
    background-color: #f5f4ec;
    padding: 1px 0;
    margin: 4px 0 4px 0;
    border-radius: 4px;
}

.accordion-container>ul>li{
     width: 96%;
     margin: 5px auto 5px auto;
     background-color: #f3f2e9;
     border-radius: 4px;
     height: 29px;
     border: 1px solid #d0cebe;
     position: relative;
    opacity: 0.8;
 }

.accordion-container>ul>li:hover{
    background-color: #fffef6;
    opacity: 1;
    transition: 0.5s;
}

.accordion-container>ul>li>a, ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    text-decoration: none;
    color: #3e4545;
    font-size: 13px;
    font-weight: 500;
}

div.acc-main-item.active{
    background-color: #1c89b0;
    color: white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    pointer-events:none;
}

div.acc-main-item.active:after{
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid #1c89b0;
}

.accordion-container>ul>li.active{
    background-color: #fffef6;
    opacity: 1;
    pointer-events:none;
}

.accordion-container>ul>li.active:before{
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: -1px;
    width: 4px;
    height: 31px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #ff8067;
}

.fill-div{
    width: 100%;
    background-color: #fffef6;
    height: 100%;
    border-radius: 4px;
}

/* ANIMATION START*/
.circle-points-wrapper{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -3px;
    left: 10px;
    clip: rect(0px, 200px, 200px, 100px);
    transform: rotate(-90deg);
}
/* Set the sizes of the elements that make up the progress bar */
.loyalty-points-circle {
    width: 160px;
    height: 160px;
    border: 10px solid #ff7f66;
    border-radius: 50%;
    position: absolute;
    clip: rect(0px, 100px, 200px, 0px);
}

.gray-border{
    width: 161px;
    height: 160px;
    border-radius: 50%;
    border: 10px solid #d4d3cb;
    position: absolute;
    top: -3px;
    left: 10px;
}

.loyalty-level-circle{
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    top: 72px;
    left: -1px;
    padding-top: 10px;
    width: 35px;
    height: 35px;
    background-color: #fffef6;
    font-size: 15px;
    color: #ff7f66;
}
/* Using the data attributes for the animation selectors. */
/* Base settings for all animated elements */
div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;  /* Only run once */
    -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
    -webkit-animation-timing-function:linear; /* Linear animation */
}

.circle-points-wrapper[data-anim~=wrapper] {
    -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
    -webkit-animation-delay: 2.82s; /* Wait half of the animation */
    -webkit-animation-name: close-wrapper; /* Keyframes name */
}

.loyalty-points-circle[data-anim~=left] {
    -webkit-animation-duration: 3.66s; /* Full animation time */
    -webkit-animation-name: left-spin;
}

.loyalty-points-circle[data-anim~=right] {
    -webkit-animation-duration: 3s; /* Half animation time */
    -webkit-animation-name: right-spin;
}
/* Rotate the right side of the progress bar from 0 to 180 degrees */
@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}
/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(220deg);
    }
}
/* Set the wrapper clip to auto, effectively removing the clip */
@-webkit-keyframes close-wrapper {
    to {
        clip: rect(auto, auto, auto, auto);
    }
}
/* ANIMATION END*/

/*LEFT BAR STYLE END*/


/*MIDDLE SIDE STYLE START*/
/************************/
.account-middle-container {
    background-color: #fffef6;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    margin-top: 10px;
    width: calc(100% - 300px);
}

.middle-wrapper-heading p {
    padding: 15px 10px;
    font-weight: 600;
    font-size: 14px;
}

.account-middle-left-wrapper{
    width: 290px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    margin-left: 10px;
    height: 100%;
}

.account-middle-left-wrapper>.avatar-wrapper>.image-wrapper, .account-middle-left-wrapper>.avatar-wrapper>.image-wrapper>img{
    width: 120px;
    margin: 30px auto;
    border-radius: 50%;
}

.account-middle-left-wrapper>.avatar-wrapper>.image-wrapper{
    position: relative;
    width: 200px;
    text-align: center;
}

.username-heading>.username{
    font-size: 18px;
    text-align: center;
}

.button-wrapper{
    text-align: center;
}

.button-wrapper>button{
    width: 130px;
    height: 40px;
    background-color: #ff8067;
    border: 1px solid #ff8067;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
}

.button-wrapper>button.file-upload {
    position: relative;
    overflow: hidden;
    background-color: #52a178;
    border-color: #52a178;
}

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.balance-table{
    width: 263px;
    margin: 20px auto;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}

.balance-table tr{
    height: 32px;
}

.balance-table tr td{
     vertical-align: middle;
}

.balance-table tr td:last-child{
    text-align: right;
}

.balance-table tr:first-child td{
    padding-top: 16px;
}

.balance-table tr:last-child td{
    padding-bottom: 16px;
}

.total-balance, .total-bonus, .withdraw-funds{
    color: #006aa6;
}

.total-bonus{
    color: #52a178;
}

.withdraw-funds{
    color: #be3a49;
}

.loyalty-heading{
    text-align: center;
}

.loyalty-heading h4{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.loyalty-level p{
    width: 42.6%;
    padding-left: 14px;
}

.loyalty-level p.current-level{
    text-align: right;
}

.level-progress-bar{
    width: 92%;
    height: 8px;
    background-color: #d4d3cb;
    margin: 10px auto;
    border-radius: 10px;
}

.progress-level{
    width: 20%;
    height: 100%;
    background-color: transparent;
}

.progress-level:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.progress-level:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.level-1{
    background-color: #69cfcb;
}

.level-2{
    background-color: #c4cf69;
}
.level-3{
    background-color: #cf6969;
}


/*MIDDLE middle*/
.account-middle-middle-wrapper{
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    width: calc(100% - 323px);
    margin-left: 6px;
}

.account-middle-navigation>ul{
    background-color: #f3f2e9;
    height: 32px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.account-middle-navigation>ul>li{
    width: 140px;
    height: 31px;
    text-align: center;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    opacity: 0.8;
}

.account-middle-navigation>ul>li:first-child{
    border-top-left-radius: 4px;
}

.account-middle-navigation>ul>li>a{
    padding-left: 0;
    padding-top: 8px;
}

.account-middle-navigation>ul>li.active{
    background-color: #fffef6;
    border-bottom: 0;
    border-top: 3px solid #ff7f66;
    height: 29px;
    opacity: 1;
    position: relative;
    top: -1px
}

.account-middle-navigation>ul>li:hover{
    opacity: 1;
    background-color: #fffef6;
    transition: 0.5s;
}

.my-details-left, .my-details-right{
    width: 48.6%;
    margin-left: 10px;
}

.my-details-wrapper label{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.my-account-changing-content input, .my-account-changing-content select{
    background-color: #fffef6;
    border: 1px solid #3e4545;
    border-radius: 4px;
    height: 34px;
    color: #303838;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
}

.my-account-changing-content input, .country-code-select{
    width: 100%;

}

.my-account-changing-content input[disabled]{
    background-color: #f5f4ec;
    opacity: 0.8;
    border: 1px solid #59605e;
}

#month, #year{
    margin-left: 5px;
    width: 31.3%;
}

#day{
    width: 23%;
}

#year{
    width: 43%;
}

#country{
    width: 100%;
}

.my-details-wrapper input[type="radio"]{
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.gender-span{
    vertical-align: middle;
}

.gender-span.disabled{
    opacity: 0.5;
}

.my-details-wrapper label.gender-label {
    margin: 9px;
}
.my-details-bottom{
    margin-left: 10px;
}

.address-wrapper{
    width: 78%;
}

.postal-code-wrapper{
    width: 20.5%;
    margin-left: 6px;
}

.country-code{
    width: 17%;
}

.mobile-number-wrapper{
    width: 60.4%;
    margin-left: 5px;
}

.verify-button-wrapper{
    width: 20.5%;
    margin-top: 44px;
    margin-left: 6px;
}

.verify-button-wrapper button{
    width: 100%;
    height: 34px;
    color: white;
    background-color: #52a178;
    border: 1px solid #52a178;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.verify-button-wrapper button.cancel {
    background-color: #BF3949;
    border: 1px solid #BF3949;
}

.verify-button-wrapper button.blue {
    background-color: #006AA6;
    border: 1px solid #006AA6;
}

.verify-button-wrapper button.transparent {
    background-color: transparent;
    border: 1px solid #3e4545;
    color: #3e4545;
}

.verify-button-wrapper button.disable {
    background-color: #B6B4B6;
    border: 1px solid #B6B4B6;
    cursor: auto;
}

.info-note{
    margin-top: 10px;
    text-align: center;
    opacity: 0.5;
    background-color: #f3f2e9;
    padding: 10px 0;
}
/*MIDDLE SIDE STYLE END*/
/* COMMON RADIO AND CHECKBOX STYLES  */
input[type=radio],
input[type=checkbox]{
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
}
input[type=radio] + label:before,
input[type=checkbox] + label:before{
    height:12px;
    width:12px;
    margin-right: 2px;
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    border:1px solid #777;
    background: #fffef6;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before{
    background: black;
}


input[type=radio] + label:before{
    border-radius:50%;
}
input[type=checkbox] + label:before{
    border-radius: 2px;
}
/* CUSTOM RADIO AND CHECKBOX STYLES END */


/**************************************/
/**************************************/

/* DOCUMENTS SECTION STYLES */
.documents-wrapper{
    margin: 0 10px;
}

.documents-info{
    margin: 20px 0;
}

.proof-container{
    border: 1px solid #c1c0ba;
    border-radius: 4px;
    margin-bottom: 10px;
}

.proof-container p{
    margin: 1%;
    margin-bottom: 20px;
}

.doctype-label{
    margin-left: 1%;
}

.proof-heading{
    margin: 15px 1%;
}

.half-container{
    margin: 1%;
    width:48%;
}

.half-container select{
    width: 100%;
}

.my-account-changing-content input.inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.inputfile + label {
    cursor: pointer;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    color: #3e4545;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #979b97;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 79%;
    height: 34px;
    padding-left: 10px;
    padding-top: 9px;
}

.upload-button{
    cursor: pointer;
    width: 20%;
    height: 34px;
    background-color: #a2aba8;
    border: 1px solid #8d9795;
    vertical-align: bottom;
    margin-left: -4px;
    text-transform: uppercase;
    color: white;
}

.documents-table-wrapper{
    margin-top: 10px;
    border: 1px solid #c1c0ba;
    border-radius: 4px;
}

.documents-table-wrapper h5{
    margin: 1%
}

.documents-table {
    width: calc(100% - 20px);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px;
    table-layout:auto;
    box-shadow: 0px 0px 0px 1px  #c1c1c1;
    border-radius: 4px;
    overflow: hidden;
}

.documents-table tr th,.documents-table tr td {
    position: relative;
    height: 50px;
    vertical-align: middle;
    background-color: #fffef6;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    color: #3e4545;
    box-shadow: 0px 0px 0px 1px #c1c1c1;
}

.documents-table tr th{
    background-color: #f3f2e9;
    color: #006aa6;
}

/* DOCUMENTS SECTION STYLES END */

.account-middle-container .select {
    position: relative;
}

.account-middle-container .select-field .search-ico:before {
    box-sizing: border-box;
    position: absolute;
    font: 14px/30px icomoon;
    content: "\e6d4";
    color: #3e4545;
    display: block;
    right: 12px;
    top: 26px;
    z-index: 5;
    cursor: pointer
}

.date-p:before {
    color: #3e4545;
}

.account-middle-container .select:after {
    content: "\e674";
    font: 18px icomoon;
    position: absolute;
    right: 8px;
    top: 9px;
    height: 12px;
    color: #000;
}

.account-middle-container th > .select {
    display: block;
}

.account-middle-container th > .select:after {
    content: "\e674";
    font: 22px icomoon;
    position: absolute;
    position: absolute;
    right: 5px;
    top: -2px;
    color: inherit;
}

.account-middle-middle-wrapper.full-width {
    margin: 0px 10px 10px;
    width: calc(100% - 22px);
    height: calc(100% - 60px);
    overflow-y: auto;
}

.account-middle-middle-wrapper.full-width .documents-table-wrapper {
    margin: 10px 0;
}

.table-top-settings {
    margin: 20px 15px 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c5c5be;
}

.table-bottom {
    margin: 10px 15px 20px 15px
}

.table-top-settings .verify-button-wrapper {
    float: right;
    margin: 24px 0 0;
    width: 100px;
}

.documents-table-wrapper .select-field {
    position: relative;
    display: inline-block;
    margin-right: 25px;
}

.documents-table-wrapper .select-field .dob-select {
    display: block;
    width: 195px;
    float: left;
}

.documents-table-wrapper .select-field label {
    display: block;
    margin: 0 15px 10px 0;
}

.documents-table-wrapper .select-field.period-field .select .dob-select {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.documents-table-wrapper .select-field.period-field .date-ico .dob-select {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 26px;

}

.documents-table-wrapper .select-field.period-field .date-ico {
    position: relative;
}

.date-ico .date-p:before {
    top: 7px;
}

.documents-table select {
    width: 100%;
}

.documents-table .game-date {
    font-weight: 600;
    margin-bottom: 3px;
    text-align: left;
}

.documents-table .game-id {
    text-align: left;
    font-size: 12px;
}

.documents-table .text-uppercase {
    text-transform: uppercase;
}

.documents-table.sportsbook > tbody > tr > td:nth-of-type(5n) ,
.documents-table.sportsbook > tbody > tr > td:last-of-type {
    color: #006aa6;
}

.documents-table.sportsbook tbody tr td:last-of-type.active {
    background-color: rgb(243, 243, 243);
}

.documents-table.sportsbook tbody tr td:last-of-type.active span:before{
    transform: rotate(180deg);
    display: block;
}

.sportsbook .icon-arrow-down5 {
    font-size: 22px;
}

.documents-table.sportsbook .sportsbook-details tr td:nth-of-type(4n) {
    color: #006aa6;
}

.documents-wrapper .tab-navigation {
    margin: 20px 15px 0 15px;
    border-bottom: 1px solid #c5c5be;
}

.documents-wrapper .tab-navigation .acc-middle-top-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 15px 0 0;
    padding: 0 0 0 0;
    width: 600px;
}

.documents-wrapper .tab-navigation .acc-middle-top-menu li {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

.documents-wrapper .tab-navigation .acc-middle-top-menu li.active {
    background-color: #fffef6;
    border-bottom: 3px solid #ff7f66;
    position: relative;
    top: 1px;
}

.documents-wrapper .tab-navigation .acc-middle-top-menu li a {
    padding: 0;
    padding-bottom: 17px;
}

.sportsbook td .status {
    border-radius: 100%;
    padding: 2px;
    font-size: 20px;
    top: 13px;
    right: 14px;
    position: absolute;
    font-weight: 600;
}

.sportsbook .status.icon-success {
    color: #52a178;
}

.sportsbook .status.icon-error {
    color: #c14250;
}

.sportsbook .status.icon-shapes {
    color: #c14250;
}

.sportsbook .status.icon-clock2 {
    color: #ff8067;
}

.sportsbook .sportsbook-details {
    background-color: #eee;
}

.sportsbook .sportsbook-details table th {
    color: #3e4545;
}

.sportsbook .sportsbook-details .sport-column i:not(.ico-live) {
    display: block;
    left: 10px;
    top: 15px;
    height: 21px;
    width: 20px;
    position: absolute;
    font: 400 16px/16px sport-icon;
}

.sportsbook .sportsbook-details .sport-column i.ico-live {
    position: absolute;
    top: 0
}

.sportsbook .sportsbook-details .sport-column .game-details {
    margin-left: 30px;
    text-align: left;
}

.sportsbook .sportsbook-details .sport-column .game-details .game-region {
    font-size: 11px;
    color: #c1c0ba;
}

.sportsbook .sportsbook-details .sport-column .game-details .game-name {
    display: block;
    font-size: 13px;
    color: #3e4545;
}

td .bant {
    position: absolute;
    left: -18px;
    top: 12px;
    transform: rotate(-45deg);
    width: 70px;
    font-size: 12px;
    background-color: #52a178;
    color: white;
    text-transform: uppercase;
}

td .cash-out {
    display: block;
    font-size: 10px;
    background-color: #52a178;
    color: white;
    position: relative;
    top: 5px;
    padding: 3px 0;
    border-radius: 4px;
    font-style: italic;
    width: 80%;
    margin: auto;
}

td .cash-out + .status  {
    top: 5px;
}

.game-id .id-number {
    color: #c1c1c1;
}

.table-bottom .select-field {
    display: inline-flex;
    align-items: flex-end;
}

.table-bottom .select-field .dob-select {
    width: 100px;
}

.table-bottom > .pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin: 0;
    text-align: right;
    width: inherit;
}

.table-bottom .pagination li.pagination-box {
    display: inline-block;
    background-color: #fffef6;
    height: 34px;
    color: #303838;
    font-size: 14px;
    margin-right: 8px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    width: 34px;
    text-align: center;
    line-height: 1em;
}

.table-bottom .pagination li.pagination-box.more-boxes a {
    border: 0;
    padding-bottom: 0;
    padding-top: 20px;
}

.table-bottom .pagination li.pagination-box a {
    padding: 10px 0;
    width: initial;
    height: initial;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    height: 14px;
    transition: all .4s;
}

.table-bottom .pagination li.pagination-box a:focus ,
.table-bottom .pagination li.pagination-box a:hover {
    border: 1px solid #504e4e;
}

.table-bottom .pagination li.pagination-box:last-child {
    margin-right: 0;
}

.hide {
    display: none !important;
}

.flex {
    display: flex;
}

.bets-tab {
    margin: 15px;
}

.bets-tab .acc-middle-top-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    background-color: #f3f2e9;
    border: 1px solid #c1c1c1;;
    border-radius: 4px;
    overflow: hidden;
}

.bets-tab .acc-middle-top-menu li {
    position: relative;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 5px 0;
    border-right: 1px solid #c1c1c1;
}

.bets-tab .acc-middle-top-menu li:last-of-type {
    border-right: 0;
}

.bets-tab .acc-middle-top-menu li.active {
    background-color: #fff;
}

.bets-tab .acc-middle-top-menu li a {
    width: inherit;
}

.bets-tab .acc-middle-top-menu .bets-quantity {
    background-color: #ff7f66;
    position: absolute;
    border-radius: 45px;
    color: #fff;
    padding: 2px 4px;
    right: 10%;
    top: 8px;
}

/* PROMOTIONS */

.account-promotions .documents-table-wrapper {
    border: none;
}

.account-promotions .documents-wrapper .tab-navigation {
    margin-right: 0;
}

.account-promotions .documents-wrapper .promotions {
    margin: 10px 0;
}

.account-promotions .promotions .promotion-block {
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
}

.account-promotions .promotions .promotion-block img {
    height: 100%;
}

.account-promotions .promotions .promotion-block .promotion-info {
    margin-left: 10px;
    width: 100%;
}

.account-promotions .promotions .promotion-block .promotion-info-header .available {
    float: right;
    padding: 2px 10px;
    font-size: 12px;
    background-color: #EEBE6D;
    color: white;
    border-radius: 4px;
}

.account-promotions .promotions .promotion-block .promotion-info-header .start {
    float: right;
    padding: 2px 10px;
    font-size: 12px;
    background-color: #53A079;
    color: white;
    border-radius: 4px;
    margin-right: 10px
}

.account-promotions .promotions .promotion-block .promotion-info-header .end {
    float: right;
    padding: 2px 10px;
    font-size: 12px;
    background-color: #BF3949;
    color: white;
    border-radius: 4px;
}

.account-promotions .promotions .promotion-block .promotion-info-header span:first-child {
    font-size: 14px;
    font-weight: 600;
}

.account-promotions .promotions .promotion-block .promotion-info-middle {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 10px);
    padding: 20px 10px;
}

.account-promotions .promotions .promotion-block .promotion-info-middle .details .detail {
    padding: 0 60px;
    border-right: 1px solid #c1c1c1;
}

.account-promotions .promotions .promotion-block .promotion-info-middle .details .detail:first-child {
    padding-left:0;
}

.account-promotions .promotions .promotion-block .promotion-info-middle .details .detail:last-child {
    border-right: none;
}

.account-promotions .promotions .promotion-block .promotion-info-middle .details .detail > div:first-child {
    margin-bottom: 5px;
}

.account-promotions .promotions .verify-button-wrapper {
    text-align: right;
    margin: 0;
}

.account-promotions .promotions .verify-button-wrapper button {
    padding: 10px 25px;
    width: initial;
}

.account-promotions .promotions .terms {
    position: relative;
    border-top: 1px solid #c1c1c1;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 8px;
    width: calc(100% + 8px);
    margin-left: -8px;
}

.account-promotions .promotions .terms .icon-plus3 {
    font-size: 22px;
    position: absolute;
    right: 8px;
    top: 6px;
    cursor: pointer;
}

.account-promotions .promotions .terms.active > span{
    color: #006aa6;
}

.account-promotions .promotions .terms.active .icon-plus3:before {
    content: '\e62d';
}

.account-promotions .promotions .terms ol li {
    margin: 10px 0px;
    list-style-type: decimal;
    list-style-position: inside;
}

.account-promotions .promotions .terms ol li:last-child {
    margin-bottom: 0;
}

.account-promotions .promotions .promotion-progressbar {
    position: relative;
    width: 75%;
    border: 5px solid #eee;
    background-color: #c1c1c1;
    border-radius: 10px;
    margin: 40px 0 40px 45px;
    align-items: center;
}

.account-promotions .promotions .promotion-progressbar .starting-price {
    position: absolute;
    left: -35px;
}

.account-promotions .promotions .promotion-progressbar .maximum-price {
    position: absolute;
    right: -55px;
}

.account-promotions .promotions .promotion-progressbar .progressbar {
    width: 10%;
    height: 10px;
    background-color: #0069A7;
    border-radius: 10px;
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.account-promotions .promotions .promotion-progressbar .progressbar .tootlip-progress {
    width: 110px;
    color: #FFFFFF;
    background: #0069A7;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    top: -35px;
    right: -55px;
}

.account-promotions .promotions .promotion-progressbar .progressbar .tootlip-progress:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 49.5%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #0069A7;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.account-promotions .promotions .promotion-progressbar > .tootlip-progress {
    position: absolute;
    left: calc(75% / 2 + 23px);
    top: 18px;
    width:140px;
    color: #FFFFFF;
    background: #EEBE6D;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border-radius: 4px;
}

.account-promotions .promotions .promotion-progressbar > .tootlip-progress:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #EEBE6D;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

/* MESSAGES */

.account-middle-container.messages {
    padding-bottom: 10px;
}

.account-middle-container.messages .account-middle-left-wrapper {
    padding:10px;
}

.account-middle-container.messages .account-middle-left-wrapper .verify-button-wrapper {
    margin: 0;
    width: 100%;
}

.account-middle-container.messages .account-middle-left-wrapper .vertical-navigation {
    margin-top: 10px;
    width: 100%;
}

.account-middle-container.messages .account-middle-left-wrapper .vertical-navigation  .vertical-navigation-links {
    background-color: #e6e5dc;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.2s;
    overflow: hidden;
}

.account-middle-container.messages .account-middle-left-wrapper .vertical-navigation  .vertical-navigation-links a {
    width: inherit;
    padding: 8px;
}

.account-middle-container.messages .account-middle-left-wrapper .vertical-navigation  .vertical-navigation-links:hover {
    background-color: #fffef6;
    cursor: pointer;
}

.account-middle-container.messages .account-middle-left-wrapper .vertical-navigation  .vertical-navigation-links.active a{
    background-color: #fffef6;
    border-left: 3px solid #ff7f66;
}

.account-middle-container.messages .account-middle-middle-wrapper {
    width:calc(100% - 343px);
}

.account-middle-container.messages .account-middle-middle-wrapper .middle-wrapper-heading {
    position: relative;
}

.account-middle-container.messages .account-middle-middle-wrapper .middle-wrapper-heading .verify-button-wrapper {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 5px;
    width: inherit;
}

.account-middle-container.messages .account-middle-middle-wrapper .middle-wrapper-heading .verify-button-wrapper button {
    padding: 0 20px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box {
    width: initial;
    margin: 0 10px 10px 10px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    overflow: hidden;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-header {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #c1c1c1;
    background-color: #f0efe7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-header .verify-button-wrapper {
    margin: 0;
    width: inherit;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-header .verify-button-wrapper button {
    padding: 0 20px;
    width: inherit;
    margin-left: 15px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body {
    margin: 10px 40px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .text {
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 25px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments {
    margin: 20px 0;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .attachment-info {
    font-size: 16px;
    margin: 20px 0;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block {
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    width: calc(20% - 9px);
    height: 120px;
    position: relative;
    margin-right: 8px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block:last-of-type {
    margin-right: 0
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .icon {
    display: block;
    position: absolute;
    text-align: center;
    top: 38px;
    font-size: 30px;
    color: white;
    z-index: 20;
    padding: 4px;
    border-radius: 4px;
    background-color: rgba(78, 72, 72, 0.3);
    opacity: 0;
    cursor: pointer;
    transition: all .15s;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .icon-cross-close {
    position: absolute;
    color: white;
    z-index: 10;
    right: 10px;
    top: 10px;
    font-size: 18px;
    transition: all 0.15s;
    opacity: 0;
    cursor: pointer;
    display: none;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .icon:hover {
    color: #ff8067;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .icon-eye {
    left: 40px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .icon-download {
    right: 40px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block:hover .overlay {
    top: 0;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block:hover [class^="icon-"],
.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block:hover [class*=" icon-"] {
    opacity: 1;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block img {
    min-width: 100%;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .title {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    z-index: 10;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(125, 125, 125, 0.7);
    top: 75%;
    z-index: 0;
    transition: all .15s;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .progressbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    background-color: #fffef6;
    height: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block .progressbar .bar {
    height: 6px;
    background-color: #ff8067;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block.loading .overlay {
    top: 0;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block.loading .title ,
.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block.document .title {
    bottom: 25px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block.document {
    background-color: #B6B4B6;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block.document .icon-text2 {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 24px;
    font-size: 45px;
    color: white;
    cursor: pointer;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block.document:after {
    content: "";
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 25px solid #fffef6;
    border-left: 25px solid rgb(154, 152, 137);
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments .img-block.document .overlay {
    top: 100%;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .attachments + .message-form {
    border-top: 1px solid #c1c1c1;
    margin-top: 30px;
    padding-top: 20px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form + .attachments  {
    margin-top: 20px;
    padding-top: 0;
    border-top: 1px solid #c1c1c1;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form + .attachments .icon-cross-close {
    display: block;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form {
    border: none;
    border-radius: 0;
    margin-top: 20px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form .select-field {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form select {
    width: 100%;
    background-color: #fffef6;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    height: 34px;
    color: #c1c1c1;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form .select:after {
    color: #c1c1c1;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form textarea {
    background-color: #fffef6;
    resize: none;
    width: calc(100% - 18px);
    border: 1px solid #c1c1c1;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form .verify-button-wrapper {
    margin: 0;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form .verify-button-wrapper button {
    width: initial;
    padding: 0 20px;
    min-width: 140px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form .verify-button-wrapper button.transparent {
    border: 1px solid #c1c1c1;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form .verify-button-wrapper button.cancel {
    position: absolute;
    right: 160px;
}

.account-middle-container.messages .account-middle-middle-wrapper .message-box .message-body .message-form .verify-button-wrapper button .icon-plus3 {
    font-size: 16px;
    float: left;
    margin-right: 5px;
    margin-top: -1px;
}

