<div watch-resize middle-screen-mode="true" ng-init="setTitle('Finbet')">
    <div>
        <div class="casino-main" ng-if="!finbet.selected">
            <div class="new-games-page-j">
                <div class="games-pattern-j">
                    <div class="gamesp-container-j">
                        <ul class="j-resize-950-1280">
                            <li class="{{item.css}}" ng-repeat="item in conf.finbet.pages track by $index">
                                <p>{{ item.name|translate }}</p>
                                <a ng-if="item.url" class="game-link-tj" href="{{item.url}}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>