@mixin classic-new-view-8 {
  // Live multiview
  .full-multiview-wrapper-v3{
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .game-center-container-multi-v3{
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .multiview-wrapper-v3{
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .game-center-container-multi-v3 .multiview-contain, .game-center-container-multi-v3 .dndPlaceholder{
    box-sizing: border-box;
    float: left;
    width: calc(50% - 6px);
    margin: 0 5px 10px 0;
    height: 400px;
    background: darken( saturate( $c16-sp, 2 ), 3 );
    border-radius: 5px;
    list-style: none;
    position: relative;
  }
  .game-center-container-multi-v3 .no-games-multiview .dotted-border-j-mv {
    color: lighten( desaturate( adjust-hue( $c16-tp, -4deg ), 17 ), 16 );
    border-color: $c16-tp-9;
  }
  .games-list-mini-view-v3 .dndPlaceholder{
    height: 0;
    margin: 0;
    width: 100%;
  }
  @media screen and (max-width: 1279px) {
    .live-events-column-v3 {
      width: 100%;
    }
    .multiview-wrapper-v3 > .multiview-contain, .dndPlaceholder{
      width: calc(100% - 6px);
    }
  }
  .multi-game-view-game-v3{
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
  .multi-game-view-game-v3 .game-additional-info-v3{
    margin-top: 0;
  }
  .multi-view-statistic-v3{
    box-sizing: border-box;
    float: left;
    width: 100%;
    min-height: 147px;
  }
  .multi-view-statistic-v3 *{
    box-sizing: content-box;
  }
  .multi-view-game-info-v3{
    box-sizing: border-box;
    float: left;
    width: 100%;
    @include scroll;
    height: 254px;
    transition: height 500ms;
  }
  .multiview-contain.has-statistics .multi-view-game-info-v3{
    box-sizing: border-box;
    height: 254px;
  }
  .multiview-contain.has-statistics.open .multi-view-game-info-v3{
    box-sizing: border-box;
    height: 181px;
  }
  .multiview-wrapper-v3 .live-events-column-v3{
    box-sizing: border-box;
    width: 100%;
  }
  .multiview-wrapper-v3  .live-game-container .game-info ul.title li{
    white-space: nowrap;
  }
  // Live multiview END
}