<div>
    <div ng-include="getTemplate('templates/popup/help.html')" ng-if="$location.path() ==='/popup/' && $location.search().action =='help'"></div>
    <div ng-include="getTemplate('templates/slider/help.html')" ng-if="$location.path() ==='/popup/' && $location.search().action =='helpPopup'"></div>
    <div ng-include="getTemplate('templates/popup/pageprint.html')" ng-if="$location.path() ==='/popup/' && $location.search().action =='pageprint'"></div>
    <div ng-include="getTemplate('templates/popup/booking.html')" ng-if="$location.path() ==='/popup/' && $location.search().action =='booking'"></div>
    <div ng-include="getTemplate('templates/popup/betprintpreview.html')" ng-if="$location.path() ==='/popup/' && $location.search().action =='betprintpreview'"></div>
    <div ng-include="getTemplate('templates/popup/couponprintpreview.html')" ng-if="$location.path() ==='/popup/' && $location.search().action =='couponprintpreview'"></div>
    <div ng-include="getTemplate('templates/popup/content.html')" ng-if="$location.path() ==='/popup/' && $location.search().action =='content'"></div>
    <div ng-include="getTemplate('templates/popup/gamedetails.html')" ng-if="$location.path() ==='/popup/' && $location.search().action =='gamedetails'"></div>
</div>
