<script type="text/javascript" src="https://2268f7ea3aac49a54df4.curacao-egaming.com/ceg-seal.js"></script>
<div ng-if="!conf.oldHomepage" ng-init="setTitle('')" class="new-homepage">
    <div id="welcome-logo">
        <div class="new-logo limiter">
            <div class="logo-landing"></div>
            <a href="#/"></a>
        </div>
        <div class="contacts-blog">
            <div class="top-text">
                <p trans>Be our partner, open an affiliation with us</p>
            </div>

            <div class="contacts-buttons">
                <a class="btn-contact mail" ng-click="broadcast('feedback.toggle')">
                    <span class="icon icon-mail-envelope-closed"></span>
                    <span class="btn-text">
                        <span>
                            Contact Us
                        </span>
                        <span>
                        Send Message
                    </span>
                    </span>
                </a>
                <a href="whatsapp://+37495023331" class="btn-contact tel">
                    <span class="icon icon-whatsapp"></span>
                    <span class="btn-text">
                        <span>
                             +55 11-97154-6997
                        </span>
                        <span>
                             WhatsApp Number
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div id="top-part">
        <div class="site-title">
            <h2 class="welcome limiter" trans>Welcome to Loungebet</h2>
            <h3 class="site-info limiter" ng-show="!env.authorized" trans>Enjoy your time with us playing on our
                sportsbook and casino games</h3>
            <div class="signin-reg-buttons-landing limiter" ng-show="env.authorized">
                <ul>
                    <li>
                        <a href="#/sport/?type=0">
                            <button trans>Explore</button>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="signin-reg-buttons-landing limiter" ng-show="!env.authorized">
                <ul>
                    <li>
                        <button ng-class="{'active-s': env.sliderContent === 'signInForm'}"
                                ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();"
                                trans>Sign in
                        </button>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div id="product">
        <div id="bottom-part">
            <div class="title-line">
                <h2 class="title-line-text" trans>Here you can find our products</h2>
            </div>
        </div>
        <div class="limiter">
            <div class="product-block" ng-show="!env.authorized">
                <div class="product">
                    <div class="product-wrap">
                        <a class="product-link" href="#/sport/?type=0">
                            <h2 class="product-title">
                                <span trans>Sport</span>
                            </h2>
                            <p class="product-icon-container">
                                <b class="sport-logo"></b>
                            </p>
                            <div class="product-text">
                                    <span>
                                        <p trans>40,000+ pre-match events every month</p></span>
                                <span trans>140+ types of sports</span>
                            </div>
                        </a>
                        <div class="signin-button-landing" ng-show="!env.authorized">
                            <div>
                                <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                    <span trans>Sign in</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-wrap">
                        <a class="product-link" href="#/sport/?type=0">
                            <h2 class="product-title">
                                <span trans>In-Play</span>
                            </h2>
                            <p class="product-icon-container">
                                <b class="play-logo"></b>
                            </p>
                            <div class="product-text">
                                    <span>
                                        <p trans>30,000 live events every month</p></span>
                                <span trans>Live video stream</span>
                            </div>
                        </a>
                        <div class="signin-button-landing" ng-show="!env.authorized">
                            <div>
                                <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                    <span trans>Sign in</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="product">
                    <div class="product-wrap">
                        <a class="product-link" href="#/casino/">
                            <h2 class="product-title">
                                <span trans>Casino</span>
                            </h2>
                            <p class="product-icon-container">
                                <b class="casino-logo"></b>
                            </p>
                            <div class="product-text">
                                    <span>
                                        <p trans>Exciting casino games</p></span>
                                <span trans>Constantly renovated range of games</span>
                            </div>

                        </a>
                        <div class="signin-button-landing" ng-show="!env.authorized">
                            <div>
                                <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                    <span trans>Sign in</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="product">
                <div class="product-wrap">
                    <a class="product-link" href="#/livedealer/">
                        <h2 class="product-title">
                            <span trans>Live Casino</span>
                        </h2>
                        <p class="product-icon-container">
                            <b class="livecasino-logo"></b>
                        </p>
                        <div class="product-text">
                                    <span>
                                        <p trans>Real games in real time 24/7</p></span>
                            <span trans>HD quality streaming</span>
                        </div>
                    </a>
                    <div class="signin-button-landing" ng-show="!env.authorized">
                        <div>
                            <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                <span trans>Sign in</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
                <div ng-show="conf.stagingpoker" class="product">
                    <div class="product-wrap">
                        <a class="product-link" href="#/poker/">
                            <h2 class="product-title">
                                <span trans>Poker</span>
                            </h2>
                            <p class="product-icon-container">
                                <b class="livecasino-logo"></b>
                            </p>
                            <div class="product-text">
                                    <span>
                                        <p trans>Real games in real time 24/7</p></span>
                                <span trans>HD quality streaming</span>
                            </div>
                        </a>
                        <div class="signin-button-landing" ng-show="!env.authorized">
                            <div>
                                <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                    <span trans>Sign in</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="clear">&nbsp;</div>
            </div>
            <div class="product-block" ng-show="env.authorized">
                <div class="product">
                    <div class="product-wrap-new">
                        <a class="product-link" href="#/sport/?type=0">
                            <h2 class="product-title">
                                <span trans>Sport</span>
                            </h2>
                            <p class="product-icon-container">
                                <b class="sport-logo"></b>
                            </p>
                            <div class="product-text">
                                    <span>
                                        <p trans>40,000+ pre-match events every month</p></span>
                                <span trans>50+ types of sports</span>
                            </div>
                        </a>
                        <div class="signin-button-landing" ng-show="!env.authorized">
                            <div>
                                <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                    <span trans>Sign in</span>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="product">
                    <div class="product-wrap-new">
                        <a class="product-link" href="#/sport/?type=0">
                            <h2 class="product-title">
                                <span trans>In-Play</span>
                            </h2>
                            <p class="product-icon-container">
                                <b class="play-logo"></b>
                            </p>
                            <div class="product-text">
                                    <span>
                                        <p trans>30,000 live events every month</p></span>
                                <span trans>Live video stream</span>
                            </div>
                        </a>
                        <div class="signin-button-landing" ng-show="!env.authorized">
                            <div>
                                <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                    <span trans>Sign in</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="product">
                    <div class="product-wrap-new">
                        <a class="product-link" href="#/casino/">
                            <h2 class="product-title">
                                <span trans>Casino</span>
                            </h2>
                            <p class="product-icon-container">
                                <b class="casino-logo"></b>
                            </p>
                            <div class="product-text">
                                    <span>
                                        <p trans>Exciting casino games</p></span>
                                <span trans>Constantly renovated range of games</span>
                            </div>

                        </a>
                        <div class="signin-button-landing" ng-show="!env.authorized">
                            <div>
                                <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                    <span trans>Sign in</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="product">
                    <div class="product-wrap-new">
                        <a class="product-link" href="#/livedealer/">
                            <h2 class="product-title">
                                <span trans>Live Casino</span>
                            </h2>
                            <p class="product-icon-container">
                                <b class="livecasino-logo"></b>
                            </p>
                            <div class="product-text">
                                    <span>
                                        <p trans>Real games in real time 24/7</p></span>
                                <span trans>HD quality streaming</span>
                            </div>
                        </a>
                        <div class="signin-button-landing" ng-show="!env.authorized">
                            <div>
                                <button ng-click="broadcast( 'openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();">
                                    <span trans>Sign in</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="clear">&nbsp;</div>
            </div>
        </div>
    </div>
</div>


<!--<div ng-controller="cmsPageSliderCtrl" ng-include="getTemplate('templates/bottomslider.html')" onload="loadSliderContent('homepage-slider-' + env.lang)"></div>-->
