<!--Меню sport news-->
<div ng-class="{'temp_bg' : !selectedNews}" ng-controller="cmsSportNewsCtrl" watch-resize class="block-size-visible-b">
<div class="spor-news-nav-contein" ng-init="init(); loadSports()">
    <div class="nav-news-sport">
        <ul>
            <div class="news-sport-contain" ng-show="sports">
                <li>
                    <h3 ng-if="!conf.sportNewsLink" trans>sport news</h3>
                    <a ng-if="conf.sportNewsLink" ng-href="{{conf.sportNewsLink}}" target="_blank">
                        <span class="sport-news-link-t" trans>sport news</span>
                    </a>
                </li>

                <li ng-class="{'active-item': !selectedNewsSport.id}"><a ng-click="selectNewsSport({id:undefined})" trans>all</a></li>
                <li ng-repeat="sport in sports" ng-class="{'active-item':sport.id === selectedNewsSport.id}" ng-if="$index < maxVisibleSports"><a ng-click="selectNewsSport(sport);closeNews();">{{ sport.title|translate }}</a></li>
            </div>
            <li class="last-item" ng-show="sportsMore.length"><a trans>More</a><!--ng-bind="'+'+sports.length - maxVisibleSports"-->
                <div class="contein-games" ng-hide="hideSportListDropdown">
                    <div class="arrow-sport"></div>
                    <h3 trans>Select a Sport </h3>

                    <div class="meny-games" ng-repeat="column in sportsMore ">
                        <ul ng-repeat="letterGroup in column">
                            <li>{{ letterGroup[0].title.charAt(0)}}</li>
                            <li class="sportnews-{{sport.id}}" ng-repeat="sport in letterGroup"><a ng-click="selectNewsSport(sport);closeNews();"> {{ sport.title|translate }} </a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


<!--Меню sport news-->
<vbet-loader ng-show="newsAreLoading"></vbet-loader>
<div class="block-news-preview"  ng-init="loadRecentNews(numberOfRecentNews, undefined, true); " ng-show="!newsAreLoading">
<!-- new part -->
   <!-- <div class="news-img-block" ng-mouseover="showHightlightedNews(selectedNews)" ng-mouseleave="loopThroughNews(true)">
        <a ng-href="#/news/?news={{selectedNews.id}}" ><img ng-src="{{selectedNews.thumbnail}}" class="animate-img-show" alt="" id="currentImg"></a>
        <p>
            <span class="news-date-b">{{ selectedNews.date|formatDate:'LL' }}</span>
            <a ng-href="#/news/?news={{selectedNews.id}}"><span ng-bind-html="selectedNews.title"></span></a>
        </p>
    </div>-->
    <div class="news-img-block">
        <div no-animate="disable" class="news-slide" ng-repeat="news in recentNews" ng-mouseover="showHightlightedNews(selectedNews)" ng-mouseleave="loopThroughNews(true)" ng-show="news.id === selectedNews.id" ng-class="{'active': news.id === selectedNews.id}">
            <a ng-if='!isWidget' ng-href="#/news/?news={{news.id}}" style="background-image: url({{news.thumbnail}})"></a>
            <a ng-if='isWidget'  ng-click="gotoSelectedNews(news)" style="background-image: url({{news.thumbnail}})"></a>
            <p>
                <span class="news-date-b">{{ news.date|formatDate: env.lang === 'tur' ? 'DD MMMM YYYY' : 'MMMM DD YYYY' }}</span>
                <a ng-if='!isWidget' ng-href="#/news/?news={{news.id}}"><span ng-bind-html="news.title"></span></a>
                <a ng-if='isWidget'  ng-click="gotoSelectedNews(news)"><span ng-bind-html="news.title"></span></a>

            </p>
            <span ng-if="$index == 0 && isWidget" ng-init="showHightlightedNews(news)"></span>
        </div>
    </div>
    <div class="news-list" id="newsBlockID">
        <ul  ng-mouseleave="loopThroughNews(true)">
            <li ng-repeat="news in recentNews" id="{{news.id}}" ng-class="{'active-news': (news.id == selectedNews.id)}" ng-mouseover="showHightlightedNews(news)" ng-click="gotoNews(news.id)">
                <a ng-if='!isWidget' ng-href="#/news/?news={{news.id}}">
                    <p class="date-news-info">{{ news.date + cmsTimeZone  |formatDate: 'LT - ll':null:env.timeFormat }}</p>
                    <p  class="news-text-inform" title="{{news.titleRaw}}" ng-bind-html="news.title"></p>
                </a>
                <a ng-if='isWidget'  ng-click="gotoSelectedNews(news)">
                    <p class="date-news-info">{{ news.date + cmsTimeZone  |formatDate: 'LT - ll':null:env.timeFormat }}</p>
                    <p  class="news-text-inform" title="{{news.titleRaw}}" ng-bind-html="news.title"></p>
                </a>
            </li>
            <li ng-if="!recentNews || recentNews.length == 0">
                <p trans>There are no news in this section.</p>
            </li>
        </ul>
    </div>
    <div ng-if='!isWidget' class="all-news-link"><a ng-href="{{conf.allNewsLink || '#/news'}}" trans>All news</a></div>
    <div ng-if='isWidget'  class="all-news-link"><a ng-click="gotoSelectedNews()" trans>All news</a></div>

</div>

</div>