<!DOCTYPE html>
<html>
<head>
    <title>
        my cards-edit-delete
    </title>
    <link rel="stylesheet" type="text/css" href="../../../css/fonts/default.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../skins/loungebet.com/css/skin.css">
    <link rel="stylesheet" type="text/css" href="css/new_account_style.css">
    <link rel="stylesheet" type="text/css" href="css/medias.css">
</head>
<body>

<div class="account-main-container">
    <!-- left side start -->
    <div class="account-left-container floating-element">
        <div class="account-heading">
            <p>
                My Account
                <span class="icon-Close_LSB"></span>
            </p>
        </div>
        <div class="account-accordion">
            <div class="acc-main-item balance-management active">
                <p>
                    <span class="icon-Balance_Management"></span>
                    Balance Management
                    <span class="icon-expand2"></span>
                </p>
            </div>
            <div class="accordion-container">
                <ul class="balance-management-container">
                    <li><a href="#">Deposit</a></li>
                    <li class="active"><a href="#">Withdraw</a></li>
                    <li><a href="#">My Cards</a></li>
                    <li><a href="#">Transactions</a></li>
                </ul>
            </div>
            <div class="acc-main-item my-profile">
                <p>
                    <span class="icon-My_Profile"></span>
                    My Profile
                    <span class="icon-expand2"></span>
                </p>
            </div>
            <div class="acc-main-item history">
                <p>
                    <span class="icon-History"></span>
                    History
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item promotions">
                <p>
                    <span class="icon-Promotions"></span>
                    Promotions
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item vip">
                <p>
                    <span class="icon-VIP"></span>
                    VIP
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item messages">
                <p>
                    <span class="icon-Messages"></span>
                    Messages
                    <span class="icon-expand2"></span>
                </p>
            </div>
        </div>

        <div class="fill-div"></div>
    </div>
    <!-- left side end -->

    <!-- middle side start -->
    <div class="account-middle-container floating-element">
        <div class="middle-wrapper-heading">
            <p>My Profile</p>
        </div>

        <div class="account-middle-left-wrapper inline-element">
            <div class="avatar-wrapper">

                <div class="image-wrapper">
                    <div class="gray-border"></div>
                    <div class="loyalty-level-circle">3</div>
                    <div class="circle-points-wrapper" data-anim="base wrapper">

                        <div class="loyalty-points-circle" data-anim="base left"></div>
                        <div class="loyalty-points-circle" data-anim="base right"></div>

                    </div>
                    <img src="img/avatar.jpg" alt="avatar">
                </div>
            </div>
            <div class="username-heading">
                <p class="username">John Doe</p>
            </div>
            <div class="button-wrapper">
                <button class="change-avatar">Change Avatar</button>
                <button class="file-upload">
                    <input type="file" class="file-input">Upload Image
                </button>
            </div>
            <table class="balance-table">
                <tr class="total-balance">
                    <td>Total Balance</td>
                    <td>$ 601.50</td>
                </tr>
                <tr class="total-bonus">
                    <td>Total Bonus Money </td>
                    <td>$ 325.80</td>
                </tr>
                <tr class="withdraw-funds">
                    <td>Withdrawable Funds </td>
                    <td>$ 927.30</td>
                </tr>
            </table>
            <div class="loyalty-wrapper">
                <div class="loyalty-heading">

                    <h4>
                        <span class="icon-VIP"></span>
                        Loyalty Points
                    </h4>
                </div>
                <div class="loyalty-level">
                    <p class="inline-element">Your Level Now</p>
                    <p class="current-level inline-element">LEVEL 3</p>
                    <div class="level-progress-bar">
                        <span class="progress-level level-1 floating-element"></span>
                        <span class="progress-level level-2 floating-element"></span>
                        <span class="progress-level level-3 floating-element"></span>
                        <span class="progress-level level-4 floating-element"></span>
                        <span class="progress-level level-5 floating-element"></span>
                    </div>
                </div>
            </div>
        </div> <!--end middle-left-->

        <!-- MIDDLE MIDDLE -->
        <div class="account-middle-middle-wrapper inline-element">
            <div class="account-middle-navigation">
                <ul class="acc-middle-top-menu">
                    <li class="floating-element"><a href="new_account_balance_management_deposit.html">Deposit</a></li>
                    <li class="floating-element"><a href="new_account_balance_management_withdraw.html">Withdraw</a></li>
                    <li class="floating-element active"><a href="my_account_balance_management_my_cards.html">My Cards</a></li>
                    <li class="floating-element"><a href="my_account_balance_management_transactions.html">Transactions</a></li>
                </ul>
            </div>
            <div class="my-account-changing-content" ng-view>
                <div class="deposit-wrapper my-cards add-payment-method">
                    <div class="payment-blue-heading">
                        <h5>Add Payment Method</h5>
                    </div>
                    <div class="add-payment-wrap">
                        <form name="add-payment">
                            <label>Payment Method</label>
                            <br>
                            <select class="peyment-method">
                                <option>Credit/Debit Card</option>
                                <option>E-Wallet</option>
                            </select>
                            <br>
                            <div class="name-wrap">
                                <div class="f-name floating-element">
                                    <label>First Name</label>
                                    <br>
                                    <input type="text" name="first-name" value="john" disabled>
                                </div>
                                <div class="l-name floating-element">
                                    <label>Last Name</label>
                                    <br>
                                    <input type="text" name="last-name" value="Doe" disabled>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <label>Credit Card Number *</label>
                            <br>
                            <input type="text" name="card-number" value="9999 - **** - **** - 9999">
                            <br>
                            <div class="expiry-date-cvv-wrap">
                                <div class="expiry-date-wrap floating-element">
                                    <div class="expiry-month floating-element">
                                        <label>Expiry Date *</label>
                                        <br>
                                        <select name="expiry-month" class="last-element">
                                            <option>Month</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                            <option>09</option>
                                            <option>00</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                    <div class="expiry-year floating-element">
                                        <select name="expiry-year" class="last-element">
                                            <option>Year</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                            <option>21</option>
                                            <option>22</option>
                                            <option>23</option>
                                            <option>24</option>
                                            <option>25</option>
                                        </select>
                                    </div>
                                    <div class="clear"></div>
                                </div>

                                <div class="cvv-wrap floating-element">
                                    <label>CVV *</label>
                                    <br>
                                    <input type="password" name="cvv-code" class="last-element">
                                </div>
                                <div class="clear"></div>
                                <p class="gray-info">* Indicates required fields</p>
                            </div>
                            <div class="add-card-wrapper">
                                <button class="add-card long save-card">
                                    Save Changes
                                </button>
                                <button class="delete-card long">
                                    Delete Card
                                </button>
                            </div>
                        </form>
                        <div class="clear"></div>
                        <div class="view-my-cards-wrap">
                            <a href="#" class="view-cards">View my Cards</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- middle side end -->
</div>
</body>
</html>