<!DOCTYPE html>
<html>
<head>
    <title>
        My Account
    </title>
    <link rel="stylesheet" type="text/css" href="css/new_account_style.css">
</head>
<body>

<div class="account-left-container">
    <div class="account-heading">
        <h4>My Account</h4>
        <span class="account-icon"></span>
    </div>
    <div class="account-accordion">
        <div class="acc-main-item balance-management">
            <p>Balance Management</p>
        </div>
        <div class="acc-main-item my-profile">
            <p>My Profile</p>
        </div>
        <div class="accordion-container">
            <ul class="my-profile-container">
                <li><a href="#">My Details</a></li>
                <li><a href="#">My Documents</a></li>
                <li><a href="#">Self Limits</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Security</a></li>
            </ul>
        </div>


        <div class="acc-main-item history">
            <p>History</p>
        </div>

        <div class="acc-main-item promotions">
            <p>Promotions</p>
        </div>

        <div class="acc-main-item vip">
            <p>VIP</p>
        </div>

        <div class="acc-main-item messages">
            <p>Messages</p>
        </div>
    </div>
</div>




</body>
</html>