<!DOCTYPE html>
<html>
<head>
    <title>
        withdraw - mastercard filling
    </title>
    <link rel="stylesheet" type="text/css" href="../../../css/fonts/default.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../skins/loungebet.com/css/skin.css">
    <link rel="stylesheet" type="text/css" href="css/new_account_style.css">
    <link rel="stylesheet" type="text/css" href="css/medias.css">
</head>
<body>

<div class="account-main-container">
    <!-- left side start -->
    <div class="account-left-container floating-element">
        <div class="account-heading">
            <p>
                My Account
                <span class="icon-Close_LSB"></span>
            </p>
        </div>
        <div class="account-accordion">
            <div class="acc-main-item balance-management active">
                <p>
                    <span class="icon-Balance_Management"></span>
                    Balance Management
                    <span class="icon-expand2"></span>
                </p>
            </div>
            <div class="accordion-container">
                <ul class="balance-management-container">
                    <li><a href="#">Deposit</a></li>
                    <li class="active"><a href="#">Withdraw</a></li>
                    <li><a href="#">My Cards</a></li>
                    <li><a href="#">Transactions</a></li>
                </ul>
            </div>
            <div class="acc-main-item my-profile">
                <p>
                    <span class="icon-My_Profile"></span>
                    My Profile
                    <span class="icon-expand2"></span>
                </p>
            </div>
            <div class="acc-main-item history">
                <p>
                    <span class="icon-History"></span>
                    History
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item promotions">
                <p>
                    <span class="icon-Promotions"></span>
                    Promotions
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item vip">
                <p>
                    <span class="icon-VIP"></span>
                    VIP
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item messages">
                <p>
                    <span class="icon-Messages"></span>
                    Messages
                    <span class="icon-expand2"></span>
                </p>
            </div>
        </div>

        <div class="fill-div"></div>
    </div>
    <!-- left side end -->

    <!-- middle side start -->
    <div class="account-middle-container floating-element">
        <div class="middle-wrapper-heading">
            <p>My Profile</p>
        </div>

        <div class="account-middle-left-wrapper inline-element">
            <div class="avatar-wrapper">

                <div class="image-wrapper">
                    <div class="gray-border"></div>
                    <div class="loyalty-level-circle">3</div>
                    <div class="circle-points-wrapper" data-anim="base wrapper">

                        <div class="loyalty-points-circle" data-anim="base left"></div>
                        <div class="loyalty-points-circle" data-anim="base right"></div>

                    </div>
                    <img src="img/avatar.jpg" alt="avatar">
                </div>
            </div>
            <div class="username-heading">
                <p class="username">John Doe</p>
            </div>
            <div class="button-wrapper">
                <button class="change-avatar">Change Avatar</button>
                <button class="file-upload">
                    <input type="file" class="file-input">Upload Image
                </button>
            </div>
            <table class="balance-table">
                <tr class="total-balance">
                    <td>Total Balance</td>
                    <td>$ 601.50</td>
                </tr>
                <tr class="total-bonus">
                    <td>Total Bonus Money </td>
                    <td>$ 325.80</td>
                </tr>
                <tr class="withdraw-funds">
                    <td>Withdrawable Funds </td>
                    <td>$ 927.30</td>
                </tr>
            </table>
            <div class="loyalty-wrapper">
                <div class="loyalty-heading">

                    <h4>
                        <span class="icon-VIP"></span>
                        Loyalty Points
                    </h4>
                </div>
                <div class="loyalty-level">
                    <p class="inline-element">Your Level Now</p>
                    <p class="current-level inline-element">LEVEL 3</p>
                    <div class="level-progress-bar">
                        <span class="progress-level level-1 floating-element"></span>
                        <span class="progress-level level-2 floating-element"></span>
                        <span class="progress-level level-3 floating-element"></span>
                        <span class="progress-level level-4 floating-element"></span>
                        <span class="progress-level level-5 floating-element"></span>
                    </div>
                </div>
            </div>
        </div> <!--end middle-left-->

        <!-- MIDDLE MIDDLE -->
        <div class="account-middle-middle-wrapper inline-element">
            <div class="account-middle-navigation">
                <ul class="acc-middle-top-menu">
                    <li class="floating-element"><a href="new_account_balance_management_withdraw.html">Deposit</a></li>
                    <li class="floating-element active"><a href="new_account_balance_management_withdraw.html">Withdraw</a></li>
                    <li class="floating-element"><a href="my_account_balance_management_my_cards.html">My Cards</a></li>
                    <li class="floating-element"><a href="my_account_balance_management_transactions.html">Transactions</a></li>
                </ul>
            </div>
            <div class="my-account-changing-content" ng-view>
                <div class="withdraw-wrapper">
                    <div class="payment-blue-heading">
                        <h5>Credit / Debit Cards</h5>
                    </div>
                    <!--Skrill start-->
                    <div class="withdraw-method mastercard active">
                        <div class="top-part">
                            <div class="withdraw-method-logo-wrap floating-element">
                                <img src="img/mastercard-logo.png">
                            </div>
                            <div class="info-table-wrap floating-element">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>Service Fee</td>
                                        <td>Process Time</td>
                                        <td>Min. Amount</td>
                                        <td>Max. Amount</td>
                                    </tr>
                                    <tr>
                                        <td>Free</td>
                                        <td>Instant</td>
                                        <td>€10</td>
                                        <td>€50,000</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-info-part make-a-withdraw">
                            <form class="skrill-withdraw-form">
                                <div class="withdraw-left-side floating-element">
                                    <label>Select Card</label>
                                    <br>
                                    <div class="left-side-input-wrap mastercard">
                                        <select name="select-mastercard">
                                            <option>9999 - **** - **** - 9999 Mastercard Debit</option>
                                            <option>card 1</option>
                                            <option>card 2</option>
                                            <option>card 3</option>
                                        </select>
                                        <a href="#">Edit</a>
                                    </div>
                                    <!--<div class="middle-row error">-->
                                    <!--<p>Please Select Card </p>-->
                                    <!--</div>-->
                                    <div class="left-side-input-wrap mastercard date">
                                        <div class="mastercard-date month floating-element">
                                            <label>Expiry Date</label>
                                            <br>
                                            <select name="select-mastercard-month error" class="select-mastercard-month error">
                                                <option>Month</option>
                                                <option>01</option>
                                                <option>02</option>
                                                <option>03</option>
                                                <option>04</option>
                                                <option>05</option>
                                                <option>06</option>
                                                <option>07</option>
                                                <option>08</option>
                                                <option>09</option>
                                                <option>00</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>
                                        <div class="mastercard-date year floating-element">
                                            <select name="select-mastercard-year error" class="select-mastercard-year error">
                                                <option>Year</option>
                                                <option>17</option>
                                                <option>18</option>
                                                <option>19</option>
                                                <option>20</option>
                                                <option>21</option>
                                                <option>22</option>
                                                <option>23</option>
                                                <option>24</option>
                                                <option>25</option>
                                            </select>
                                        </div>
                                        <div class="mastercard-date error cvc floating-element">
                                            <label>CVC</label><span class="help-icon"></span>
                                            <br>
                                            <input type="text" name="cvc" class="cvc error">
                                        </div>
                                        <div class="clear"></div>
                                        <div class="middle-row error cvc">
                                            <p>Oops! You forgot to enter CVC </p>
                                        </div>

                                    </div>
                                    <!--<div class="middle-row error">-->
                                    <!--<p>Please Select Card </p>-->
                                    <!--</div>-->
                                </div>
                                <div class="withdraw-right-side floating-element">
                                    <label>Select Withdraw Amount</label>
                                    <br>
                                    <div class="withdraw-amount-wrapper">
                                        <div class="top-row">
                                            <button class="amount-blue-button inline-element">$ 20</button><!--
                                            --><button class="amount-blue-button inline-element">$ 50</button><!--
                                            --><button class="amount-blue-button inline-element">$ 100</button><!--
                                            --><div class="amount-text-wrapper inline-element"><input type="text" name="amount-text" placeholder="Enter Amount" class="withdraw-input"></div><!--
                                        --></div>
                                        <!--<div class="middle-row warning">-->
                                        <!--<p>The withdraw limit is reached. Please check your <a href="#">withdraw limit.</a></p>-->
                                        <!--</div>-->
                                        <div class="bottom-row">
                                            <button class="amount-blue-button inline-element">$ 200</button><!--
                                            --><button class="amount-blue-button inline-element">$ 500</button><!--
                                           --><button class="amount-blue-button inline-element">$ 1000</button><!--
                                            --><button class="withdraw-button large  inline-element">withdraw</button><!--
                                        --></div>
                                    </div>
                                </div>
                            </form>
                            <div class="clear"></div>
                        </div>
                        <div class="another-method">
                            <a href="#">CHoose another methoid</a>
                        </div>
                    </div>
                    <!--Skrill end-->
                </div>
            </div>
        </div>
    </div>
    <!-- middle side end -->
</div>
</body>
</html>