<!DOCTYPE html>
<html>
<head>
    <title>
        Documents
    </title>
    <link rel="stylesheet" type="text/css" href="../../../css/fonts/default.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../skins/loungebet.com/css/skin.css">
    <link rel="stylesheet" type="text/css" href="css/new_account_style.css">
    <link rel="stylesheet" type="text/css" href="css/medias.css">
</head>
<body>

    <div class="account-main-container">
    <!-- left side start -->
    <div class="account-left-container floating-element">
        <div class="account-heading">
            <p>
                History
                <span class="icon-Close_LSB"></span>
            </p>
        </div>
        <div class="account-accordion">
            <div class="acc-main-item balance-management">
                <p>
                    <span class="icon-Balance_Management"></span>
                    Balance Management
                    <span class="icon-expand2"></span>
                </p>
            </div>
            <div class="acc-main-item my-profile">
                <p>
                    <span class="icon-My_Profile"></span>
                    My Profile
                    <span class="icon-expand2"></span>
                </p>
            </div>
            <div class="acc-main-item history">
                <p>
                    <span class="icon-History"></span>
                    History
                    <span class="icon-expand2"></span>
                </p>
            </div>
            <div class="acc-main-item promotions active">
                <p>
                    <span class="icon-Promotions"></span>
                    Promotions
                    <span class="icon-expand2"></span>
                </p>
                <div class="accordion-container">
                    <ul class="my-profile-container">
                        <li><a href="#">Available</a></li>
                        <li class="active"><a href="#">Active</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </div>
            </div>
            <div class="acc-main-item vip">
                <p>
                    <span class="icon-VIP"></span>
                    VIP
                    <span class="icon-expand2"></span>
                </p>
            </div>
            <div class="acc-main-item messages">
                <p>
                    <span class="icon-Messages"></span>
                    Messages
                    <span class="icon-expand2"></span>
                </p>
            </div>
        </div>
        <div class="fill-div"></div>
    </div>
    <!-- left side end -->

    <!-- middle side start -->
    <div class="account-middle-container floating-element">
        <div class="middle-wrapper-heading">
            <p>History</p>
        </div>
        <div class="account-middle-middle-wrapper full-width inline-element">
            <div class="account-middle-navigation">
                <ul class="acc-middle-top-menu">
                    <li class="floating-element"><a href="new_account_promotions_available.html">Available</a></li>
                    <li class="floating-element active"><a href="#">Active</a></li>
                    <li class="floating-element"><a href="#">History</a></li>
                </ul>
            </div>
            <div class="my-account-changing-content account-promotions" ng-view>
                <div class="documents-wrapper">
                    <div class="documents-table-wrapper">
                        <div class="tab-navigation">
                            <ul class="acc-middle-top-menu">
                                <li class="active"><a href="#">All Products</a></li>
                                <li class=""><a href="#">Sportsbook</a></li>
                                <li class=""><a href="#">Casino</a></li>
                                <li class=""><a href="#">Live Casino</a></li>
                            </ul>
                        </div>

                        <div class="promotions">
                            <div class="promotion-block">
                                <div class="flex">
                                    <img src="img/image-example.png" alt="">
                                    <div class="promotion-info">
                                        <div class="promotion-info-header">
                                            <span> 100% Match Bonus Deposit Up To 100€ </span>
                                            <span class="end">End Date: 15 Sep 2016 | 15:46</span>
                                            <span class="start">Start Date: 05 Sep 2016 | 15:46</span>
                                        </div>
                                        <div class="promotion-info-middle">
                                            <div class="details flex">
                                                <div class="detail">
                                                    <div>Bonus: € 100</div>
                                                    <div>Time to Wager: 10 days</div>
                                                </div>
                                                <div class="detail">
                                                    <div>Wagering Req.: x35</div>
                                                    <div>Min Odds: 1.5</div>
                                                </div>
                                                <div class="detail">
                                                    <div>Min Events: 4</div>
                                                    <div>Deposit: € 150</div>
                                                </div>
                                            </div>
                                            <div class="verify-button-wrapper inline-element">
                                                <button class="verify-button cancel">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="promotion-progressbar flex">
                                            <span class="starting-price">€ 0</span>
                                            <div class="progressbar" style="width:10%">
                                                <span class="tootlip-progress">Wagered € 350</span>
                                            </div>
                                            <span class="maximum-price">€ 3500</span>
                                            <span class="tootlip-progress" style="left: calc(75% / 2 - 23px)">Remaining € 3300</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="toggle terms">
                                    <span>Terms and Conditions</span>
                                    <span class="icon-plus3"></span>
                                    <div class="terms-conditions-info hide">
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, sequi.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolorum error, eum nam nostrum pariatur quia repudiandae sunt ut voluptatum.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at dicta ipsam maiores nisi, soluta!</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque, consequuntur cumque debitis doloribus ea explicabo laudantium minus nostrum obcaecati, quaerat, quasi quibusdam quisquam quos.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="promotion-block">
                                <div class="flex">
                                    <img src="img/image-example.png" alt="">
                                    <div class="promotion-info">
                                        <div class="promotion-info-header">
                                            <span>Bonus on Aloha</span>
                                            <span class="end">End Date: 15 Sep 2016 | 15:46</span>
                                            <span class="start">Start Date: 05 Sep 2016 | 15:46</span>
                                        </div>
                                        <div class="promotion-info-middle">
                                            <div class="details flex">
                                                <div class="detail">
                                                    <div>Bonus: € 100</div>
                                                    <div>Time to Wager: 10 days</div>
                                                </div>
                                                <div class="detail">
                                                    <div>Wagering Req.: x35</div>
                                                    <div>Deposit: € 150</div>
                                                </div>
                                            </div>
                                            <div class="verify-button-wrapper inline-element">
                                                <button class="verify-button cancel">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="promotion-progressbar flex">
                                            <span class="starting-price">€ 0</span>
                                            <div class="progressbar" style="width:30%">
                                                <span class="tootlip-progress">Wagered € 1050</span>
                                            </div>
                                            <span class="maximum-price">€ 3500</span>
                                            <span class="tootlip-progress">Remaining € 3500</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="toggle terms">
                                    <span>Terms and Conditions</span>
                                    <span class="icon-plus3"></span>
                                    <div class="terms-conditions-info hide">
                                        <ol>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, sequi.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolorum error, eum nam nostrum pariatur quia repudiandae sunt ut voluptatum.</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at dicta ipsam maiores nisi, soluta!</li>
                                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque, consequuntur cumque debitis doloribus ea explicabo laudantium minus nostrum obcaecati, quaerat, quasi quibusdam quisquam quos.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>