<!DOCTYPE html>
<html>
<head>
    <title>
        My Details
    </title>
    <link rel="stylesheet" type="text/css" href="../../../css/fonts/default.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../skins/loungebet.com/css/skin.css">
    <link rel="stylesheet" type="text/css" href="css/new_account_style.css">
    <link rel="stylesheet" type="text/css" href="css/medias.css">
</head>
<body>

<div class="account-main-container">
    <!-- left side start -->
    <div class="account-left-container floating-element">
        <div class="account-heading">
            <p>
                My Account
                <span class="icon-Close_LSB"></span>
            <p>
        </div>
        <div class="account-accordion">
            <div class="acc-main-item balance-management">
                <p>
                    <span class="icon-Balance_Management"></span>
                    Balance Management
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item my-profile ">
                <p>
                    <span class="icon-My_Profile"></span>
                    My Profile
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item history">
                <p>
                    <span class="icon-History"></span>
                    History
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item promotions">
                <p>
                    <span class="icon-Promotions"></span>
                    Promotions
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item vip">
                <p>
                    <span class="icon-VIP"></span>
                    VIP
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item messages active">
                <p>
                    <span class="icon-Messages"></span>
                    Messages
                </p>
            </div>
        </div>
        <div class="fill-div"></div>
    </div>
    <!-- left side end -->

    <!-- middle side start -->
    <div class="account-middle-container floating-element messages">
        <div class="middle-wrapper-heading">
            <p>Messages</p>
        </div>

        <div class="account-middle-left-wrapper inline-element">
            <div class="verify-button-wrapper inline-element">
                <button class="verify-button">COMPOSE</button>
            </div>
            <div class="vertical-navigation">
                <ul>
                    <li class="vertical-navigation-links active"><a href="#">Inbox</a><span
                            class="new-message-quantity">2</span></li>
                    <li class="vertical-navigation-links"><a href="#">Important</a></li>
                    <li class="vertical-navigation-links"><a href="#">Sent</a></li>
                </ul>
            </div>
        </div>

        <div class="account-middle-middle-wrapper inline-element">
            <div class="middle-wrapper-heading">
                <p>Inbox</p>
                <div class="select-field">
                    <input id="search" placeholder="Search" class="dob-select" name="search">
                    <i class="search-ico"></i>
                </div>
            </div>
            <div class="messages-list">
                <div class="list-header">
                    <div class="inputs">
                        <div class="select-field checkbox">
                            <label>
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </div>
                        <div class="select-field">
                            <span class="select">
                                <select id="subject" class="dob-select" name="games">
                                    <option value="day">Actions</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="pagination">
                        <span>1-15 of 123</span>
                        <ul class="pagination">
                            <li class="pagination-box prev"><a href=""><span class="icon-arrow-left5"></span></a></li>
                            <li class="pagination-box next active"><a href=""><span
                                    class="icon-arrow-right5"></span></a></li>
                        </ul>
                    </div>
                </div>
                <table class="table">
                    <thead>
                         <tr>
                        <th colspan="6">Today</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="flex unread">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"><span class="icon-alert-pu"></span></td>
                            <td width="14%" class="view-message  dont-show">Support</td>
                            <td width="64%" class="message">This is Important</td>
                            <td width="20%" class="text-right">9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%">Support,me (99)</td>
                            <td width="64%" class="message" class="message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid asperiores dignissimos
                                quo rem vel.
                            </td>
                            <td width="20%" class="text-right"><span class="icon-text2"></span>9:27 AM</td>
                        </tr>
                        <tr class="flex unread">
                        <td width="1%" class="select-field checkbox">
                            <label>
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td width="1%"></td>
                        <td width="14%" class="view-message  dont-show">Support</td>
                        <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dolor ducimus in nemo repellat temporibus!</td>
                        <td width="20%" class="text-right">9:27 AM</td>
                    </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="6">15/08/2016</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%" class="view-message  dont-show">Support</td>
                            <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eligendi ipsum molestias numquam, quisquam veniam.</td>
                            <td width="20%" class="text-right">15/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%">Support,me (99)</td>
                            <td width="64%" class="message" class="message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid asperiores dignissimos
                                quo rem vel.
                            </td>
                            <td width="20%" class="text-right"><span class="icon-text2"></span>15/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%" class="view-message  dont-show">Support</td>
                            <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est exercitationem fugit labore nam nemo temporibus.</td>
                            <td width="20%" class="text-right">15/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%" class="view-message  dont-show">Support</td>
                            <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, eveniet in laborum officiis velit voluptatem?</td>
                            <td width="20%" class="text-right">15/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%">Support,me (99)</td>
                            <td width="64%" class="message" class="message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid asperiores dignissimos
                                quo rem vel.
                            </td>
                            <td width="20%" class="text-right"><span class="icon-text2"></span>15/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                        <td width="1%" class="select-field checkbox">
                            <label>
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td width="1%"></td>
                        <td width="14%" class="view-message  dont-show">Support</td>
                        <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, eligendi, repellat. Ad ipsum molestiae tempora.</td>
                        <td width="20%" class="text-right">15/08/2016 | 9:27 AM</td>
                    </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="6">14/08/2016</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%" class="view-message  dont-show">Support</td>
                            <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti illo illum ipsa natus quis.</td>
                            <td width="20%" class="text-right">14/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%">Support,me (99)</td>
                            <td width="64%" class="message" class="message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid asperiores dignissimos
                                quo rem vel.
                            </td>
                            <td width="20%" class="text-right"><span class="icon-text2"></span>14/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%" class="view-message  dont-show">Support</td>
                            <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid est eveniet impedit ipsa quo voluptate.</td>
                            <td width="20%" class="text-right">14/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%" class="view-message  dont-show">Support</td>
                            <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti labore perspiciatis quam sint temporibus, veritatis.</td>
                            <td width="20%" class="text-right">14/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                            <td width="1%" class="select-field checkbox">
                                <label>
                                    <input type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td width="1%"></td>
                            <td width="14%">Support,me (99)</td>
                            <td width="64%" class="message" class="message">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid asperiores dignissimos
                                quo rem vel.
                            </td>
                            <td width="20%" class="text-right"><span class="icon-text2"></span>14/08/2016 | 9:27 AM</td>
                        </tr>
                        <tr class="flex">
                        <td width="1%" class="select-field checkbox">
                            <label>
                                <input type="checkbox">
                                <span></span>
                            </label>
                        </td>
                        <td width="1%"></td>
                        <td width="14%" class="view-message  dont-show">Support</td>
                        <td width="64%" class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequuntur cumque expedita maxime quia ullam!</td>
                        <td width="20%" class="text-right">14/08/2016 | 9:27 AM</td>
                    </tr>
                    </tbody>
                </table>
                <div class="no-messages hide">No messages mached your search. Please try again.</div>
            </div>
        </div>
    </div>

</div>

</body>
</html>