<!DOCTYPE html>
<html>
<head>
    <title>
        My Details
    </title>
    <link rel="stylesheet" type="text/css" href="../../../css/fonts/default.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../skins/loungebet.com/css/skin.css">
    <link rel="stylesheet" type="text/css" href="css/new_account_style.css">
    <link rel="stylesheet" type="text/css" href="css/medias.css">
</head>
<body>

<div class="account-main-container">
    <!-- left side start -->
    <div class="account-left-container floating-element">
        <div class="account-heading">
            <p>
                My Account
                <span class="icon-Close_LSB"></span>
            </p>
        </div>
        <div class="account-accordion">
            <div class="acc-main-item balance-management">
                <p>
                    <span class="icon-Balance_Management"></span>
                    Balance Management
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item my-profile ">
                <p>
                    <span class="icon-My_Profile"></span>
                    My Profile
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item history">
                <p>
                    <span class="icon-History"></span>
                    History
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item promotions">
                <p>
                    <span class="icon-Promotions"></span>
                    Promotions
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item vip">
                <p>
                    <span class="icon-VIP"></span>
                    VIP
                    <span class="icon-expand2"></span>
                </p>
            </div>

            <div class="acc-main-item messages active">
                <p>
                    <span class="icon-Messages"></span>
                    Messages
                </p>
            </div>
        </div>
        <div class="fill-div"></div>
    </div>
    <!-- left side end -->

    <!-- middle side start -->
    <div class="account-middle-container floating-element messages">
        <div class="middle-wrapper-heading">
            <p>Messages</p>
        </div>

        <div class="account-middle-left-wrapper inline-element">
            <div class="verify-button-wrapper inline-element">
                <button class="verify-button">COMPOSE</button>
            </div>
            <div class="vertical-navigation">
                <ul>
                    <li class="vertical-navigation-links"><a href="#">Inbox</a></li>
                    <li class="vertical-navigation-links"><a href="#">Important</a></li>
                    <li class="vertical-navigation-links"><a href="#">Sent</a></li>
                </ul>
            </div>
        </div>

        <div class="account-middle-middle-wrapper inline-element">
            <div class="middle-wrapper-heading">
                <p>Compose New Message</p>
                <div class="verify-button-wrapper inline-element">
                    <button class="verify-button transparent">GO BACK</button>
                </div>
            </div>
            <div class="message-box">
                <div class="message-body">
                    <div class="message-form documents-table-wrapper">
                        <div class="select-field">
                            <label>Subject</label>
                                <span class="select">
                                    <select id="subject" class="dob-select" name="games">
                                        <option value="day">Select subject</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </span>
                        </div>
                        <div class="select-field">
                            <label>Message</label>
                            <textarea name="message" placeholder="Type your message" cols="50" rows="20" required></textarea>
                        </div>
                        <div class="verify-button-wrapper flex">
                            <button class="verify-button transparent"><span class="icon-plus3"></span>ATTACH FILE</button>
                            <button class="verify-button cancel">DISCARD</button>
                            <button class="verify-button disable">SEND</button>
                        </div>
                    </div>
                    <div class="attachments">
                        <div class="attachment-info">Attachements (3 files, 1.3MB)</div>
                        <div class="img-block">
                            <img src="img/image-example.png" alt="">
                            <span class="title">my_pr...ofil2.png</span>
                            <span class="icon-cross-close"></span>
                            <span class="icon icon-eye"></span>
                            <span class="icon icon-download"></span>
                            <div class="overlay"></div>
                            <div class="progressbar hide">
                                <div class="bar" style="width:40%"></div>
                            </div>
                        </div>
                        <div class="img-block loading">
                            <img src="img/image-example.png" alt="">
                            <span class="icon-cross-close"></span>
                            <span class="title">my_pr...ofil2.png</span>
                            <div class="overlay"></div>
                            <div class="progressbar">
                                <div class="bar" style="width:40%"></div>
                            </div>
                        </div>
                        <div class="img-block document">
                            <img src="img/image-example.png" alt="" class="hide">
                            <span class="icon-text2"></span>
                            <span class="icon-cross-close"></span>
                            <span class="title">promo_ba..45.pdf</span>
                            <div class="overlay"></div>
                            <div class="progressbar hide">
                                <div class="bar" style="width:40%"></div>
                            </div>
                        </div>
                        <div class="img-block">
                            <img src="img/image-example.png" alt="">
                            <span class="title">my_pr...ofil2.png</span>
                            <span class="icon-cross-close"></span>
                            <span class="icon icon-eye"></span>
                            <span class="icon icon-download"></span>
                            <div class="overlay"></div>
                            <div class="progressbar hide">
                                <div class="bar" style="width:40%"></div>
                            </div>
                        </div>
                        <div class="img-block">
                            <img src="img/image-example.png" alt="">
                            <span class="title">my_pr...ofil2.png</span>
                            <span class="icon icon-eye"></span>
                            <span class="icon-cross-close"></span>
                            <span class="icon icon-download"></span>
                            <div class="overlay"></div>
                            <div class="progressbar hide">
                                <div class="bar" style="width:40%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>