<div class="copyright" ng-show="!conf.disableFooterCopyrightBlock">
    <ul>
        <li>&copy; <span ng-show="(now|date:'yyyy') > conf.copyrightSince">{{conf.copyrightSince}} - </span>{{now|date:'yyyy'}} <a href="#/">{{conf.site_name}}</a></li>
        <li ng-if="conf.poweredByInFooter">
            <a href="//www.betconstruct.com" target="_blank">
                <span ng-bind-html="'Powered by BetConstruct'|translate|html"></span>
            </a>
        </li>
        <li><span trans>All rights reserved.</span></li>
    </ul>

</div>