<div class="paymen-icons-list" ng-controller="footerCtrl" ng-show="paymentSystemNames.length && conf.showPaymentSystemsInFooter && $location.path() !='/popup/'">
    <div class="payment-content-block" >
        <ul>
            <p>Loungebet.com  is operated by Riotagaming B.V.
                registration number is 141341, registered address Dr. M.J. Hugenholtzweg Z/N,
                UTS-UTS Building, Willemstad, Curacao,
                a company licensed and regulated by the laws of Curacao under the Master Gaming License CeG Curacao eGaming Ltd license number #1668/JAZ.</p>
        </ul>
    </div>
</div>