html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0; font-size: 100%;vertical-align: baseline;background: transparent;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;color: #FFF;font: 14px Arial, Helvetica, sans-serif;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse;border-spacing: 0;}
html{}
body {
    width: 363px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
*[ng-click], *[ng-mousedown] {cursor: pointer;}
.main-container{
    min-height: 80px;
    background: #333 url(../images/bground.png) repeat 0 0;
    box-shadow: 0 0 30px #222 inset;
    width: 363px;
    overflow: hidden;
    max-height: 530px;
}
.singin-wrapper, .bet-history-wrapper {
    float: left;
    width: 343px;
    padding: 10px;
    background: #333 url(../images/bground.png) repeat 0 0;
}
.bet-history-wrapper{overflow: hidden;}
.singin-wrapper .singin-logo {
    background: url(../images/logo-big.png) no-repeat  50% 0;
    height: 59px;
    position:  relative;
    top: -5px;
}
.main-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 60px;
    width: 60px;
    -webkit-transform: translate(-50%, -50%);
    transition-duration: 2000ms;
}
.main-loader span{
    text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
    animation: loading 0.85s ease-in-out infinite alternate;
}
[class^="ball-"] {
    position: absolute;
    display: block;
    left: 24px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    -webkit-transition: 0.5s;
    -webkit-animation: circleRotate 4s both infinite;
    -webkit-transform-origin: 0 250% 0 50%;
}
@-webkit-keyframes circleRotate {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(1440deg);}
}
.ball-1 {
    background-color: #333333;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.3, 0.9, 0.9);
}
.ball-2 {
    background-color: #4c4c4c;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.6, 0.9, 0.9);
}
.ball-3 {
    background-color: #666666;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0.9, 0.9, 0.9);
}
.ball-4 {
    background-color: #7f7f7f;
    -webkit-animation-timing-function: cubic-bezier(0.5, 1.2, 0.9, 0.9);
}
.ball-5 {
    background-color: #999999;
    -webkit-animation-timing-function: cubic-bezier(0.5, 1.5, 0.9, 0.9);
}
.ball-6 {
    background-color: #b2b2b2;
    -webkit-animation-timing-function: cubic-bezier(0.5, 1.8, 0.9, 0.9);
}
.ball-7 {
    background-color: #cccccc;
    -webkit-animation-timing-function: cubic-bezier(0.5, 2.1, 0.9, 0.9);
}
.ball-8 {
    background-color: #e5e5e5;
    -webkit-animation-timing-function: cubic-bezier(0.5, 2.4, 0.9, 0.9);
}
.singin-wrapper ul{
    float: left;
    width:  100%;
}
.singin-wrapper ul li{
    float: left;
    width:  100%;
    text-align: center;
    margin:  3px 0 9px;
}
.singin-wrapper ul li input[type="text"], .singin-wrapper ul li input[type="password"] {
    float: left;
    width: 303px;
    height: 30px;
    border: 1px solid #383838;
    border-radius: 5px;
    display: block;
    margin: 5px 0 0 10px;
    padding: 0 10px 0 10px;
    box-shadow: 0px 1px 3px #F47EA2;
    font: 14px Arial, Helvetica, sans-serif;
    color: #282828;
}
.singin-wrapper ul li input[type="text"]:focus, .singin-wrapper input[type="password"]:focus{
    box-shadow: 0 0 5px #B82424 inset;
    transition-duration: 200ms;
}
.singin-wrapper ul li input[type="submit"], .bet-history-wrapper input[type="button"] {
    box-shadow: 1px 1px 2px #222;
    font: 13px/26px Arial, Helvetica, sans-serif;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    background: #EA1152;
    text-shadow: 1px 1px 1px #222;
    border: 0px;
    padding: 2px 25px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
}
.singin-wrapper ul li input[type="text"]::-webkit-input-placeholder, .singin-wrapper ul li input[type="password"]::-webkit-input-placeholder{font-style: italic;}
.bet-history-wrapper input[type="button"]{
    float: right;
    margin:  0 0 10px;
}
.events-list {
    float: left;
    width: 100%;
    padding: 8px 0 4px;
    font: 13px/18px Arial, Helvetica, sans-serif;
    position: relative;
    color: #fff;
    border-bottom: 1px dashed #626262;
    -webkit-animation:bsEventAnimation88 800ms;
}
.events-list:nth-child(odd){-webkit-animation:bsEventAnimation 800ms;}
@-webkit-keyframes bsEventAnimation{
    0% { -webkit-transform: translateX(2000px);}
    60% { -webkit-transform: translateX(-30px);}
    80% {-webkit-transform: translateX(10px);}
    100% {-webkit-transform: translateX(0);}
}
@-webkit-keyframes bsEventAnimation88{
    0% {-webkit-transform: translateX(-2000px);}
    60% {-webkit-transform: translateX(30px);}
    80% {-webkit-transform: translateX(-10px);}
    100% {-webkit-transform: translateX(0);}
}
.events-list.update{-webkit-animation:none;}
.event-name {
    display: block;
    white-space: nowrap;
    max-width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.contain-events-b{
    float: left;
    width: 100%;
    height: 394px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background: url(../images/bgfingers.png) no-repeat 50% 50% rgba(0, 0, 0, 0);
    background-size: contain;
    cursor: default;
}
.express-odds.ng-binding {
    position: absolute;
    right: 22px;
    top: 0;
    color: #8FAD5A;
}
.empty-list {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    left: 0;
    top: 0;
}
.empty-list p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font: 18px/22px Arial, Helvetica, sans-serif;
    color: #EEE;
    font-weight: bold;
}
.bet-history-wrapper .bet-history-logo {
    background: url(../images/logo-small.png) no-repeat  50% 0;
    height: 40px;
    float: left;
    width: 190px;
    position:  relative;top: -5px;
    padding: 0;
}
.bet-history-content {
    float: left;
    height: 400px;
    padding: 0 0 34px;
    position: relative;
}
.pagination{
    width: 100%;
    margin:  20px 0 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pagination ul{width: 100%;float: left;}
.pagination ul li{
    float: left;
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 3px 0 0;
    text-align: center;
    font: 12px/24px Arial, Helvetica, sans-serif;
    color: #fff;
    border-radius: 2px;
}
.pagination ul li a{
    text-decoration: none;
    display: block;
    font: 12px/22px Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.pagination ul li.item-next, .pagination ul li.item-prevew{
    float: left;
    margin: 0 3px 0 0;
    border: 1px solid #e71050;
    width: auto;
    background: #EA1152;
    box-shadow: 0 0 2px #fff inset;
}
.pagination ul li.item-next{float: right;margin: 0 0 0 3px;}
.pagination ul li.item-next a, .pagination ul li.item-prevew a{
    padding: 0 5px;
    text-shadow: 0 -1px 0 #444;
    font: 20px/20px Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.pagination ul li.item-dark{ border: 1px solid #EA1152; background: #EA1152; box-shadow: 0 0 2px #fff inset;}
.pagination ul li.item-active a{cursor: default;font-weight: bold; text-shadow: 0 -1px 0 #444;}
.pagination ul li.item-active{border: 1px solid #eee;}
.result-bet-icon {
    width: 14px;
    height: 15px;
    position: absolute;
    right: 6px;
    top: 7px;
}
.express-bets{
    float: left;
    width: 298px;
    margin: 2px 15px;
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 0 3px #222;
}
.express-bets ul li{
    position: relative;
    font: 11px/18px Arial, Helvetica, sans-serif;
    color: #999;
    border-top: 1px solid #4E3B3B;
}
.express-bets ul li .result-bet-icon{
    top: 0px;
    right: 0px;
    background: none;
    text-align: center;]
height: 18px;
}
.express-bets ul li .result-bet-icon:before{ content: "+"; text-align: center; color: #eee;font: 16px/18px Arial, Helvetica, sans-serif;}
.express-bets ul li:first-child{border: none;}
.express-bet-payout{
    float: right;
    margin: 0 4px 0 0;
}
.result-bet-icon.win{background: url(../images/rezult-icon.png) no-repeat 0 0;}
.result-bet-icon.lost {background: url(../images/rezult-icon.png) no-repeat 0 -25px;}
.result-bet-icon.watch {
    background: url(../images/express-w-icons.png) no-repeat 0 1px;
    width: 11px;
    height: 14px;
}
.express-result-bet-icon{
    position: absolute;
    right: 6px;
    top: 3px;
}
.express-result-bet-icon.win {
    background: url(../images/express-w-icons.png) no-repeat 0 -39px;
    width: 11px;
    height: 13px;
}
.express-result-bet-icon.lost {
    background: url(../images/express-w-icons.png) no-repeat 0 -79px;
    width: 10px;
    height: 12px;
}
.express-result-bet-icon.return {
    background: url(../images/express-w-icons.png) no-repeat 0 -119px;
    width: 11px;
    height: 11px;
}
.express-result-bet-icon.watch {
    background: url(../images/express-w-icons.png) no-repeat 0 1px;
    width: 11px;
    height: 14px;
}
.bet-info{
    position: absolute;
    right: 6px;
    top: 26px;
}
.bet-payout{
    position: absolute;
    right: 6px;
    bottom: 4px;
}
.mini-icon-1{
    float: left;
    width: 16px;
    height: 16px;
    margin: 0 2px 0 0;
}
.mini-icon-1.mini-icon-852, .mini-icon-1.mini-icon-862, .mini-icon-1.mini-icon-73802118,
.game-team-volleyball .chempionship-name, .game-team-beachvolleyball .chempionship-name,
.game-team-gaelicfootball .chempionship-name {background-position: -3px -126px;}
.game-team-soccer .chempionship-name {background-position: -3px -1175px;}
.mini-icon-1.mini-icon-850, .game-team-basketball .chempionship-name {background-position: -3px -1115px;}
.mini-icon-1.mini-icon-884, .game-team-tabletennis .chempionship-name {background-position: -3px -1145px;}
.mini-icon-1.mini-icon-846, .game-team-icehockey .chempionship-name {background-position: -3px -1235px;}
.mini-icon-1.mini-icon-866, .mini-icon-1.mini-icon-36116468, .game-team-rugby .chempionship-name {background-position: -3px -755px;}
.mini-icon-1.mini-icon-900, .game-team-badminton .chempionship-name {background-position: -3px -95px;}
.game-team-horseracing .chempionship-name {background-position: -3px -605px;}
.mini-icon-1.mini-icon-854, .game-team-handball .chempionship-name {background-position: -3px -1267px;}
.mini-icon-1.mini-icon-868, .game-team-snooker .chempionship-name {background-position: -3px -816px;}
.mini-icon-1.mini-icon-856, .game-team-baseball .chempionship-name {background-position: -3px -1205px;}
.mini-icon-1.mini-icon-872, .game-team-waterpolo .chempionship-name {background-position: -3px -906px;}
.mini-icon-1.mini-icon-886, .game-team-australianfootball .chempionship-name {background-position: -3px -65px;}
.game-team-boxing .chempionship-name, .mini-icon-1.mini-icon-858 {background-position: -3px -215px;}
.mini-icon-1.mini-icon-71723286, .game-team-alpineskiing .chempionship-name {background-position: -3px -6px;}
.mini-icon-1.mini-icon-870, .game-team-americanfootball .chempionship-name {background-position: -3px -35px;}
.mini-icon-1.mini-icon-71301002, .game-team-biathlon .chempionship-name {background-position: -3px -155px;}
.mini-icon-1.mini-icon-876, .game-team-chess .chempionship-name {background-position: -3px -248px;}
.mini-icon-1.mini-icon-894, .game-team-cricket .chempionship-name {background-position: -3px -276px;}
.mini-icon-1.mini-icon-70985113, .game-team-skis .chempionship-name {background-position: -3px -306px;}
.mini-icon-1.mini-icon-902, .game-team-cycling .chempionship-name {background-position: -3px -335px;}
.mini-icon-1.mini-icon-882, .game-team-darts .chempionship-name {background-position: -3px -366px;}
.mini-icon-1.mini-icon-282514758, .game-team-electronic .chempionship-name {background-position: -3px -396px;}
.mini-icon-1.mini-icon-327540317, .game-team-eurovision .chempionship-name {background-position: -3px -1026px;}
.mini-icon-1.mini-icon-860, .game-team-grasshockey .chempionship-name {background-position: -3px -427px;}
.mini-icon-1.mini-icon-908, .game-team-floorball .chempionship-name {background-position: -3px -456px;}
.mini-icon-1.mini-icon-890, .game-team-formula1 .chempionship-name {background-position: -3px -485px;}
.mini-icon-1.mini-icon-874, .game-team-minisoccer .chempionship-name {background-position: -3px -515px;}
.mini-icon-1.mini-icon-898, .game-team-golf .chempionship-name {background-position: -3px -546px;}
.mini-icon-1.mini-icon-225618102, .game-team-greyhounds .chempionship-name {background-position: -3px -577px;}
.mini-icon-1.mini-icon-599293035, .game-team-hurling .chempionship-name {background-position: -3px -966px;}
.mini-icon-1.mini-icon-52294418, .game-team-lottery .chempionship-name {background-position: -3px -635px;}
.mini-icon-1.mini-icon-224176301, .game-team-motorbikes .chempionship-name {background-position: -3px -696px;}
.mini-icon-1.mini-icon-225615943, .game-team-nascar .chempionship-name {background-position: -3px -1055px;}
.mini-icon-1.mini-icon-914, .game-team-poker .chempionship-name {background-position: -3px -936px;}
.mini-icon-1.mini-icon-292380885, .game-team-rally .chempionship-name {background-position: -3px -725px;}
.mini-icon-1.mini-icon-71055544, .game-team-skijump .chempionship-name {background-position: -3px -787px;}
.mini-icon-1.mini-icon-330230205, .game-team-soccerwc2014 .chempionship-name {background-position: -3px -997px;}
.mini-icon-1.mini-icon-172911195, .game-team-speedway .chempionship-name {background-position: -3px -846px;}
.mini-icon-1 {background: url(../images/small-sport-icons-sprite.png) no-repeat -2px -1175px;}
.mini-icon-1.mini-icon-2 {background: url(../images/betslip-sprite.png) no-repeat 50% -38px;}
.mini-icon-1.mini-icon-3 {background: url(../images/betslip-sprite.png) no-repeat 50% -157px;}
.mini-icon-1.mini-icon-4 {background: url(../images/betslip-sprite.png) no-repeat 50% 4px;}
.mini-icon-1.mini-icon-848 {background-position: -2px -1085px;}
::-webkit-scrollbar {width: 12px;}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.bet-history-wrapper input.options {
    background: url(../images/settings.png) no-repeat 50% 50%;
    padding: 4px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 128px;
    box-shadow: 0px 0px 2px #222;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transition-duration: 1500ms;
}
.bet-history-wrapper input.options:hover{
    background: rgba(173, 147, 147, 0.16) url(../images/settings.png) no-repeat 50% 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
}
/*live games*/
.mini-icon-1 ~ span{color: #f3ceac;}
span.popup-date-game {
	font-size: 11px;
	color: #72AB74;
}
span.event-pick {color: #999;}
.contain-events-b.live{height: 404px;}
.live-tabs, .live-game-icons, .event-info-block{
    float: left;
    width: calc(100% - 2px);
    border: 1px solid #563d40;
    border-radius: 3px;
    margin: 0 0 5px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.live-tabs ul{
    float: left;
    width: 100%;
    display: table;
    border-radius: 3px;
    min-height: 28px;
}
.live-tabs ul li{
    display: table-cell;
    width: 24%;
    max-width: 24%;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #563d40;
    cursor: pointer;
}
.live-tabs ul li:first-child{border: none;}
.live-tabs ul li a{
    display: block;
    text-decoration: none;
    font: 13px/16px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #888888;
    padding: 2px;
    text-shadow: 0 -1px 0 #111;
}
.live-tabs ul li:last-child a{
    font: 10px/12px Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #ffffff;
}
.live-tabs ul li:hover{background: rgba(0, 0, 0, 0.1); transition-duration: 300ms;}
.live-tabs ul li:active{
    background: -moz-linear-gradient(#161516, #323032);
    background: -webkit-linear-gradient(#161516, #323032);
    background: -o-linear-gradient(#161516, #323032);
    background: linear-gradient(#161516, #323032);
}
.live-tabs ul li.active, .live-tabs ul li:last-child, .live-tabs ul li:last-child:hover{
    background: #252425;
    background: -moz-linear-gradient(#323032, #161516);
    background: -webkit-linear-gradient(#323032, #161516);
    background: -o-linear-gradient(#323032, #161516);
    background: linear-gradient(#323032, #161516);
    border-radius:  3px 0 0 3px;
}
.live-tabs ul li:last-child{
    width: 28%;
    max-width: 28%;
    min-width: 28%;
    border-radius: 0 3px 3px 0;
    cursor: default;
}
.live-tabs ul li.active a, .live-tabs ul li:hover a{color: #f3ceac;transition-duration: 300ms;}
.live-tabs ul li:active a{color: #B58F64;}
.live-tabs ul li:last-child a, .live-tabs ul li:last-child:hover a{color: #fff; cursor: default;}
.live-tabs ul li.active:active a{color: #f3ceac;}
.live-game-icons ul{
    float: left;
    width: 2298px;
    margin: 0 0 0 22px;
}
.live-game-icons ul li{
    float: left;
    width: 22px;
    border-left: 1px solid #563d40;
    height: 22px;
    text-indent: -9999em;
    padding: 2px 0 0 0;
    cursor: pointer;
}
.live-game-icons ul li:first-child{border: none;}
.live-game-icons ul li .mini-icon-1{
    float: none;
    margin: 0 auto;
}
.live-game-icons ul li.active, .live-game-icons ul li:hover{background: rgba(0, 0, 0, 0.3); transition-duration: 250ms;}
.arrow-left-button{
    width: 21px;
    color: #fff;
    text-decoration: none;
    height: 24px;
    border-right: 1px solid #563d40;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: -9999em;
}
.arrow-right-button{
    width: 22px;
    border-left: 1px solid #563d40;
    top: 0;
    height: 24px;
    right: 0;
    position: absolute;
    text-indent: -9999em;
}
.arrow-left-button a, .arrow-right-button a{
    display: block;
    width: 100%;
    height: 100%;
    color: #EA1152;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 -1px 0 #000;
    background:  #222;
}
.arrow-left-button a:before{
    content: "«";
    position: absolute;
    display: block;
    left: 5px;
    top: 0;
    text-indent: 0;
    font: 20px/22px Arial, Helvetica, sans-serif;
}
.arrow-right-button a:before{
    display: block;
    content: "»";
    position: absolute;
    right: 5px;
    top: 0;
    text-indent: 0;
    font: 20px/22px Arial, Helvetica, sans-serif;
}
.arrow-left-button a:hover, .arrow-right-button a:hover{
    background: #2C2C2C;
    transition-duration: 250ms;
}
.arrow-left-button a:active, .arrow-right-button a:active{
    background: #111;
    text-shadow: 0 -1px 0 #999;
    transition-duration: 150ms;
}
.arrow-left-button.disabled a, .arrow-right-button.disabled a, .arrow-left-button.disabled a:active, .arrow-right-button.disabled a:active, .arrow-left-button.disabled a:hover, .arrow-right-button.disabled a:hover{
    color: #999;
    background: #2B2B2B;
    text-shadow: 0 -1px 0 #000;
    cursor: default;
    transition-duration: 0ms;
}
.event-info-block h3{
    float: left;
    width: 100%;
    text-align: center;
    font: 11px/13px Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #19BA5E;
    text-shadow: 0 -1px 0 #000;
    padding: 6px 0 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: bold;

}
.event-info-block ul{
    float: left;
    width: 100%;
    margin: 5px 0 0;
    border-bottom: 1px solid #423335;
    border-top: 1px solid #563d40;
    background: rgba(34, 34, 34, 0.1);
    -webkit-animation:bsEventAnimation88 800ms;
}
.event-info-block ul:nth-child(odd){-webkit-animation:bsEventAnimation 800ms;}
.event-info-block ul.active{background: rgba(34, 34, 34, 0.8);}
.event-info-block ul li{
    float: left;
    width: calc((100% - 80px) / 2);
    height: 70px;
}
.event-info-block ul li:nth-child(2){
    width: 78px;
    border-left: 1px solid rgba(86, 61, 64, 0.5);
    border-right: 1px solid rgba(86, 61, 64, 0.5);
    position: relative;
    overflow: hidden;
}
.event-price, .tennis-account{
    float: left;
    width: 100%;
    background: #2f2e30;
    background: -moz-linear-gradient(rgba(1, 1, 1, 0.5), rgba(45, 45, 45, 0.5));
    background: -webkit-linear-gradient(rgba(1, 1, 1, 0.5), rgba(45, 45, 45, 0.5));
    background: -o-linear-gradient(rgba(1, 1, 1, 0.5), rgba(45, 45, 45, 0.5));
    background: linear-gradient(rgba(1, 1, 1, 0.5), rgba(45, 45, 45, 0.5));
    height: 24px;
    border-bottom: 1px solid #423335;
    position: relative;
}
.event-price p, .tennis-account p{
    width: calc(100% - 4px);
    float: left;
    text-align: center;
    padding: 0 2px;
    color: #ffffff;
    font: 11px/24px Arial, Helvetica, sans-serif;
}
.tennis-account p{
    font: 14px/24px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #aaa;
    text-shadow: 0 -1px 0 #0000;
}
.tennis-account p span:before{content: ": ";}
.event-info-block ul li:nth-child(2) .event-price p{text-align: right;}
.event-info-block ul li:nth-child(2) .event-price p:after{
    display: block;
    position: absolute;
    left: -4px;
    top: 0;
    width: 16px;
    height: 24px;
    color: #ffffff;
    font: 11px/24px Arial, Helvetica, sans-serif;
    content: "X";
}
.event-price.arrow-b p:before{
    content: "▼";
    color: #f00;
}
.event-price.arrow-t p:before{
    content: "▲";
    color: #038e47;
}
.name-team-block{
    float: left;
    width: 100%;
    height: 45px;
    overflow: hidden;
}
.name-team-block h4{
    float: left;
    display: table;
    width: 100%;
    height: 45px;
    text-align: center;
    font: 11px/15px Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #c6c6c6;
}
.name-team-block h4 span{
    display: table-cell;
    vertical-align: middle;
}
.game-account-block{
    float: left;
    width: 100%;
    height: 26px;
    border-bottom: 1px solid rgba(86, 61, 64, 0.5);
}
.game-account-block p{
    float: left;
    width: 100%;
    text-align: center;
    font: 16px/26px Arial, Helvetica, sans-serif;
    color: #fefefe;
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
}
.game-account-block p span:before, .goal-info-block p span:before{content: "- ";}
.time-match-block{
    float: left;
    width: 100%;
    height: 18px;
}
.time-match-block p{
    float: left;
    width: 100%;
    color: #aca3a3;
    font: 11px/18px Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.favorite-block{
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 100%;
    background: #1b1a1b url(../images/fav-sprite.png) no-repeat 50% -81px;
    border-right: 1px solid rgba(86, 61, 64, 0.7);
}
.favorite-block:active, .view-icon-block:active{ opacity: 0.7; transition-duration: 250ms;}
.favorite-block:hover, .favorite-block.active{background: #1b1a1b url(../images/fav-sprite.png) no-repeat 50% -128px; cursor: pointer;}
.view-icon-block{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background: #1b1a1b url(../images/fav-sprite.png) no-repeat 50% -33px;
    border-left: 1px solid rgba(86, 61, 64, 0.7);
}
.view-icon-block:hover, .view-icon-block.active{background: #1b1a1b url(../images/fav-sprite.png) no-repeat 50% 8px; cursor: pointer;}
.goal-info-block{
    position: absolute;
    z-index: 88;
    left: 0;
    top: -70px;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(#78092a, #190109);
    background: -webkit-linear-gradient(#78092a, #190109);
    background: -o-linear-gradient(#78092a, #190109);
    background: linear-gradient(#78092a, #190109);
    box-shadow: 0 0 15px #1b1b1b inset;
    display: none;
}
.goal-info-block h2{
    float: left;
    width: 100%;
    height: 24px;
    padding: 12px 0 0 0;
    font: 20px/24px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fef163;
    text-shadow: 0 -1px 0 #111;
    text-align: center;
}
.goal-info-block p{
    float: left;
    width: 100%;
    font: 15px/18px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fef163;
    text-align: center;
    text-shadow: 0 -1px 0 #111;
}
.goal-info-block.active{
    -webkit-animation: goalanimation 700ms;
    display: block;
    top: 0;
}
@-webkit-keyframes goalanimation{
    0% { display: block; top: -70px;}
    100% { display: block; top: 0px;}
}