html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0; font-size: 100%;vertical-align: baseline;background: transparent;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;color: #FFF;font: 14px Arial, Helvetica, sans-serif;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse;border-spacing: 0;}
html{height: 100%;}
@font-face {
  font-family: 'sirucaregular';
  src: url('../fonts/fsd_-_siruca.eot');
  src: url('../fonts/fsd_-_siruca.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fsd_-_siruca.woff') format('woff'),
  url('../fonts/fsd_-_siruca.ttf') format('truetype'),
  url('../fonts/fsd_-_siruca.svg#sirucaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
    background: #333 url(../images/bground.png) repeat 0 0;
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
h1{
    font: 60px/64px 'sirucaregular', Arial, Helvetica, sans-serif;
     color: #FFF;
    text-shadow: 0 0px 40px #FF8A57;
    width: 100%;
    margin: 0;
    text-transform:  uppercase;
    -webkit-animation:bsEventAnimation88 800ms;
    background: url(../images/128.png) no-repeat 50% 0;
    padding:  100px 0 0;
 }
h1:first-letter{font: 90px/94px 'sirucaregular', Arial, Helvetica, sans-serif; color: #EA1152;text-shadow: 0 0px 40px #222;}
h1 span{
    width:  100%;
    text-align: center;
    display: block;
    font: 25px/40px Arial, Helvetica, sans-serif;
    font-weight: bold;
	text-shadow: 0 -1px 0 #222;
}
.options-b{display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align:  center;
}
.options-b form label{
    font: 18px/24px Arial, Helvetica, sans-serif;
    color: #eee;
    -webkit-animation:bsEventAnimation 800ms;
}
.options-b form input[type="checkbox"]{
    position:  relative;
    top: 6px;
    width: 22px;
    height: 22px;
    -webkit-animation:bsEventAnimation 800ms;
}
.events-list:nth-child(odd){-webkit-animation:bsEventAnimation 800ms;}
@-webkit-keyframes bsEventAnimation{
    0% { -webkit-transform: translateX(2000px);}
    60% { -webkit-transform: translateX(-30px);}
    80% {-webkit-transform: translateX(10px);}
    100% {-webkit-transform: translateX(0);}
}
@-webkit-keyframes bsEventAnimation88{
    0% {-webkit-transform: translateX(-2000px);}
    60% {-webkit-transform: translateX(30px);}
    80% {-webkit-transform: translateX(-10px);}
    100% {-webkit-transform: translateX(0);}
}
.options-b form label ~ label{font: 12px/16px Arial, Helvetica, sans-serif; padding: 0 2px 0 0;}
.options-b select{
    width: 140px;
    height: 26px;
    font: 14px/24px Arial, Helvetica, sans-serif;
    color: #eee;
    padding: 0 5px;
    border: 1px solid #855757;
    box-shadow: 0 0 5px #000;
    margin: 8px 0 0;
    background: #666;
    display: inline-block;
    border-radius: 2px;
    -webkit-animation:bsEventAnimation 800ms;
}
.options-b select option {
    background: #534040;
}
.save-button {
    box-shadow: 1px 1px 2px #222;
    font: 16px Arial,Helvetica,sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px #222;
    background: #ea1152;
    border: 0;
    padding: 6px 12px;
    margin: 20px 0;
    cursor: pointer;
}
.options-form {
    margin: 20px;
}
.options-form .option{
    padding: 10px 0;
}

.options-form .option select{
    clear: both;
}
