@font-face {
  font-family: 'loungebet';
  src:  url('fonts/loungebet.eot?rq7euh');
  src:  url('fonts/loungebet.eot?rq7euh#iefix') format('embedded-opentype'),
    url('fonts/loungebet.ttf?rq7euh') format('truetype'),
    url('fonts/loungebet.woff?rq7euh') format('woff'),
    url('fonts/loungebet.svg?rq7euh#loungebet') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'loungebet' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-J:before {
  content: "\e900";
}
.icon-Oders:before {
  content: "\e901";
}
.icon-Video-Poker:before {
  content: "\e902";
}
.icon-VideoSlots:before {
  content: "\e903";
}
.icon-All-Games:before {
  content: "\e904";
}
.icon-Favorites:before {
  content: "\e905";
}
.icon-SPECIALS:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-arrow-down-dropdown:before {
  content: "\e909";
}
.icon-arrow-up:before {
  content: "\e90a";
}
.icon-close-lightbox:before {
  content: "\e90b";
}
.icon-eye:before {
  content: "\e90c";
}
.icon-favorite:before {
  content: "\e90d";
}
.icon-favorite-outline:before {
  content: "\e90e";
}
.icon-hide:before {
  content: "\e90f";
}
.icon-icon-checkbox:before {
  content: "\e910";
}
.icon-icon-checkbox-empty:before {
  content: "\e911";
}
.icon-icon-close-lsb:before {
  content: "\e912";
}
.icon-icon-open-lsb:before {
  content: "\e913";
}
.icon-icon-selected:before {
  content: "\e914";
}
.icon-icon-top-leagues:before {
  content: "\e915";
}
.icon-icon-error:before {
  content: "\e916";
}
.icon-remove-all-icon:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-star-big:before {
  content: "\e919";
}
.icon-star-big-outline:before {
  content: "\e91a";
}
.icon-statistics:before {
  content: "\e91b";
}
.icon-icon-speaker:before {
  content: "\e91c";
}
.icon-icon-speaker-mute:before {
  content: "\e91d";
}
.icon-icon-minimize-stream:before {
  content: "\e91e";
}
.icon-icon-maximize-stream:before {
  content: "\e91f";
}
.icon-icon-match-live:before {
  content: "\e920";
}
.icon-icon-live-stream:before {
  content: "\e921";
}
.icon-log-out:before {
  content: "\e922";
}
.icon-bonus:before {
  content: "\e923";
}
.icon-mybets:before {
  content: "\e924";
}
.icon-balance:before {
  content: "\e925";
}
.icon-my-profile:before {
  content: "\e926";
}
.icon-my-account:before {
  content: "\e927";
}
.icon-site-minimize:before {
  content: "\e928";
}
.icon-site-maximize:before {
  content: "\e929";
}
.icon-time-filter:before {
  content: "\e92a";
}
.icon-help:before {
  content: "\e92b";
}
.icon-icon-settings:before {
  content: "\e92c";
}
.icon-fax:before {
  content: "\e92d";
}
.icon-envelope-filled:before {
  content: "\e92e";
}
.icon-phone:before {
  content: "\e92f";
}
.icon-devices:before {
  content: "\e930";
}
.icon-android:before {
  content: "\e931";
}
.icon-windows:before {
  content: "\e932";
}
.icon-mac:before {
  content: "\e933";
}
.icon-whatsapp:before {
  content: "\e934";
}
.icon-contact-us-envelope:before {
  content: "\e935";
}
.icon-live-casino-landing:before {
  content: "\e936";
}
.icon-casino-landing:before {
  content: "\e937";
}
.icon-in-play-landing:before {
  content: "\e938";
}
.icon-sport-landing:before {
  content: "\e939";
}

