<option value="AU" trans>Australia</option>
<option value="AD" trans>Andorra</option>
<option value="AE" trans>UAE</option>
<option value="AF" trans>Afghanistan</option>
<option value="AG" trans>Antigua and Barbuda</option>
<option value="AL" trans>Albania</option>
<option value="AM" trans>Armenia</option>
<option value="AO" trans>Angola</option>
<option value="AR" trans>Argentina</option>
<option value="AS" trans>American Samoa</option>
<option value="AT" trans>Austria</option>
<option value="AW" trans>Aruba</option>
<option value="AZ" trans>Azerbaijan</option>
<option value="BA" trans>Bosnia and Herzegovina</option>
<option value="BB" trans>Barbados</option>
<option value="BD" trans>Bangladesh</option>
<option value="BE" trans>Belgium</option>
<option value="BF" trans>Burkina Faso</option>
<option value="BG" trans>Bulgaria</option>
<option value="BH" trans>Bahrain</option>
<option value="BI" trans>Burundi</option>
<option value="BJ" trans>Benin</option>
<option value="BM" trans>Bermuda</option>
<option value="BN" trans>Brunei</option>
<option value="BO" trans>Bolivia</option>
<option value="BR" trans>Brazil</option>
<option value="BS" trans>Bahamas</option>
<option value="BT" trans>Bhutan</option>
<option value="BW" trans>Botswana</option>
<option value="BY" trans>Belarus</option>
<option value="BZ" trans>Belize</option>
<option value="CA" trans>Canada</option>
<option value="CD" trans>Democratic Republic of the Congo</option>
<option value="CF" trans>Central African Republic</option>
<option value="CG" trans>Republic of the Congo</option>
<option value="CH" trans>Switzerland</option>
<option value="CI" trans>Cote d'Ivoire</option>
<option value="CK" trans>Cook Islands</option>
<option value="CL" trans>Chile</option>
<option value="CM" trans>Cameroon</option>
<option value="CN" trans>China</option>
<option value="CO" trans>Colombia</option>
<option value="CR" trans>Costa Rica</option>
<option value="CU" trans>Cuba</option>
<option value="CV" trans>Cape Verde</option>
<option value="CY" trans>Cyprus</option>
<option value="CZ" trans>Czech Republic</option>
<option value="DE" trans>Germany</option>
<option value="DJ" trans>Djibouti</option>
<option value="DK" trans>Denmark</option>
<option value="DM" trans>Dominica</option>
<option value="DO" trans>Dominican Republic</option>
<option value="DZ" trans>Algeria</option>
<option value="EC" trans>Ecuador</option>
<option value="EE" trans>Estonia</option>
<option value="EG" trans>Egypt</option>
<option value="ER" trans>Eritrea</option>
<option value="ES" trans>Spain</option>
<option value="ET" trans>Ethiopia</option>
<option value="FI" trans>Finland</option>
<option value="FJ" trans>Fiji</option>
<option value="FM" trans>Federated States of Micronesia</option>
<option value="FO" trans>Faroe Islands</option>
<option value="FR" trans>France</option>
<option value="GA" trans>Gabon</option>
<option value="GD" trans>Grenada</option>
<option value="GE" trans>Georgia</option>
<option value="GH" trans>Ghana</option>
<option value="GM" trans>Gambia</option>
<option value="GN" trans>Guinea</option>
<option value="GQ" trans>Equatorial Guinea</option>
<option value="GR" trans>Greece</option>
<option value="GT" trans>Guatemala</option>
<option value="GU" trans>Guam</option>
<option value="GW" trans>Guinea-Bissau</option>
<option value="GY" trans>Guyana</option>
<option value="HK" trans>Hong Kong</option>
<option value="HN" trans>Honduras</option>
<option value="HR" trans>Croatia</option>
<option value="HT" trans>Republic of Haiti</option>
<option value="HU" trans>Hungary</option>
<option value="ID" trans>Indonesia</option>
<option value="IE" trans>Ireland</option>
<option value="IL" trans>Israel</option>
<option value="IN" trans>India</option>
<option value="IQ" trans>Iraq</option>
<option value="IR" trans>Iran</option>
<option value="IS" trans>Iceland</option>
<option value="IT" trans>Italy</option>
<option value="JM" trans>Jamaica</option>
<option value="JO" trans>Jordan</option>
<option value="JP" trans>Japan</option>
<option value="KE" trans>Kenya</option>
<option value="KG" trans>Kyrgyzstan</option>
<option value="KH" trans>Cambodia</option>
<option value="KI" trans>Kiribati</option>
<option value="KM" trans>Comoros</option>
<option value="KN" trans>Saint Kitts and Nevis</option>
<option value="KP" trans>DPRK</option>
<option value="KR" trans>South Korea</option>
<option value="KW" trans>Kuwait</option>
<option value="KY" trans>Cayman Islands</option>
<option value="KZ" trans>Kazakhstan</option>
<option value="LA" trans>Laos</option>
<option value="LB" trans>Lebanon</option>
<option value="LC" trans>Saint Lucia</option>
<option value="LI" trans>Liechtenstein</option>
<option value="LK" trans>Sri Lanka</option>
<option value="LR" trans>Liberia</option>
<option value="LS" trans>Lesotho</option>
<option value="LT" trans>Lithuania</option>
<option value="LU" trans>Luxemburg</option>
<option value="LV" trans>Latvia</option>
<option value="LY" trans>Libya</option>
<option value="MA" trans>Morocco</option>
<option value="MC" trans>Monaco</option>
<option value="MD" trans>Moldavia</option>
<option value="ME" trans>Montenegro</option>
<option value="MG" trans>Madagascar</option>
<option value="MK" trans>Macedonia</option>
<option value="ML" trans>Mali</option>
<option value="MM" trans>Myanmar</option>
<option value="MN" trans>Mongolia</option>
<option value="MR" trans>Mauritania</option>
<option value="MT" trans>Malta</option>
<option value="MU" trans>Mauritius</option>
<option value="MV" trans>Maldives</option>
<option value="MW" trans>Malawi</option>
<option value="MX" trans>Mexico</option>
<option value="MY" trans>Malaysia</option>
<option value="MZ" trans>Mozambique</option>
<option value="NA" trans>Namibia</option>
<option value="NE" trans>Niger</option>
<option value="NG" trans>Nigeria</option>
<option value="NI" trans>Nicaragua</option>
<option value="NL" trans>Netherlands</option>
<option value="NO" trans>Norway</option>
<option value="NP" trans>Nepal</option>
<option value="NR" trans>Nauru</option>
<option value="NZ" trans>New Zealand</option>
<option value="OM" trans>Oman</option>
<option value="PA" trans>Panama</option>
<option value="PE" trans>Peru</option>
<option value="PG" trans>Papua New Guinea</option>
<option value="PH" trans>Philippines</option>
<option value="PK" trans>Pakistan</option>
<option value="PL" trans>Poland</option>
<option value="PR" trans>Puerto Rico</option>
<option value="PS" trans>Palestine</option>
<option value="PT" trans>Portugal</option>
<option value="PW" trans>Palau</option>
<option value="PY" trans>Paraguay</option>
<option value="QA" trans>Qatar</option>
<option value="RO" trans>Romania</option>
<option value="RS" trans>Serbia</option>
<option value="RU" trans>Russia</option>
<option value="RW" trans>Rwanda</option>
<option value="SA" trans>Saudi Arabia</option>
<option value="SB" trans>Solomon Islands</option>
<option value="SC" trans>Seychelles</option>
<option value="SD" trans>Sudan</option>
<option value="SE" trans>Sweden</option>
<option value="SG" trans>Singapore</option>
<option value="SI" trans>Slovenia</option>
<option value="SK" trans>Slovakia</option>
<option value="SL" trans>Sierra Leone</option>
<option value="SM" trans>San Marino</option>
<option value="SN" trans>Senegal</option>
<option value="SO" trans>Somalia</option>
<option value="SR" trans>Republic of Suriname</option>
<option value="ST" trans>Sao Tome and Principe</option>
<option value="SV" trans>Salvador</option>
<option value="SY" trans>Syria</option>
<option value="SZ" trans>Swaziland</option>
<option value="TD" trans>Chad</option>
<option value="TG" trans>Togo</option>
<option value="TH" trans>Thailand</option>
<option value="TJ" trans>Tadjikistan</option>
<option value="TL" trans>Timor-Leste</option>
<option value="TM" trans>Turkmenistan</option>
<option value="TN" trans>Tunisia</option>
<option value="TO" trans>Tonga</option>
<option value="TR" trans>Turkey</option>
<option value="TT" trans>Trinidad and Tobago</option>
<option value="TV" trans>Tuvalu</option>
<option value="TW" trans>Taiwan</option>
<option value="TZ" trans>Tanzania</option>
<option value="UA" trans>Ukraine</option>
<option value="UG" trans>Uganda</option>
<option value="UY" trans>Uruguay</option>
<option value="UZ" trans>Uzbekistan</option>
<option value="VC" trans>Saint Vincent and the Grenadines</option>
<option value="VE" trans>Venezuela</option>
<option value="VG" trans>British Virgin Islands</option>
<option value="VI" trans>United States Virgin Islands</option>
<option value="VN" trans>Vietnam</option>
<option value="VU" trans>Vanuatu</option>
<option value="WS" trans>Samoa</option>
<option value="YE" trans>Yemen</option>
<option value="ZA" trans>Republic of South Africa</option>
<option value="ZM" trans>Zambia</option>
<option value="ZW" trans>Zimbabwe</option>