@mixin experimental-sportbook-5 {
  /*Live overview*/
  .live-overview-contanier-b .all-inplay-wrapper{
    background: none;
    padding: 0;
  }
  .body-wrapper .live-overview-contanier-b .inplay-game-wrapper{
    background: $sport-color-1;
    border-radius: inherit;
    border-color: $sport-color-1;
  }
  .body-wrapper .live-overview-contanier-b .inplay-game-wrapper.Favorites{
    background: $active-button-color-bet;
    border-color: $active-button-color-bet;
    margin-bottom: 10px;
  }
  .live-overview-contanier-b .overview-championship-info {
    background: $sport-color-active;
  }
  .live-overview-contanier-b .mini-wrapper-info-inplay{
    background: $sport-white-color;
  }
  .live-overview-contanier-b .name-team-overview > p{
    font-weight: bold;
    color: $sport-color-5;
  }
  .live-overview-contanier-b .mini-wrapper-info-inplay,
  .live-overview-contanier-b .overview-game-info,
  .live-overview-contanier-b .overview-name-column,
  .live-overview-contanier-b .overview-markets-column,
  .live-overview-contanier-b .name-market-overview {
    border-color: $sport-color-active;
  }
  .live-overview-contanier-b .score-contain-overview-b{
    background: $sport-color-1;
  }
  .live-overview-contanier-b .overview-championship-info > h4,
  .live-overview-contanier-b .overview-championship-info .arrow-toggle-inplay{
    color: $sport-color-1;
  }
  .live-overview-contanier-b .arrow-toggle-inplay{
    color: $sport-white-color;
  }
  .live-overview-contanier-b .flag-overview{top: 0;}
  .live-overview-contanier-b .mini-b-events-overview > ul > li {
    border-color: $sport-color-active;
    background: $sport-color-4;
  }
  .live-overview-contanier-b .mini-b-events-overview > ul > li:hover{
    background: $sport-color-2;
  }
  .live-overview-contanier-b .mini-b-events-overview > ul > li.active{
    background: $sport-color-1;
  }
  .live-overview-contanier-b .mini-b-events-overview > ul > li > p,{
    color: $sport-color-1;
  }
  .live-overview-contanier-b .mini-b-events-overview > ul > li.active > p{
    color: $sport-white-color;
  }
  .live-overview-contanier-b .mini-b-events-overview > ul > li > span{
    font-weight: bold;
    color: $sport-color-1;
  }
  .live-overview-contanier-b .mini-b-events-overview > ul > li.active > span{
    color: $sport-white-color;
  }
  .body-wrapper .live-overview-contanier-b .sport-icon-inplay:before{
    color: $sport-white-color;
  }
  .body-wrapper .live-overview-contanier-b .inplay-game-wrapper.Favorites .overview-championship-info .sport-icon-inplay:before{
    color: $active-button-color-bet;
  }
  .live-overview-contanier-b .overview-championship-info > h4 > .fav-name-overview-b-sport{
    color: $active-button-color-bet;
  }
  .live-overview-contanier-b .favorite-overview-icon,
  .live-overview-contanier-b .favorite-overview-icon.active, .live-overview-contanier-b .favorite-overview-icon:hover{
    color: $active-button-color-bet;
  }
  .live-overview-contanier-b .any-events-b > a{font-weight: bold;color: $sport-black-color;}
  .live-overview-contanier-b .any-events-b > a:hover{color: $active-button-color-bet;}
  .live-overview-contanier-b .change-markets-box > p{
    color: $sport-color-active;
  }
  /*Live overview END*/
}