@mixin experimental-sportbook-4 {
  /*Quickbet*/
  .quick-bet-price-box{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  .quick-bet-price-box > ul{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3px;
  }
  .quick-bet-price-box > ul > li{
    float: left;
    width: auto;
    background: none;
    padding: 0 3px 5px 3px;
    box-sizing: border-box;
  }
  .quick-bet-price-box > ul > li > select{
    width: 60px;
    height: 24px;
    border: 1px solid $sport-color-active;
    box-sizing: border-box;
    outline: none;
    font: 11px/16px $font-f;
    color: $sport-color-1;
    background: $sport-color-2;
    border-radius: 4px;
  }
  .quick-bet-price-box > ul > li > button{
    height: 24px;
    font: 11px/16px $font-f;
    padding: 0 5px;
    border: 1px solid $sport-color-active;
    box-sizing: border-box;
    outline: none;
    color: $sport-color-1;
    background: $sport-color-2;
    border-radius: 4px;
    transition: background 200ms;
  }
  .quick-bet-price-box > ul > li > button:hover{
    background: $sport-color-active;
  }
  /*Quickbet END*/

  /*Betslip*/
  .right-column-view-contain > .list-bet-block{
    width: 100%;
    margin: 0;
    padding: 0;
    background: $sport-color-4;
    border: none;
  }
  .right-column-view-contain > .list-bet-block .quick-bet-button {
    left: 0;
    top: 0;
    position: relative;
    z-index: 88;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px 3px;
  }
  .right-column-view-contain > .list-bet-block .bet-notification-zone.quick-bet-notifications{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px 10px;
  }
  .right-column-view-contain > .list-bet-block .name-b-list{
    height: auto;
  }
  .right-column-view-contain > .list-bet-block .name-b-list h2{
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 36px;
    background: $sport-color-1;
    padding: 0 10px;
    color: $sport-white-color;
    margin: 0;
  }
  .right-column-view-contain .empty-betslip{
    padding: 4px 5px 5px;
    box-sizing: border-box;
  }
  .right-column-view-contain > .list-bet-block .name-b-list h2 > i{
    font: 14px/36px $font-f;
    font-weight: bold;
    display: inline-block;
  }
  .right-column-view-contain > .list-bet-block .name-b-list h2 > b {
    font: 12px/16px $font-f;
    padding: 1px 3px;
    background: $sport-color-5;
    border-radius: 4px;
    min-width: 17px;
    position: relative;
    top: -7px;
    display: inline-block;
    text-align: center;
  }
  .right-column-view-contain > .list-bet-block .bet-accepted-noification {
    background: $sport-color-active;
    border-top: 1px solid $sport-color-1;
    border-bottom: 1px solid $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .bet-container{
    overflow: inherit;
    max-height: inherit;
  }
  .right-column-view-contain > .list-bet-block .bet-container >  ul > li{
    width: 100%;
    box-sizing: border-box;
  }
  .right-column-view-contain > .list-bet-block .bs-type-switcher{
    float: left;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: auto;
    margin: 0;
    padding: 5px 0;
    border: none;
    height: 30px;
    box-shadow: none;
  }
  .right-column-view-contain > .list-bet-block .bs-type-switcher > p,
  .right-column-view-contain > .list-bet-block .bs-type-switcher > span{
    display: none;
  }
  .right-column-view-contain > .list-bet-block .bs-type-switcher > .open-type-switcher{
    float: left;
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    box-sizing: border-box;
    height: auto;
    padding: 0;
  }
  .right-column-view-contain > .list-bet-block .bs-type-switcher > .open-type-switcher > ul{
    float: left;
    width: 100%;
    display: table;
    box-sizing: border-box;
    padding: 0;
  }
  .right-column-view-contain > .list-bet-block .bs-type-switcher > .open-type-switcher > ul > li{
    display: table-cell;
    box-sizing: border-box;
    float: none;
    margin: 0;
    padding: 0 3px;
    border: none;
    border-radius: inherit;
    background: none;
    cursor: default;
    min-width: inherit;
    box-shadow: none;
  }
  .right-column-view-contain > .list-bet-block .bs-type-switcher > .open-type-switcher > ul > li > a{
    min-width: inherit;
    box-sizing: border-box;
    padding: 3px 0;
    font-size: 10px;
    font-weight: normal;
    color: $sport-color-1;
    border: none;
    background: $sport-color-active;
    border-radius: 4px;
    transition: color 200ms, background 200ms;
  }
  .right-column-view-contain > .list-bet-block .bs-type-switcher > .open-type-switcher > ul > li > a.active,
  .right-column-view-contain > .list-bet-block .bs-type-switcher > .open-type-switcher > ul > li > a:hover{
    background: $sport-color-1;
    color: $sport-white-color;
  }
  .right-column-view-contain > .list-bet-block .betslip-system-chenge{
    height: 11px;
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0 3px 5px 0;
    z-index: 338;
    border: 1px solid $sport-color-active;
    background: $sport-color-active;
    border-radius: 3px;
    min-width: 96px;
    top: 0;
  }
  .right-column-view-contain > .list-bet-block .betslip-system-chenge.open .open-type-switcher {
    box-shadow: 0 3px 10px -3px $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .betslip-system-chenge > .open-type-switcher > ul{
    padding: 0;
  }
  .right-column-view-contain > .list-bet-block .betslip-system-chenge > .open-type-switcher > ul > li{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    min-width: inherit;
    border-radius: inherit;
    text-align: left;
  }
  .right-column-view-contain > .list-bet-block .betslip-system-chenge > .arrow-bs-type-switcher{
    top: 2px;
  }
  .right-column-view-contain > .list-bet-block .betslip-system-chenge > .arrow-bs-type-switcher:before{
    content: "\e670";
    font: 12px/14px icomoon;
    color: $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .betslip-system-chenge.open > .arrow-bs-type-switcher:before{
    content: "\e671";
  }
  .right-column-view-contain > .list-bet-block .settings-icon-bet{
    z-index: 355;
    background: none;
    display: none;
  }
  .right-column-view-contain > .list-bet-block .settings-icon-bet:before{
    content: "\e6a0";
    font: 16px/22px icomoon;
    color: $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .bet-settings-container{
    border-bottom: none;
  }
  .right-column-view-contain > .list-bet-block .bet-settings-container .betslip-options{
    width: 100%;
    box-sizing: border-box;
    background: $sport-color-active;
    border-bottom: none;
    max-height: inherit;
    height: auto;
    padding: 5px 10px;
    overflow: inherit;
  }
  .right-column-view-contain > .list-bet-block .bet-settings-container .betslip-options > span{
    display: inline-block;
    width: 100%;
  }
  .right-column-view-contain > .list-bet-block .bet-settings-container .betslip-options > label{
    display: inline-block;
    float: none;
    width: auto;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 33%;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .right-column-view-contain > .list-bet-block .bet-container > ul{
    overflow: hidden;
    border-top: 1px solid $sport-white-color;
  }
  .right-column-view-contain > .list-bet-block .bet-currency-value .single-bet-betmax{
    display: none;
  }
  .right-column-view-contain > .list-bet-block ul li:first-child span a{
    font: 8px/14px icomoon;
    background: none;
    width: 14px;
    height: 14px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    transition: box-shadow 200ms;
    color: $sport-color-1;
    border-radius: 3px;
  }
  .right-column-view-contain > .list-bet-block ul li:first-child span a:before{
    content: "\e6ee";
    text-indent: 0;
    position: absolute;
    left: 3px;
    top: 0;
  }
  .right-column-view-contain > .list-bet-block ul li:first-child span a:hover{
    box-shadow: 0 0 0 1px $sport-color-active inset;
  }
  .right-column-view-contain > .list-bet-block .bet-container > ul > li{
    background: $sport-color-4;
  }
  .right-column-view-contain > .list-bet-block .bet-container > ul.changed > li{
    background: $sport-color-active;
  }
  .right-column-view-contain > .list-bet-block .bet-container > ul.deleted > li{
       background: #E0DFDF;
  }
  .right-column-view-contain > .list-bet-block .single-bet-container .single-bet-betmax {
    border: 1px solid $sport-color-5;
    background: $sport-color-5;
    text-transform: uppercase;
    border-radius: 3px;
    transition: background 200ms, border 200ms;
    opacity: 1;
  }
  .right-column-view-contain > .list-bet-block .single-bet-container input{
    box-shadow: none;
  }
  .right-column-view-contain > .list-bet-block .single-bet-container .single-bet-betmax > span{
    color: $sport-white-color;
  }
  .right-column-view-contain > .list-bet-block .single-bet-container .single-bet-betmax:hover{
    border: 1px solid $sport-color-1;
    background: $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .single-bet-container .single-bet-stake-repeat:before{
    color: $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .bet-conflict-warning .conflict-content > ul{padding: 0;}
  .right-column-view-contain > .list-bet-block .bet-container > ul > li span{
    color: $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .bet-container > ul > li span.bet-initial-price{
    color: $sport-white-color;
  }
  .right-column-view-contain > .list-bet-block .bet-form form p span{
    color: $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .betslip-clearall-button input{
    background: $sport-color-1;
    border-color: $sport-color-1;
    color: $sport-white-color;
  }
  .right-column-view-contain > .list-bet-block .superbet-info-block,
  .right-column-view-contain > .list-bet-block .superbet-checkbox.active{
    background: $sport-color-1;
  }
  .right-column-view-contain > .list-bet-block .superbet-checkbox label {
    color: $sport-color-3;
  }
  .right-column-view-contain > .list-bet-block .button-bet button{
    background: $active-button-color-bet;
    border-color: $active-button-color-bet;
  }
  .right-column-view-contain > .list-bet-block .button-bet button[disabled="disabled"] {
    background: $sport-color-active;
    border-color: $sport-color-active;
  }
  .right-column-view-contain > .list-bet-block .button-bet.bet-in-progress button[disabled="disabled"] {
    background: $active-button-color-bet url(../images/betslip-loader.gif) no-repeat 50% 50%;
  }
  .right-column-view-contain > .list-bet-block .bet-notification-zone{
    background: $sport-white-color;
  }
  .right-column-view-contain > .list-bet-block .button-bet .bet-notification-zone:before{
    color: $sport-white-color;
  }
  .right-column-view-contain > .list-bet-block .swicher-right-block-odd {
    background: $sport-color-1;
    top: 8px;
    color: #FFF;
  }
  .right-column-view-contain > .list-bet-block .name-b-list .tabs-booking ul li {
    box-shadow: none;
    color: #FFF;
    border-color: rgba(0, 0, 0, 0);
    margin: 0 5px 0 0;
    top: 5px;
  }
  .open-type-switcher {
    box-shadow: none;
  }
  /*Betslip END*/
}