<div class="checkbox-separator">
    <div class="mini-checkbox-b" ng-init="resetError[birthagree] = true" ng-class="{'error': !resetError[birthagree] && registerform.birthagree.$error.required}">
        <input ng-model="registrationData.birthagree" type="checkbox" id="checkbox-id1" name="birthagree" required>
        <label for="checkbox-id1" ng-class="{'error': !resetError[birthagree] && registerform.birthagree.$error.required}">
            <span ng-show="conf.registration.minimumAllowedAge==18" trans>I am over 18 years old</span>
            <span ng-show="conf.registration.minimumAllowedAge==21" trans>I am over 21 years old</span>
        </label>
        <div class="form-error-text" ng-show="!resetError[birthagree] && registerform.birthagree.$error.required">
            <div class="error-icon-f"></div>
            <p trans ng-show="!resetError[birthagree] && registerform.birthagree.$error.required">For registration you must be at least 18 years old.</p>
        </div>
    </div>

    <div class="mini-checkbox-b" ng-init="resetError[agree] = true" ng-class="{'error': !resetError[agree] && registerform.agree.$error.required}">
        <input ng-model="registrationData.agree" type="checkbox" id="checkbox-id2" name="agree" required>
        <label for="checkbox-id2" ng-class="{'error': !resetError[agree] && registerform.agree.$error.required}">
            <span trans>I have read and accept</span>
            <a class="info-tooltip" href="#/?help=general-terms-and-conditions&lang={{env.lang}}" target="_blank" ng-if="!conf.registration.disableTermsLink">
                <span trans >Terms &amp; Conditions</span>
            </a>
            <a class="info-tooltip" ng-if="conf.registration.disableTermsLink">
                <span trans >Terms &amp; Conditions</span>
                <p><span class="arrow-sport"></span>
                    <span trans>You can read our Terms and Conditions by clicking corresponding links in page footer.</span>
                </p>
            </a>
        </label>
        <div class="form-error-text" ng-show="!resetError[agree] && registerform.agree.$error.required">
            <div class="error-icon-f"></div>
            <p trans ng-show="!resetError[agree] && registerform.agree.$error.required">For registration you must accept our Terms and Conditions.</p>
        </div>
    </div>
</div>