<div class="gameing-wrapper" ng-controller="statisticsCtrl" ng-init="initStatistics()">
    <style>body{overflow:hidden;}</style>
    <!-- System Calculator-->
    <div id="system-claculator-container" ng-if="$root.showSystemCalculator" draggable allow-other-mouse-events drag-from="calculator-draggable-header">
        <ng-include src="getTemplate('templates/sport/classic/systemCalculator.html')"></ng-include>
    </div>
    <!-- System Calculator-->
    <iframe ng-src="{{statsUrl}}" class="statistics-page"></iframe>
</div>