<div class="black-line"></div>

<div class="footer" ng-controller="footerCtrl" ng-if="!conf.disableFooter && $location.path() !='/popup/'|| $location.path() !='/'">

    <div class="logo" ng-class="conf.site_name"><a ng-click="scrollToTop(true)" trans>logo</a></div>

    <div id="ceg-seal-container" data-ceg-seal-id="2268f7ea3aac49a54df4" data-ceg-image-size="256" data-ceg-image-type="basic-large"></div>
    <div class="old-18-year" ng-show="conf.ageRestrictionInFooter"><p>{{conf.ageRestrictionInFooter}}+</p></div>

    <ng-include src="getTemplate('templates/footer/social.html')"></ng-include>

    <div class="back-block"><div class="go-back"><a ng-click="scrollToTop(true)" trans>back to top</a></div></div>

    <ng-include src="getTemplate('templates/footer/helppages.html')"></ng-include>
    <ng-include src="getTemplate('templates/footer/copyright.html')"></ng-include>

    <ng-include src="getTemplate('templates/footer/links.html')"></ng-include>

</div>

<ng-include src="getTemplate('templates/footer/paymentmethods.html')"></ng-include>
<ng-include src="getTemplate('templates/footer/chatwidget.html')"></ng-include>
