<div class="ng-cloak dashboard-view-v3" ng-controller="euro2016DashboardMainController">
    <!--Live games column dashboard-->
    <div class="live-events-column-v3"  ng-controller="euro2016DashboardCenterController">
        <div>
            <div class="live-games-list-d-v3" >
                <div class="live-column-title-v3">
                    <div class="upcoming-icon-v3"></div>
                    <h2>
                        <span>Live now</span>
                    </h2>
                    <div class="d-arrow-icon-v3"  ng-click="toggleSports()" ng-class="{'closed-all' : !expandedAll}"></div>
                </div>
                <div class="all-live-games-list-d-v3" mb-scrollbar="scrollbar('vertical', false)" style="height: calc(100vh - 142px);float: none;padding-right: 12px">
                    <div class="live-games-column-dasboard-v3">
                        <div class="single-sport-box-v3 {{sportBlock[sport.id].expanded ? '' : 'sport-closed'}}"
                             ng-repeat="sport in centerViewLiveData track by sport.id"
                             ng-init="sportBlock[sport.id].expanded = true">
                            <div class="sport-name-up-game-v3 opened {{sport.alias}}"
                                 ng-click="toggleSports(sport.id)">
                                <div class="sport-icon-v3 {{sport.alias}}"></div>
                                <h3>{{sport.name}}</h3>
                                <div class="arrow-view-v3"></div>
                            </div>
                            <div
                                    ng-repeat="regionLight in sport.regions track by regionLight.id"
                                    ng-init="region = sport.region[regionLight.id];region.regionListClosed = false;region.isLoading = true;
                                    toggleItem({'sport': sport.id, 'region': region.id, 'type': 1, 'isClosed': region.regionListClosed, 'isLoading': region.isLoading});">


                                <div class="dashboard-live-game-competitin-v3">
                                    <div class="contain-competition-dashboard-v3 {{!competitionBlock[competition.id].expanded ? 'closed' : ''}}"
                                         ng-repeat="competitionLight in region.competitions track by competitionLight.id"
                                         ng-init="competition = region.competition[competitionLight.id]; competitionBlock[competition.id].expanded = true">
                                        <div class="title-competition-dashboard-v3">
                                            <div class="flag-view-v3 flag-{{region.alias}}"></div>
                                            <h5>{{competition.name|removeParts:[sport.name]|removeParts:[region.name]}}</h5>
                                            <!--<div class="arrow-view-v3"></div>-->
                                        </div>

                                        <div class="dashboard-single-l-game-v3"
                                             ng-repeat="gameLight in competition.games track by $index"
                                             ng-init="game = competition.game[gameLight.id]"
                                             ng-click="goToUrl(game)">
                                            <ul>
                                                <li>
                                                    <div class="single-game-item-v3" ng-class="{'no-events': !game.markets_count}">
                                                        <div class="team-name-1-v3">
                                                            <p>{{game.team1_name}}</p>
                                                            <span>{{game.info.score1}}</span>
                                                        </div>
                                                        <div class="team-name-1-v3">
                                                            <p>{{game.team2_name}}</p>
                                                            <span>{{game.info.score2}}</span>
                                                        </div>
                                                        <div class="game-info-mini-v3">
                                                            <p>
                                                                <span>{{game.info.current_game_state|convertSetName:sport.alias|translate}}</span>
                                                                <span trans="attr-only" title="Game time">&nbsp;{{game.info.current_game_time}}</span>
                                                                <i class="{{game.is_blocked ? 'blocked-icon-v3' : ''}}" ></i>
                                                            </p>
                                                            <div class="game-info-icons-v3">
                                                                <div class="icon-separator-v3 video"></div>
                                                                <!--<div class="icon-separator-v3 tv"></div>-->
                                                                <div class="icon-separator-v3 statistic"
                                                                     ng-if="$root.conf.enableH2HStat &&  game.is_stat_available"
                                                                     ng-click="openStatistics(game); $event.stopPropagation();"
                                                                ></div>
                                                            </div>
                                                        </div><!-- end ngIf: game.type==1 -->
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="market-info-view-d-v3">
                                                        <div class="market-name-d-v3 dashboard">
                                                            <!--header start-->
                                                            <div class="marked-event-header">
                                                                <div class="odds-1x2 dashboard floating-element" ng-show="!(sportP1P2Alias.indexOf(sport.alias) > -1)">
                                                                    <span>1</span>
                                                                    <span>X</span>
                                                                    <span>2</span>
                                                                </div>
                                                                <div class="odds-12 dashboard floating-element" ng-show="sportP1P2Alias.indexOf(sport.alias) > -1">
                                                                    <span>1</span>
                                                                    <span>2</span>
                                                                </div>
                                                            </div>
                                                            <!--header end-->
                                                        </div>
                                                        <div class="events-list-view-v3">
                                                            <ul class="column-{{(sportP1P2Alias.indexOf(sport.alias) > -1) ? 2 : 3}}"
                                                                ng-init="market = game.filteredMarkets['P1XP2'] || game.filteredMarkets['P1P2']">
                                                                <li
                                                                        ng-repeat="event in market[0].event track by event.id"
                                                                        ng-mouseover="displayEventLimit(event, game, false, market[0])"
                                                                        ng-mouseleave="cancelDisplayEventLimit(event)"
                                                                        ng-show="event && event.name"
                                                                        ng-click="bet(event, market[0], game); $event.stopPropagation();">
                                                                    <div class="single-events-b-v3 dashboard
                                                                    {{isEventInBetSlip(event) ? 'active' : ''}}
                                                                    {{(event.price === 1 || game.is_blocked) ? 'blocked' : ''}}">
                                                                        <div class="mini-box-market-info-v3">
                                                                            <span ng-show="event.price !== 1 && !openGame.is_blocked">
                                                                        <b ng-class="{'factor-top': event.price_change > 0, 'factor-bottom': event.price_change < 0}">
                                                                            {{event.price|oddConvert:env.oddFormat}}
                                                                        </b>
                                                                    </span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li ng-show="!market[0]" class="market0" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                                    <div class="single-events-b-v3 dashboard no-hover"><span>-</span></div>
                                                                </li>
                                                                <li ng-show="!market[0]" class="market0" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                                    <div class="single-events-b-v3 dashboard no-hover"><span>-</span></div>
                                                                </li>
                                                                <li ng-show="!market[0] && (sportP1P2Alias.indexOf(sport.alias) === -1)" class="market0 no-right" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                                    <div class="single-events-b-v3 dashboard no-hover"><span>-</span></div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="all-markets-favorite-d-v3">
                                                        <ul>
                                                            <li>
                                                                <div class="favorite-icon-market-v3 {{$root.myGames.indexOf(game.id) !== -1 ? 'active' : ''}}"
                                                                     ng-click="toggleGameFavorite(game); $event.stopPropagation();"
                                                                ></div>
                                                            </li>
                                                            <li>
                                                                <div class="markets-count-view-v3"
                                                                     ng-click="goToUrl(game); $event.stopPropagation();">
                                                                    <span>+{{game.markets_count}}</span>
                                                                    <!--<div class="arrow-icon-b-v3"></div>-->
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Live games column dashboard END-->
    <!--upcoming games column dashboard END-->
    <div class="live-events-column-v3">
        <game-widget sport-tabs-quantity="15" game-widget-type="'upcoming'" game-widget-title="'Upcoming games'" template-path="templates/sport/euro2016/center/upcoming-games.html"></game-widget>
    </div>
    <!--upcoming games column dashboard END-->
</div>