<div class="live-games-list-d-v3 live-services">
    <div class="all-live-games-list-d-v3 live-services">
        <div class="live-games-column-dasboard-v3" mb-scrollbar="scrollbar('vertical', false)">
            <div class="single-sport-box-v3 live-services {{sportBlock[sport.id].expanded ? '' : 'sport-closed'}}"
                 ng-repeat="sport in centerViewLiveData track by sport.id"
                 ng-init="sportBlock[sport.id].expanded = true">
                <div class="sport-name-up-game-v3 live-services {{sport.alias}}{{sportBlock[sport.id].expanded ? ' opened' : ''}}"
                     ng-click="toggleSports(sport.id)">
                    <h3>{{sport.name}}</h3>
                    <div class="arrow-view-v3"></div>
                </div>
                <div
                        ng-repeat="regionLight in sport.regions track by regionLight.id"
                        ng-init="region = sport.region[regionLight.id];region.regionListClosed = false;region.isLoading = true;
                            toggleItem({'sport': sport.id, 'region': region.id, 'type': 1, 'isClosed': region.regionListClosed, 'isLoading': region.isLoading});" class="grdon">

                    <div class="dashboard-live-game-competitin-v3">
                        <div class="contain-competition-dashboard-v3 live-services {{!competitionBlock[competition.id].expanded ? 'closed' : ''}}"
                             ng-repeat="competitionLight in region.competitions track by competitionLight.id"
                             ng-init="competition = region.competition[competitionLight.id]; competitionBlock[competition.id].expanded = true">
                            <div class="dashboard-single-l-game-v3 live-services"
                                 ng-repeat="gameLight in competition.games track by $index"
                                 ng-init="game = competition.game[gameLight.id]">
                                <div class="live-services-inplay" >
                                    <div class="single-game-item-v3 live-services" ng-click="goToUrl(game)" ng-class="{'no-events': !game.markets_count}">
                                        <div class="team-name-1-v3 live-services">
                                            <p>{{game.team1_name}}</p>
                                            <span>{{game.info.score1}}</span>
                                        </div>
                                        <div class="team-name-1-v3 live-services">
                                            <p>{{game.team2_name}}</p>
                                            <span>{{game.info.score2}}</span>
                                        </div>
                                        <div class="game-info-mini-v3">
                                            <p>
                                                <span>{{game.info.current_game_state|convertSetName:sport.alias|translate}}</span>
                                                <span trans="attr-only" title="Game time">&nbsp;{{game.info.current_game_time}}</span>

                                            </p>
                                            <div class="game-info-icons-v3" >
                                                <div class="icon-separator-v3 video"></div>
                                                <!--<div class="icon-separator-v3 tv"></div>-->
                                                <div class="icon-separator-v3 statistic"
                                                     ng-if="$root.conf.enableH2HStat &&  game.is_stat_available"
                                                     ng-click="openStatistics(game); $event.stopPropagation();"
                                                ></div>
                                            </div>
                                        </div><!-- end ngIf: game.type==1 -->

                                        <div class="clear"></div>
                                    </div>
                                    <div class="toggle-markets">
                                        <div class="icon-separator-v3 live-services market-count-v3 full" trans="attr-only" title="Number of markets"  ng-show="!game.is_blocked" ng-click="goToUrl(game)">
                                            <span>+{{game.markets_count}}</span>
                                        </div>
                                        <i class="live-services {{game.is_blocked ? 'blocked-icon-v3' : ''}}" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
