<div class="live-games-list-d-v3 live-services">
    <div class="all-live-games-list-d-v3">
        <div class="live-games-column-dasboard-v3" mb-scrollbar="scrollbar('vertical', false)">
            <div class="single-sport-box-v3 live-services {{sportBlock[sport.id].expanded ? '' : 'sport-closed'}}"
                 ng-repeat="sport in centerViewLiveData track by sport.id"
                 ng-init="sportBlock[sport.id].expanded = true">
                <div class="sport-name-up-game-v3 live-services {{sport.alias}}{{sportBlock[sport.id].expanded ? ' opened' : ''}}"
                     ng-click="toggleSports(sport.id)">
                    <h3>{{sport.name}}</h3>
                    <div class="arrow-view-v3"></div>
                </div>
                <!--header start-->
                <div class="marked-event-header" ng-if="!$root.videoResizeButton && $root.env.live && $root.$location.path() === '/sport/'" >
                    <div class="title-left live-now floating-element">
                        <span>Event</span>
                    </div>
                    <div class="odds-1x2 live-now floating-element" ng-show="!(sportP1P2Alias.indexOf(sport.alias) > -1)">
                        <span>1</span>
                        <span>X</span>
                        <span>2</span>
                    </div>
                    <div class="odds-12 live-now floating-element" ng-show="sportP1P2Alias.indexOf(sport.alias) > -1">
                        <span>1</span>
                        <span>2</span>
                    </div>
                    <div class="more live-now live-services floating-element">
                        <span>More</span>
                    </div>
                </div>
                <!--header end-->
                <div
                        ng-repeat="regionLight in sport.regions track by regionLight.id"
                        ng-init="region = sport.region[regionLight.id];region.regionListClosed = false;region.isLoading = true;
                            toggleItem({'sport': sport.id, 'region': region.id, 'type': 1, 'isClosed': region.regionListClosed, 'isLoading': region.isLoading});" class="grdon">

                    <div class="dashboard-live-game-competitin-v3">
                        <div class="contain-competition-dashboard-v3 live-services {{!competitionBlock[competition.id].expanded ? 'closed' : ''}}"
                             ng-repeat="competitionLight in region.competitions track by competitionLight.id"
                             ng-init="competition = region.competition[competitionLight.id]; competitionBlock[competition.id].expanded = true">
                            <div class="dashboard-single-l-game-v3 live-services"
                                 ng-repeat="gameLight in competition.games track by $index"
                                 ng-init="game = competition.game[gameLight.id]">
                                <div class="live-services-inplay" >
                                    <div class="single-game-item-v3 live-services" ng-click="goToUrl(game)" ng-class="{'no-events': !game.markets_count}">
                                        <div class="team-name-1-v3 live-services" ng-class="{'left': !$root.videoResizeButton && $root.env.live && $root.$location.path() === '/sport/'}">
                                            <p>{{game.team1_name}}</p>
                                            <span>{{game.info.score1}}</span>
                                        </div>
                                        <div class="team-name-1-v3 live-services" ng-class="{'left': !$root.videoResizeButton && $root.env.live && $root.$location.path() === '/sport/'}">
                                            <p>{{game.team2_name}}</p>
                                            <span>{{game.info.score2}}</span>
                                        </div>
                                        <div class="game-info-mini-v3">
                                            <p>
                                                <span>{{game.info.current_game_state|convertSetName:sport.alias|translate}}</span>
                                                <span trans="attr-only" title="Game time">&nbsp;{{game.info.current_game_time}}</span>

                                            </p>
                                            <div class="game-info-icons-v3" ng-class="{'left': !$root.videoResizeButton && $root.env.live && $root.$location.path() === '/sport/'}">
                                                <div class="icon-separator-v3 video"></div>
                                                <!--<div class="icon-separator-v3 tv"></div>-->
                                                <div class="icon-separator-v3 statistic"
                                                     ng-if="$root.conf.enableH2HStat &&  game.is_stat_available"
                                                     ng-click="openStatistics(game); $event.stopPropagation();"
                                                ></div>
                                            </div>
                                        </div><!-- end ngIf: game.type==1 -->

                                        <div class="clear"></div>

                                        <!--inline markets start-->
                                        <div class="live-services-market opened inline-market" ng-if="!$root.videoResizeButton && $root.env.live && $root.$location.path() === '/sport/'">
                                            <div class="market-info-view-d-v3 live-services">
                                                <div class="events-list-view-v3 live-services">
                                                    <ul class="column-{{(sportP1P2Alias.indexOf(sport.alias) > -1) ? 2 : 3}}"
                                                        ng-init="market = (sportP1P2Alias.indexOf(sport.alias) > -1) ? game.filteredMarkets['P1P2'] : game.filteredMarkets['P1XP2']">
                                                        <li     ng-repeat="event in market[0].event track by event.id"
                                                                ng-mouseover="displayEventLimit(event, game, false, market[0])"
                                                                ng-mouseleave="cancelDisplayEventLimit(event)"
                                                                ng-show="event && event.name"
                                                                ng-click="bet(event, market[0], game); $event.stopPropagation();">
                                                            <div class="single-events-b-v3 live-services inline-market
                                                            {{isEventInBetSlip(event) ? 'active' : ''}}
                                                            {{(event.price === 1 || game.is_blocked) ? 'blocked' : ''}}">
                                                                <div class="mini-box-market-info-v3">
                                                                    <span ng-show="event.price !== 1 && !openGame.is_blocked">
                                                                <b ng-class="{'factor-top': event.price_change > 0, 'factor-bottom': event.price_change < 0}">
                                                                    {{event.price|oddConvert:env.oddFormat}}
                                                                </b>
                                                            </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li ng-show="!market[0]" class="market0" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                            <div class="single-events-b-v3 live-services no-hover"><span>-</span></div>
                                                        </li>
                                                        <li ng-show="!market[0]" class="market0" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                            <div class="single-events-b-v3 live-services no-hover"><span>-</span></div>
                                                        </li>
                                                        <li ng-show="!market[0] && (sportP1P2Alias.indexOf(sport.alias) === -1)" class="market0 no-right" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                            <div class="single-events-b-v3 live-services no-hover"><span>-</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--inline markets end-->
                                    </div>
                                    <div class="toggle-markets">
                                        <div class="arrow-view-v3 live-services {{marketOpened ? 'active' : ''}}" ng-click="marketOpened = !marketOpened" ng-show="!game.is_blocked && ($root.videoResizeButton || (!$root.env.live && $root.$location.path() === '/sport/') || ($root.env.live && $root.$location.path() != '/sport/'))"></div>
                                        <div class="icon-separator-v3 live-services market-count-v3" ng-class="{'full': !$root.videoResizeButton && $root.env.live && $root.$location.path() === '/sport/'}" trans="attr-only" title="Number of markets"  ng-show="!game.is_blocked" ng-click="goToUrl(game)">
                                            <span>+{{game.markets_count}}</span>
                                        </div>
                                        <i class="live-services {{game.is_blocked ? 'blocked-icon-v3' : ''}}" ></i>
                                    </div>
                                    <div class="live-services-market {{marketOpened ? 'opened' : ''}}">
                                        <div class="market-info-view-d-v3 live-services">
                                            <div class="events-list-view-v3 live-services">
                                                <ul class="column-{{(sportP1P2Alias.indexOf(sport.alias) > -1) ? 2 : 3}}"
                                                    ng-init="market = game.filteredMarkets['P1XP2'] || game.filteredMarkets['P1P2']">
                                                    <li
                                                            ng-repeat="event in market[0].event track by event.id"
                                                            ng-mouseover="displayEventLimit(event, game, false, market[0])"
                                                            ng-mouseleave="cancelDisplayEventLimit(event)"
                                                            ng-show="event && event.name"
                                                            ng-click="bet(event, market[0], game); $event.stopPropagation();">
                                                        <div class="single-events-b-v3 live-services
                                                            {{isEventInBetSlip(event) ? 'active' : ''}}
                                                            {{(event.price === 1 || game.is_blocked) ? 'blocked' : ''}}">
                                                            <div class="mini-box-market-info-v3">
                                                                <p>
                                                                    <i>{{event.name}}</i>
                                                                </p>
                                                                <span ng-show="event.price !== 1 && !openGame.is_blocked">
                                                                    <b ng-class="{'factor-top': event.price_change > 0, 'factor-bottom': event.price_change < 0}">
                                                                        {{event.price|oddConvert:env.oddFormat}}
                                                                        {{event.price|oddConvert:env.oddFormat}}
                                                                    </b>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li ng-show="!market[0]" class="market0" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                        <div class="single-events-b-v3 live-services no-hover"><span>-</span></div>
                                                    </li>
                                                    <li ng-show="!market[0]" class="market0" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                        <div class="single-events-b-v3 live-services no-hover"><span>-</span></div>
                                                    </li>
                                                    <li ng-show="!market[0] && (sportP1P2Alias.indexOf(sport.alias) === -1)" class="market0 no-right" ng-class="{'P1P2' : (sportP1P2Alias.indexOf(sport.alias) > -1)}">
                                                        <div class="single-events-b-v3 live-services no-hover"><span>-</span></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
