<div class="upcoming-games-list-d-v3 live-services">
    <div class="upcoming-column-title-v3 live-services">
        <div class="upcoming-icon-v3"></div>
        <h2 ng-if="!$root.videoResizeButton && $root.env.live && $root.$location.path() === '/sport/'">
            <span>{{gameWidgetTitle | translate}}</span>
        </h2>
        <div class="upcoming-games-filter-v3 live-services" ng-class="{'wide': ($root.videoResizeButton || (!$root.env.live && $root.$location.path() === '/sport/') || ($root.env.live && $root.$location.path() != '/sport/'))}">
            <div class="time-filter-v3 active">
                <div class="sub-nav-filter-time-v3">
                    <ul>
                        <li ng-repeat="minute in $root.conf.homePageLastMinuteBets.timeOptions track by $index"
                            ng-click="setMinutes(minute);"
                            ng-class="{'icon-checkmark':minutesFilter == minute}">
                            <span>In {{minute}} Min</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-arrow-icon-v3" ng-click="toggleSports()" ng-class="{'closed-all' : collapsedAll}"></div>
    </div>
    <div class="single-sport-contain">
        <div class="sport-title-view-up-v3"></div>
        <div class="upcpming-game-contain-v3">
            <div class="prematch-game-view-contain-v3 live-services">
                <div class="single-sport-box-v3"
                     ng-repeat="sport in liveGameViewData track by $index"
                     ng-show="liveGameViewData.length"
                     ng-class="{'sport-closed': sport.collapsed}">
                    <div class="sport-name-up-game-v3 live-services {{sport.alias}}{{!expanded ? ' opened' : ''}}" ng-click="toggleSports(sport); $event.stopPropagation(); expanded = !expanded;">
                        <h3>{{sport.name}}</h3>
                        <div class="arrow-view-v3"></div>
                    </div>
                    <div ng-repeat="region in sport.region track by $index" class="region-list-view-d-v3">
                        <div ng-repeat="competition in region.competition track by $index"
                             ng-show="competition.gamesLength"
                             class="competition-list-view-d-v3">
                            <div class="time-info-game-box-v3 live-services">
                                <div class="game-events-view-v3" ng-repeat="game in competition.game" >
                                    <div class="mini-title-box-gameview-v3 live-services" ng-class="{'expanded': !$root.videoResizeButton}">
                                        <div class="upcoming-pematch-single-game-info-v3" ng-click="goToUrl(game); $event.stopPropagation();">
                                            <div class="upcoming-team-name-view-table-v3">
                                                <div class="team-names-date-icons-v3 live-services name-upcoming">
                                                    <div class="time-game-v3">
                                                        <p>{{ game.start_ts| formatDate:'noLocaleTime':null:$root.env.timeFormat }}</p>
                                                    </div>
                                                    <p>
                                                        <span>
                                                            <i>{{game.team1_name}}</i>
                                                            <b trans>-</b>
                                                            <i>{{game.team2_name}}</i>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <div class="markets-custom-view-v3 live-services upcoming" ng-click="goToUrl(game); $event.stopPropagation();">
                                            <span>+{{game.markets_count}}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>