@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?g62xa2');
    src:    url('fonts/icomoon.eot?g62xa2#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?g62xa2') format('truetype'),
        url('fonts/icomoon.woff?g62xa2') format('woff'),
        url('fonts/icomoon.svg?g62xa2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Modernicons_BEACHFOOTBALL .path1:before {
    content: "\e90d";
}
.icon-Modernicons_CALLOFDUTY:before {
    content: "\e910";
}
.icon-Modernicons_FREESTYLEWRESTLING:before {
    content: "\e911";
}
.icon-Modernicons_GRECO-ROMANWRESTLING :before {
    content: "\e912";
}

.icon-Modernicons_OVERWATCH:before {
    content: "\e91a";
}
.icon-Modernicons_WEIGHTLIFTING:before {
    content: "\e91b";
}
.icon-Athletics:before {
    content: "\e903";
}
.icon-autoracing:before {
    content: "\e904";
}
.icon-crosscountryskiing:before {
    content: "\e905";
}
.icon-mma:before {
    content: "\e906";
}
.icon-olimpics:before {
    content: "\e907";
}
.icon-RugbyLeague:before {
    content: "\e908";
}
.icon-RugbySeven:before {
    content: "\e909";
}
.icon-RugbyUnion:before {
    content: "\e90a";
}
.icon-SkiJumping:before {
    content: "\e90b";
}
.icon-wwe:before {
    content: "\e90c";
}
.icon-Bowls:before {
    content: "\e902";
}
.icon-ebasketball:before {
    content: "\e900";
}
.icon-efootball:before {
    content: "\e901";
}
.icon-Allsports_allsporticon:before {
    content: "\e800";
}
.icon-cybersport:before {
    content: "\e667";
}
.icon-blank:before {
    content: "\e65c";
}
.icon-VirtualSports:before {
    content: "\e65d";
}
.icon-Motorbikes:before {
    content: "\e65e";
}
.icon-SoccerFootball:before {
    content: "\e65f";
}
.icon-IceHockey:before {
    content: "\e660";
}
.icon-Basketball:before {
    content: "\e661";
}
.icon-Electronic:before {
    content: "\e662";
}
.icon-Hurling:before {
    content: "\e663";
}
.icon-Confederations:before {
    content: "\e664";
}
.icon-Sumo:before {
    content: "\e665";
}
.icon-SoccerWC2014:before {
    content: "\e666";
}
.icon-PokerLive:before {
    content: "\e600";
}
.icon-Mafia:before {
    content: "\e601";
}
.icon-Lottery:before {
    content: "\e602";
}
.icon-SportAndFun:before {
    content: "\e603";
}
.icon-Angling:before {
    content: "\e604";
}
.icon-Greyhounds:before {
    content: "\e605";
}
.icon-HorseRacing:before {
    content: "\e606";
}
.icon-FigureSkating:before {
    content: "\e607";
}
.icon-Luge:before {
    content: "\e608";
}
.icon-Freestyle:before {
    content: "\e609";
}
.icon-Speedskating:before {
    content: "\e60a";
}
.icon-UltimateFighting:before {
    content: "\e60b";
}
.icon-NordicCombined:before {
    content: "\e60c";
}
.icon-SkiJump:before {
    content: "\e60d";
}
.icon-AlpineSkiing:before {
    content: "\e60e";
}
.icon-Skis:before {
    content: "\e60f";
}
.icon-Snowboard:before {
    content: "\e610";
}
.icon-Bobsleigh:before {
    content: "\e611";
}
.icon-Surfing:before {
    content: "\e612";
}
.icon-Chess:before {
    content: "\e613";
}
.icon-Balls:before {
    content: "\e614";
}
.icon-Triathlon:before {
    content: "\e615";
}
.icon-Biathlon:before {
    content: "\e616";
}
.icon-GaelicFootball:before {
    content: "\e617";
}
.icon-BallHockey:before {
    content: "\e618";
}
.icon-GrassHockey:before {
    content: "\e619";
}
.icon-RinkHockey:before {
    content: "\e61a";
}
.icon-Hockey:before {
    content: "\e61b";
}
.icon-SMiniSoccer:before {
    content: "\e61c";
}
.icon-Netball:before {
    content: "\e61d";
}
.icon-Floorball:before {
    content: "\e61e";
}
.icon-Speedway:before {
    content: "\e61f";
}
.icon-Nascar:before {
    content: "\e620";
}
.icon-Rally:before {
    content: "\e621";
}
.icon-Motosport:before {
    content: "\e622";
}
.icon-Formula1:before {
    content: "\e623";
}
.icon-UFS:before {
    content: "\e624";
}
.icon-SportFight:before {
    content: "\e625";
}
.icon-Pool:before {
    content: "\e626";
}
.icon-Snooker:before {
    content: "\e627";
}
.icon-Rugby:before {
    content: "\e628";
}
.icon-Bridge:before {
    content: "\e629";
}
.icon-Poker:before {
    content: "\e62a";
}
.icon-WhatWhereWhen:before {
    content: "\e62b";
}
.icon-Oscars:before {
    content: "\e62c";
}
.icon-Telecasts:before {
    content: "\e62d";
}
.icon-Politics:before {
    content: "\e62e";
}
.icon-Padel:before {
    content: "\e62f";
}
.icon-BeachSoccer:before {
    content: "\e630";
}
.icon-BeachHandball:before {
    content: "\e631";
}
.icon-Squash:before {
    content: "\e632";
}
.icon-PadelTennis:before {
    content: "\e633";
}
.icon-SummerOlympics:before {
    content: "\e634";
}
.icon-Lacross:before {
    content: "\e635";
}
.icon-Softball:before {
    content: "\e636";
}
.icon-Pesapallo:before {
    content: "\e637";
}
.icon-Cricket:before {
    content: "\e638";
}
.icon-SpecialBets:before {
    content: "\e639";
}
.icon-Eurovision:before {
    content: "\e63a";
}
.icon-Curling:before {
    content: "\e63b";
}
.icon-WinterOlympics:before {
    content: "\e63c";
}
.icon-Darts:before {
    content: "\e63d";
}
.icon-Golf:before {
    content: "\e63e";
}
.icon-MiniSoccer:before {
    content: "\e63f";
}
.icon-AmericanFootball:before {
    content: "\e640";
}
.icon-AustralianFootball:before {
    content: "\e641";
}
.icon-Badminton:before {
    content: "\e642";
}
.icon-TableTennis:before {
    content: "\e643";
}
.icon-Cyclo-Cross:before {
    content: "\e644";
}
.icon-Cycling:before {
    content: "\e645";
}
.icon-Rowing:before {
    content: "\e646";
}
.icon-Diving:before {
    content: "\e647";
}
.icon-SynchronizedSwimming:before {
    content: "\e648";
}
.icon-Swimming:before {
    content: "\e649";
}
.icon-Yachting:before {
    content: "\e64a";
}
.icon-WaterPolo:before {
    content: "\e64b";
}
.icon-Archery:before {
    content: "\e64c";
}
.icon-Shooting:before {
    content: "\e64d";
}
.icon-Fencing:before {
    content: "\e64e";
}
.icon-WrestlingSchwingen:before {
    content: "\e64f";
}
.icon-ModernPentathlon:before {
    content: "\e650";
}
.icon-Judo:before {
    content: "\e651";
}
.icon-Taekwondo:before {
    content: "\e652";
}
.icon-Gymnastics:before {
    content: "\e653";
}
.icon-HardAthletics:before {
    content: "\e654";
}
.icon-LightAthletics:before {
    content: "\e655";
}
.icon-Boxing:before {
    content: "\e656";
}
.icon-BeachVolleyball:before {
    content: "\e657";
}
.icon-Handball:before {
    content: "\e658";
}
.icon-Baseball:before {
    content: "\e659";
}
.icon-Volleyball:before {
    content: "\e65a";
}
.icon-Tennis:before {
    content: "\e65b";
}

