<div ng-switch="regItem.type">
    <!-- INPUT TYPE TEXT -->
    <div ng-switch-when="text"
         class="{{regItem.classes}}"
         ng-init="resetError[regItem.name] = true"
         ng-class="{
         'error': (!resetError[regItem.name] || registerform[regItem.name].blur) && registerform[regItem.name].$invalid && showFieldsValidation && showAfterFocus,
         'valid' : registerform[regItem.name].$valid && showFieldsValidation && showAfterFocus}">

        <label for='Input_{{regItem.name}}' ng-class="registerform.{{regItem.name}}.$viewValue.length > 0 || focused  ? 'focused': ''">
            <span ng-bind="regItem.title | translate"></span>
            <span class="hint" ng-if="regItem.required">*</span>
        </label>

        <div vb-html-compiler="<input type='text' name='{{regItem.name}}' id='Input_{{regItem.name}}' ng-focus='focused=true' ng-blur='registerform[regItem.name].blur=true; focused=false; showAfterFocus = true' ng-model='registrationData[regItem.name]'/>" custom-attrs="regItem.customAttrs"></div>

        <div class="password-info-t" ng-if="focused && registerform[regItem.name].$invalid">
            <div class="error-icon-f"></div>
            <p>{{regItem.tooltip|translate}}</p>
        </div>

        <div class="form-error-icon" ng-click="errorVisible = !errorVisible;"></div>

        <div ng-if="!focused && errorVisible && !registerform[regItem.name].$valid" class="form-error-text">
            <div class="error-icon-f"></div>
            <p ng-repeat="val in regItem.validation"
               ng-show="registerform[regItem.name].$error[val.name]">
                {{val.message|translate}}
            </p>
        </div>
    </div>

    <!-- INPUT TYPE EMAIL -->
    <div ng-switch-when="email"
         class="{{regItem.classes}}"
         ng-init="resetError[regItem.name] = true"
         ng-class="{
         'error': (!resetError[regItem.name] || registerform[regItem.name].blur) && registerform[regItem.name].$invalid && showFieldsValidation && showAfterFocus,
         'valid' : registerform[regItem.name].$valid && showFieldsValidation && showAfterFocus}">

        <label for='Input_{{regItem.name}}' ng-class="registerform.{{regItem.name}}.$viewValue.length > 0 || focused  ? 'focused': ''">
            <span  ng-bind="regItem.title | translate"></span>
            <span class="hint" ng-if="regItem.required">*</span>
        </label>

        <div vb-html-compiler="<input type='email' name='{{regItem.name}}' id='Input_{{regItem.name}}' ng-focus='focused = true' ng-blur='registerform[regItem.name].blur=true; focused = false; showAfterFocus=true' ng-model='registrationData[regItem.name]'/>" custom-attrs="regItem.customAttrs"></div><!--ng-pattern='/^[\w!.%+\-]+@[\w\-]+(?:\.[\w\-]+)+$/'-->

        <div class="password-info-t" ng-if="focused && registerform[regItem.name].$invalid">
            <div class="error-icon-f"></div>
            <p>{{regItem.tooltip|translate}}</p>
        </div>

        <div class="form-error-icon" ng-click="errorVisible = !errorVisible;"></div>

        <div ng-if="!focused && errorVisible && !registerform[regItem.name].$valid" class="form-error-text">
            <div class="error-icon-f"></div>
            <p ng-repeat="val in regItem.validation"
               ng-show="registerform[regItem.name].$error[val.name]">
                {{val.message|translate}}
            </p>
        </div>
    </div>

    <!-- INPUT TYPE PASSWORD -->
    <div id='id_{{regItem.name}}' ng-switch-when="password"
         class="{{regItem.classes}}"
         ng-init="resetError[regItem.name] = true"
         ng-class="{
         'error': (!resetError[regItem.name] || registerform[regItem.name].blur) && registerform[regItem.name].$invalid && showFieldsValidation && showAfterFocus,
         'valid' : registerform[regItem.name].$valid && showFieldsValidation && showAfterFocus}">

        <label for='Input_{{regItem.name}}' ng-class="registerform.{{regItem.name}}.$viewValue.length > 0 || focused  ? 'focused': ''">
            <span ng-bind="regItem.title | translate"></span>
            <span class="hint" ng-if="regItem.required">*</span>
        </label>

        <div vb-html-compiler="<input ng-init='toolTip=false' ng-focus='toolTip=true;focused=true' id='Input_{{regItem.name}}' ng-blur='toolTip=false;registerform[regItem.name].blur=true; focused=false; showAfterFocus=true' type='password' name='{{regItem.name}}' ng-model='registrationData[regItem.name]'/>"
             custom-attrs="regItem.customAttrs"
             insert-after="<div ng-if='conf.showCapsLockHint && capsLockStateHolder[regItem.name]' class='capslock-is-on-j' trans>Caps Lock is On</div>"></div>

        <div ng-password-strength='registrationData[regItem.name]'></div>

        <div class="password-info-t" ng-if="focused && registerform[regItem.name].$invalid">
            <div class="error-icon-f"></div>
            <p>{{regItem.tooltip|translate}}</p>
        </div>

        <div class="form-error-icon" ng-click="errorVisible = !errorVisible;"></div>

        <div ng-if="!focused && errorVisible && !registerform[regItem.name].$valid" class="form-error-text">
            <div class="error-icon-f"></div>
            <p ng-repeat="val in regItem.validation"
               ng-show="registerform[regItem.name].$error[val.name]">
                {{val.message|translate}}
            </p>
        </div>
    </div>

    <!--  SELECT -->
    <div ng-switch-when="select"
         class="{{regItem.classes}}"
         ng-init="resetError[regItem.name] = true;openDropdown = false"
         ng-class="{'error': (!resetError[regItem.name] || registerform[regItem.name].blur) && registerform[regItem.name].$invalid && showFieldsValidation}"
         title="{{regItem.hoverBlock ? (regItem.hoverBlock  | translate) : '' }}">
        <!-- Added hoverBlock property-->
        <div ng-if="regItem.customValidation" vb-html-compiler="{{regItem.customValidation}}"></div>

        <label for='Input_{{regItem.name}}'>
            <span ng-bind="regItem.title | translate"></span>
            <span class="hint" ng-if="regItem.required">*</span>
        </label>

        <div class="vb-select {{openDropdown ? 'open' : ''}}"
             vb-html-compiler="<select name='{{regItem.name}}' ng-click='openDropdown = !openDropdown' ng-blur='registerform[regItem.name].blur=true' ng-model='registrationData[regItem.name]' ng-disabled='registerform[regItem.name].disabled'></select>"
             append-to-html="{{regItem.optionsData}}"
             custom-attrs="regItem.customAttrs"></div>
        <div class="form-error-icon" ng-click="resetFieldError(regItem.name)"></div>
        <div ng-if="!focused && errorVisible && !registerform[regItem.name].$valid" class="form-error-text">
            <div class="error-icon-f"></div>
            <p ng-repeat="val in regItem.validation"
               ng-show="registerform[regItem.name].$error[val.name]">
                {{val.message|translate}}
            </p>
        </div>
    </div>

    <!-- INPUT TYPE ChECKBOX -->
    <div ng-switch-when="checkbox"
         class="{{regItem.classes}}"
         ng-init="resetError[regItem.name] = true"
         ng-class="{'error':(!resetError[regItem.name] || registerform[regItem.name].blur) && registerform[regItem.name].$invalid && showFieldsValidation}">
        <div vb-html-compiler="<input type='checkbox' name='{{regItem.name}}' ng-blur='registerform[regItem.name].blur=true' ng-model='registrationData[regItem.name]'   id='checkbox-id{{$index}}'/>"
             class="check"
             insert-after='<label for="checkbox-id{{$index}}"><span  ng-bind="regItem.title | translate"></span> <span class="hint" ng-if="regItem.required">*</span></label>'
             custom-attrs="regItem.customAttrs"></div>

        <div class="form-error-icon" ng-click="resetFieldError(regItem.name)"></div>
        <div class="form-error-text">
            <div class="error-icon-f"></div>
            <p ng-repeat="val in regItem.validation"
               ng-show="registerform[regItem.name].$error[val.name]">
                {{val.message|translate}}
            </p>
        </div>
    </div>
    <div ng-switch-when="div" class="text-simple-view-reg">
        <p>{{regItem.content|translate}}</p>
    </div>
    <input ng-switch-when="iovation" ng-if="conf.iovationLoginScripts" ng-init="initIovation()" ng-model="registrationData[regItem.name]" name="ioBlackBox" id="ioBlackBox" class="ng-hide" value="" />

    <!-- INPUT TYPE CAPTCHA -->
    <div ng-switch-when="captcha"
         class="captcha {{regItem.classes}}"
         ng-init="resetError[regItem.name] = true"
         ng-class="{'error': (!resetError[regItem.name] || registerform[regItem.name].blur) && registerform[regItem.name].$invalid && showFieldsValidation}"
         ng-show="regItem.imgSrc"
    >

        <label>
            <span ng-bind="regItem.title | translate"></span>
            <span class="hint" ng-if="regItem.required">*</span>
            <img ng-src="{{regItem.imgSrc}}">
            <button ng-click="loadCaptchaImage(regItem)" trans>Reload</button>
        </label>

        <div vb-html-compiler="<input type='text' name='{{regItem.name}}' ng-blur='registerform[regItem.name].blur=true' ng-model='registrationData[regItem.name]' placeholder='{{regItem.placeholder|translate}}'/>" custom-attrs="regItem.customAttrs"></div>

        <div class="password-info-t" ng-show="regItem.tooltip"><p>{{regItem.tooltip|translate}}</p></div>

        <div class="form-error-icon" ng-click="resetFieldError(regItem.name)"></div>
        <div class="form-error-text">
            <div class="error-icon-f"></div>
            <p ng-repeat="val in regItem.validation"
               ng-show="registerform[regItem.name].$error[val.name]">
                {{val.message|translate}}
            </p>
        </div>
    </div>
</div>

