<div class="reset-password block-sign-in-form">
    <div class="form-contain">
        <div class="vertical-middle-wrapper">
            <div class="all-popup-separator">
                <div class="register-steps-b">      
                    <div class="closed-popup-form" ng-click="closeSlider(); resetPasswordResult();"></div>                          
                    <h2 ng-show="!passwordResetComplete && !passwordResetFailed && !usernameOrEmailInvalid" trans>Write Your New Password</h3>
                    <form name="resetPasswordForm" ng-submit="sendNewPassword()" novalidate="novalidate" ng-show="!passwordResetComplete && !passwordResetFailed && !usernameOrEmailInvalid">
                        <div class="form-sign-in">

                            <div class="field-separator">
                                <label for="password1" ng-class="resetPasswordForm.password1.$viewValue.length > 0 || password1.focused  ? 'focused': ''" trans>Password</label>
                                <div class="form-text error" ng-class="{'valid': resetPasswordData.password1}" custom-attrs="regItem.customAttrs">                                        
                                    <input 
                                    ng-focus='password1.focused=true'
                                    ng-blur='password1.focused=false'
                                    id="password1" 
                                    name="password1" 
                                    type="password" required 
                                    ng-model="resetPasswordData.password1" 
                                    autocomplete="off" trans>
                                    <div ng-password-strength='resetPasswordData.password1'></div>
                                    <div class="form-error-icon" ng-click="errorVisible = !errorVisible;"></div>
                                    <div class="password-info-t" ng-show="focused && resetPasswordForm.password1.$viewValue.length > 0">
                                        <div class="error-icon-f"></div>
                                        <p>{{conf.passwordResetValidationTooltip|translate}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="field-separator">
                                <label for="password2" ng-class="resetPasswordForm.password2.$viewValue.length > 0 || password2.focused  ? 'focused': ''" trans>Repeat Password</label>
                                <div class="form-text error">
                                    <input 
                                    ng-focus='password2.focused=true'
                                    ng-blur='password2.focused=false'
                                    id="password2" 
                                    name="password2" 
                                    type="password" required 
                                    ng-model="resetPasswordData.password2" 
                                    autocomplete="off" trans
                                    >
                                    <div class="form-error-icon" ng-show="resetPasswordData.error.password2"></div>
                                    <div class="password-info-t" ng-class="{'error': resetPasswordData.error.password2}" ng-show="resetPasswordData.error.password2">
                                        <div class="error-icon-f"></div>
                                        <p trans>The passwords don't match. Please check both fields.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="button-sign">
                            <input name="" type="submit" value="{{'Change'|translate}}">
                        </div>
                    </form>
                    <div class="registration-ok" ng-show="passwordResetComplete">
                        <p><span trans>Password Saved</span><span trans>You have saved your new password and can sign in.</span></p>
                        <button class="registration-done-btn" ng-click="broadcast('openLoginForm');goToTop();$parent.verytopMenuExpanded=false;$event.stopPropagation();" trans>SIGN IN</button>
                    </div>
                    <div class="registration-failed" ng-show="passwordResetFailed">
                        <p><span>{{passwordResetFailed|translate}}</span></p>
                        <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK</button>
                    </div>
                    <div class="registration-failed" ng-show="usernameOrEmailInvalid">
                        <p><span trans>Username or email invalid</span></p>
                        <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK</button>
                    </div>
                </div>
                 <div class="close-popup-overlay" ng-click="broadcast('slider.close')"></div>
            </div>
        </div>  
    </div>
</div>
