<div class="block-sign-in-form">
    <div class="form-contain">
        <h3 ng-show="!passwordResetComplete && !passwordResetFailed && !usernameOrEmailInvalid" trans>Type your new password</h3>
        <form name="resetPasswordForm" ng-submit="sendNewPassword()" novalidate="novalidate" ng-show="!passwordResetComplete && !passwordResetFailed && !usernameOrEmailInvalid">
            <div class="form-sign-in">
                <label trans>Password</label>
                <div class="form-text error">
                    <input name="password1" type="password" placeholder="Please type your new password" required ng-model="resetPasswordData.password1" autocomplete="off" trans>
                    <div class="form-error-icon" ng-show="resetPasswordData.error.password1"></div>
                    <div class="form-error-text" ng-show="resetPasswordData.error.password1">
                        <div class="error-icon-f"></div>
                        <p>{{conf.passwordResetValidationTooltip|translate}}</p>
                    </div>
                </div>

                <label trans>Repeat Password</label>
                <div class="form-text error">
                    <input name="password2" type="password" placeholder="Please type your new password again" required ng-model="resetPasswordData.password2" autocomplete="off" trans>
                    <div class="form-error-icon" ng-show="resetPasswordData.error.password2"></div>
                    <div class="form-error-text" ng-show="resetPasswordData.error.password2">
                        <div class="error-icon-f"></div>
                        <p trans>Passwords are different</p>
                    </div>
                </div>
            </div>
            <div class="button-sign">
                <input name="" type="submit" value="{{'Change'|translate}}" ng-disabled="sendingNewPassword">
            </div>
        </form>
        <div class="registration-ok" ng-show="passwordResetComplete">
            <p><span trans>Your password has been changed.</span></p>
            <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK</button>
        </div>
        <div class="registration-failed" ng-show="passwordResetFailed">
            <p><span>{{passwordResetFailed|translate}}</span></p>
            <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK</button>
        </div>
        <div class="registration-failed" ng-show="usernameOrEmailInvalid">
            <p><span trans>Username or email invalid</span></p>
            <button class="registration-done-btn" ng-click="resetPasswordResult()" trans>OK</button>
        </div>
    </div>
</div>
