<div class="game-score-multiset event-view-contain" ng-class="{'soccer': openGame.sport.alias==='Soccer'}" ng-if="openGame.show_type != 'OUTRIGHT' && (openGame.sport.alias !== 'HorseRacing')">
    <ul class="title" title="{{ conf.edition.enabled ? (('Edition'|translate) + ': ' + (openGame.start_ts|formatDate:'edition')) : '' }}" >
        <li>
            <b class="curr-minute-info ellipsis-text" ng-hide="openGame.show_type == 'OUTRIGHT'"> {{ openGame.info.current_game_state|convertSetName:openGame.sport.alias|translate }} {{openGame.info.current_game_state !== 'notstarted' && openGame.info.current_game_state !== 'timeout'? openGame.info.current_game_time : ''}}</b>
            <b class="blink" ng-show="(openGame.sport.alias==='Soccer' && openGame.info.current_game_state !== 'notstarted' && openGame.info.current_game_state !== 'timeout')">'</b>
        </li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span class="corner" title="corners" trans><span></span></span></li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span class="y-card" title="yellow cards" trans></span></li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span class="r-card" title="red cards" trans></span></li>
        <li class="total-score" ng-if="openGame.sport.alias==='Tennis'"><span trans>Points</span></li>
        <li class="left-arrow" ng-class="{'disabled': openGame.setsOffset === 0}" ng-click="slideSets('left', openGame, visibleSetsNumber)" ng-if="visibleSetsNumber < framesCount(openGame.stats).length"></li>
        <li ng-repeat="frame_num in framesCount(openGame.stats)"
            ng-show="frame_num > openGame.setsOffset && frame_num <= visibleSetsNumber + openGame.setsOffset"
            ng-class="{'active-cash':openGame.info.current_game_state === 'set'+frame_num}">
            <span ng-bind="showFrameAlias(frame_num, openGame.sport.alias)"></span>
        </li>
        <li class="right-arrow" ng-class="{'disabled': openGame.setsOffset === framesCount(openGame.stats).length - visibleSetsNumber}" ng-click="slideSets('right', openGame, visibleSetsNumber, framesCount(openGame.stats).length)" ng-if="visibleSetsNumber < framesCount(openGame.stats).length"></li>
        <li class="sets-score">
            <span>{{"set"|convertSetName:openGame.sport.alias|translate}}</span>
        </li>
    </ul>
    <ul>
        <li>
            <dl>
                <dt>
                <b class="team-form" ng-if="openGame.sport.alias==='Soccer'"><tshirt shorts="{{openGame.info.short1_color}}" shirt="{{openGame.info.shirt1_color}}"></tshirt></b>
                <b class="ico ico-led" ng-class="{'highlight': openGame.info.pass_team === 'team1'}" ng-if="openGame.info.pass_team"></b>
                <p title="{{ openGame.team1_name ?  openGame.team1_name: '' }}">{{ openGame.team1_name ?  openGame.team1_name: '' }}</p>
                </dt>
            </dl>
        </li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span>{{ openGame.stats.corner.team1_value }}</span></li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span>{{ openGame.stats.yellow_card.team1_value }}</span></li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span>{{ openGame.stats.red_card.team1_value }}</span></li>
        <li class="total-score" ng-if="openGame.sport.alias==='Tennis'"><span>{{ openGame.stats.passes.team1_value || 0 }}</span></li>
        <li ng-if="visibleSetsNumber < framesCount(openGame.stats).length"></li>
        <li ng-repeat="frame_num in framesCount(openGame.stats)"
            ng-show="frame_num > openGame.setsOffset && frame_num <= visibleSetsNumber + openGame.setsOffset"
            ng-class="{'active-cash':openGame.info.current_game_state === 'set'+frame_num,'winner':isSetWinner(openGame.stats['score_set'+frame_num],1)}">
            <span>{{openGame.stats['score_set' + frame_num].team1_value ? openGame.stats['score_set' + frame_num].team1_value : 0}}</span>
        </li>
        <li ng-if="visibleSetsNumber < framesCount(openGame.stats).length"></li>
        <li class="sets-score"><span>{{ openGame.info.score1 ?  openGame.info.score1 : '' | translate}}</span></li>
    </ul>
    <ul>
        <li>
            <dl>
                <dt>
                <b class="team-form" ng-if="openGame.sport.alias==='Soccer'"><tshirt shorts="{{openGame.info.short2_color}}" shirt="{{openGame.info.shirt2_color}}"></tshirt></b>
                <b class="ico ico-led" ng-class="{'highlight': openGame.info.pass_team === 'team2'}" ng-if="openGame.info.pass_team" ></b>
                <p title="{{ openGame.team2_name ?  openGame.team2_name: '' }}">{{ openGame.team2_name ?  openGame.team2_name: '' }}</p>
                </dt>
            </dl>

        </li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span>{{ openGame.stats.corner.team2_value }}</span></li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span>{{ openGame.stats.yellow_card.team2_value }}</span></li>
        <li ng-if="openGame.sport.alias==='Soccer'"><span>{{ openGame.stats.red_card.team2_value }}</span></li>
        <li class="total-score" ng-if="openGame.sport.alias==='Tennis'"><span>{{ openGame.stats.passes.team2_value || 0 }}</span></li>
        <li ng-if="visibleSetsNumber <framesCount(openGame.stats).length"></li>
        <li ng-repeat="frame_num in framesCount(openGame.stats)"
            ng-show="frame_num > openGame.setsOffset && frame_num <= visibleSetsNumber + openGame.setsOffset"
            ng-class="{'active-cash':openGame.info.current_game_state === 'set'+frame_num,'winner':isSetWinner(openGame.stats['score_set'+frame_num],2)}">
            <span>{{openGame.stats['score_set' + frame_num].team2_value ? openGame.stats['score_set' + frame_num].team2_value : 0}}</span>
        </li>
        <li ng-if="visibleSetsNumber < framesCount(openGame.stats).length"></li>
        <li class="sets-score"><span>{{ openGame.info.score2 ?  openGame.info.score2 : '' | translate}}</span></li>
    </ul>
</div>