<!--Menu-->
<div class="subtop-header-menu-j">

    <ul>
        <li ng-if="(menu.enabled || conf[menu.enabledConfig]) && (!menu.exceptViews || menu.exceptViews.indexOf(conf.sportsLayout) === -1)"
            ng-repeat="menu in conf.subHeaderItems track by menu.alias" ng-class="{'active': $location.path() === '/' + menu.alias + '/'}">
            <a ng-if="!menu.url" ng-href="{{$location.path() === '/' + menu.alias + '/' ? $location.absUrl() + '#' : '#/' + menu.alias }}">{{menu.displayName|translate}}</a>
            <a ng-if="menu.url" ng-href="{{menu.url}}" ng-click="$event.stopPropagation()" target="_blank">{{menu.displayName|translate}}</a>
        </li>
    </ul>

    <!--Clock-->
    <div class="separator-contain-nav-time {{conf.enableTimeZoneSelect ? 'timezone-v' : 'no-timezone-v'}} {{conf.enableTimeZoneSelect && headerVersion2Icons.timezoneIsToggled ? 'active' : ''}}"
         hide-on-click state-flag-var="headerVersion2Icons.timezoneIsToggled">
        <div class="settings-icon-contain clock-set-b"
             ng-click="headerVersion2Icons.timezoneIsToggled = !headerVersion2Icons.timezoneIsToggled">
            <span ng-bind="env.clock|formatDate:'fullHourWithoutAmPm':null:env.timeFormat"></span>
            <i ng-bind="env.clock|formatDate:'onlyAmPm':null:env.timeFormat"></i>
        </div>

        <div class="nav-open-view-contain" ng-if="conf.enableTimeZoneSelect">
            <ul>
                <li>
                    <div class="drop-nav-new-b">
                        <p>
                            <span trans>Change Time zone</span>
                        </p>
                        <div class="drop-items-contain-b">
                            <ul>
                                <li ng-repeat="zone in timezones track by $index" ng-click="setTimezoneSwitcherValue(zone.value)" ng-class="{active: (zone.value == env.selectedTimeZone)}">
                                    <span>{{zone.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--Clock END-->



    <!--Settings-->
    <div class="separator-contain-nav-settings">

        <!--Language-->
        <div class="separator-contain-nav user-nav-view-b ng-scope {{headerVersion2Icons.languageIsToggled ? 'active' : ''}}"
             ng-show="(conf.availableLanguages|count) > 1"
             hide-on-click state-flag-var="headerVersion2Icons.languageIsToggled">
            <div class="settings-icon-contain leng-b selected-{{env.lang}}" ng-click="headerVersion2Icons.languageIsToggled = !headerVersion2Icons.languageIsToggled"  title="Language">
                <span>{{conf.availableLanguages[env.lang].short}}</span>
                <i></i>
            </div>

            <div class="nav-open-view-contain">
                <ul>
                    <li>
                        <div class="drop-nav-new-b">
                            <p>
                                <span trans>Change language</span>
                            </p>
                            <div class="drop-items-contain-b">
                                <ul>
                                    <li ng-repeat="lang in sortedAvailableLanguages track by lang.code"
                                        ng-click="selectLanguage(lang.code)" ng-class="{'active': lang.code === env.lang}" class="{{lang.code}}">{{ lang.full|translate }}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--Language END-->

        <!--Settings-->
        <ng-include class="settings-include-contain" src="getTemplate('templates/header/version_' + conf.header.version + '/settings.html')"
                    ng-if="(conf.enableSettings.authorized && env.authorized) || (conf.enableSettings.notAuthorized && !env.authorized)" ng-init="settingsInit()" hide-on-click state-flag-var="headerVersion2Icons.settingsIsToggled" ></ng-include>
        <!--Settings END-->

        <!--Help-->
        <div class="separator-contain-nav user-nav-view-b" title="Help Center">
            <div class="settings-include-contain" id="faq-header" ng-click="openFaq()" ng-if="conf.haveFaq && conf.haveFaq==true" class="separator-contain-nav user-nav-view-b ng-scope {{headerVersion2Icons.helpIsToggled ? 'active' : ''}}"
                 except="start-demo-tour" ng-click="headerVersion2Icons.helpIsToggled = !headerVersion2Icons.helpIsToggled">
                <div class="settings-icon-contain help-icon-b"></div>
            </div>
        </div>
        <!--Help END-->

        <!--Sound-->
<!--         <div class="separator-contain-nav user-nav-view-b">
            <div class="settings-include-contain">
                <div class="fullscreen-icon-contain sound-icon-b" ></div>

             </div>
         </div>
--!>
        <!--Sound END-->

        <!--FullScreen-->
        <div class="separator-contain-nav user-nav-view-b" ng-click="goFullscreen()" title="Full Screen">
            <div class="settings-include-contain">
                <div class="fullscreen-icon-contain fullscreen-icon-b" ng-class="{'active': isActive}"></div>
            </div>
        </div>
        <!--FullScreen END-->


    </div>
    <!--Settings END-->

</div>
<!--Menu END-->




